// Created by brokenq on  14-12-30.
include /index/panels/tab

+tab_pane()
  +treeChart("realTimeLineGraph","realTimeTree")
  //.col-md-9
  //  #realTimeLineGraph.chartmain
  //.col-md-3.chartwell
  //  .left
  //    #realTimeTree.ztree(style="overflow:auto;")



