.form-wrapper{
    border:1px solid #ccc;
    padding: 20px 50px;
    width: 100%;
    overflow: auto;
}
.widget-body{
    border-bottom:none;
}
.widget-body .table {
    border-bottom: 1px solid #ccc;
}
.modal-content .modal-body label{
    margin-top: 0;
}
.form-horizontal .form-group {
    margin-bottom:25px;
}
.modal-dialog .search-head input,.modal-dialog .search-head select{
    width: 126px!important;
    margin-right: 20px;
}


#fileDialog .modal-content{
    width: 480px;
    height: 160px;
}

#fileDialog .modal-dialog{
    width: 480px;
    height: 160px;
    margin-left: -220px;
    margin-top: -120px;
}

#fileDialog .modal-content .modal-body .dialog-con{
    height: 85px;
}

#editForm .warn{
    position: absolute;
    color: #cb0202;
}
.form-control[readonly]{
   cursor: auto;
}
.disabledDiv{
    width:755px;border:1px solid #ccc;height: 200px;overflow: auto;background-color:#eee;
}

.lc{
    background:url(../../img/itsm/lc.png);
    display: inline-block;
    height: 12px;
    width: 12px;
}
img {
    margin-top: -5px;
    position: relative;
}

.form-group input[type="text"][name="title"]{
    height: 28px;
    width:755px;
}
.form-group input[type="email"]{
    height: 28px;
    width: 280px;
}
#imageDialog .modal-content{
    width: 1024px;
    height: 550px;
}

#imageDialog .modal-dialog{
    width: 1024px;
    height: 550px;
    margin-left: -510px;
}

#imageDialog .modal-content .modal-body .dialog-con{
    height: 500px;
}
.form-control{
    display: inline;
}
.col-sm-11{
    padding-left: 18px;
}
select.form-control {
    padding: 4px 1px;
    height: 32px;
}
.mt20{
    margin-left: 0px;
    margin-right: 0px;
}