<link rel="stylesheet" type="text/css" href="css/itsm/itsm.css">
<div dialog info="alarmDialog" class="ldialog">
    <div class="dialog-con" style="overflow: auto;">
        <div class="search-head" style="display: block">
            <div class="row">
                <label>资源类型：</label>
                <select ng-model="alarmSearchPage.data.mocpId"  >
                    <option value="">不限</option>
                    <option ng-repeat="type in alarmSearchPage.datas.mocp" value={{type['id']}}>
                        {{type['displayName']}}
                    </option>
                </select>
                <select id="alarmMocId" ng-model="alarmSearchPage.data.mocId" >
                    <option value="">不限</option>
                    <option ng-repeat="type in alarmSearchPage.datas.moc" value={{type['id']}}>
                        {{type['displayName']}}
                    </option>
                </select>
                <label>资源实例：</label>
                <input type="text" ng-model="alarmSearchPage.data.moName" maxlength="30" />
            </div>
            <div class="row">
                <label>指标类型：</label>
                <select ng-model="alarmSearchPage.data.indicatorId"  >
                    <option value=""> 不限</option>
                    <option ng-repeat="type in alarmSearchPage.datas.indicators" value={{type['id']}}>
                        {{type['displayName']}}
                    </option>
                </select>
                <select ng-model="alarmSearchPage.data.metricId" >
                    <option value=""> 不限</option>
                    <option ng-repeat="type in alarmSearchPage.datas.metrics" value={{type['id']}}>
                        {{type['displayName']}}
                    </option>
                </select>
                <label> 所属机房：</label>
                <select ng-model="alarmSearchPage.data.jfId" id="jfId" >
                    <option value=""> 不限</option>
                    <option ng-repeat="l in rooms" value={{l.id}}>
                        {{l.name}}
                    </option>
                </select>
            </div>
            <div class="row">
                <label>告警时段：</label>
                <input type="text" ng-model="alarmSearchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly  />
                <input type="text" ng-model="alarmSearchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly />
                <label> 确认状态：</label>
                <select ng-model="alarmSearchPage.data.confirmStatus" >
                    <option value=""> 不限</option>
                    <option value=1> 确认</option>
                    <option value=2> 未确认</option>
                </select>
            </div>
            <div class="row">
                <label> 告警级别：</label>
                <div class="checkbox"  ng-repeat="l in $root.alarm.const.levels"><label><input type="checkbox" checklist-model="alarmSearchPage.data.level" checklist-value="l.value"><i></i></label><span compile="l.label"></span></div>
                <button type="button" class="btn" ng-click="alarmListPage.settings.reload(true)">查询</button>
            </div>
        </div>
        <!-- 数据列表 -->
        <div class="pr mt10">
            <table jq-table="alarmListPage.settings" class="table"></table>
        </div>
    </div>
</div>