<link rel="stylesheet" type="text/css" href="css/alarm/alarm.css">
<div dialog info="eventDetailDialog" data="eventDetail" class="ldialog" >
<div class="dialog-con" style="height: 440px;overflow: auto;">
<div style="border: 1px solid #CCC;padding: 10px">
<div class="row">
    <div class="col-xs-6">
        <div class="detail-label" style="width: 80px;padding-left: 10px;">资源实例：</div><div class="detail-content nowrap" title="{{eventDetail.detail.moName}}">{{eventDetail.detail.moName}}</div>
    </div>
    <div class="col-xs-6">
        <div class="detail-label" style="width: 80px;padding-left: 10px;">告警等级：</div><div id="level" class="left"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="detail-label" style="width: 80px;padding-left: 10px;">资源类型：</div><div class="detail-content">{{eventDetail.detail.mocpName}}--{{eventDetail.detail.mocName}}</div>
    </div>
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">指标类型：</div><div class="detail-content">{{eventDetail.detail.indicatorName}}--{{eventDetail.detail.metricName}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">告警时间：</div><div class="detail-content">{{eventDetail.detail.alarmTime}}</div>
    </div>
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">告警内容：</div><div class="detail-content nowrap" title="{{eventDetail.detail.alarmValue}}">{{eventDetail.detail.alarmValue}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">通知方式：</div><div class="detail-content">{{eventDetail.detail.notifyWay}}</div>
    </div>
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 25px;">通知人：</div><div class="detail-content">{{eventDetail.detail.notifyUser}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">确认状态：</div><div id="confirmStatus" class="detail-content"></div>
    </div>
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 25px;">确认人：</div><div class="detail-content">{{eventDetail.detail.confirmUser}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;padding-left: 10px;">确认时间：</div><div class="detail-content">{{eventDetail.detail.confirmTime}}</div>
    </div>
    <div class="col-xs-6">
        <div  class="detail-label" style="width: 80px;">根原因分析：</div><div class="detail-content nowrap" title="{{eventDetail.detail.rootAnalysis}}">{{eventDetail.detail.rootAnalysis}}</div>
    </div>
</div>
</div>
<!--tab layout-->
<div class="mt10">
    <layout-tab>
        <tab-titles>
            <tab-title>历史告警列表</tab-title>
            <tab-title>实时告警列表</tab-title>
            <!--<tab-title>被影响资源列表</tab-title>-->
            <!--<tab-title>故障工单</tab-title>-->
        </tab-titles>
        <tab-contents>
            <tab-content>
                <div style="border: 1px solid #ccc;">
                    <table id="one" class="table" style="table-layout: fixed;white-space: nowrap;"></table>
                </div>
            </tab-content>
            <tab-content>
                <div style="border: 1px solid #ccc;">
                    <table id="two" class="table" style="table-layout: fixed;white-space: nowrap;"></table>
                </div>
            </tab-content>
            <!--<tab-content>-->
                <!--<div style="border: 1px solid #ccc;">-->
                    <!--<table id="three" class="table" style="table-layout: fixed;white-space: nowrap;"></table>-->
                <!--</div>-->
            <!--</tab-content>-->
            <!-- <tab-content>
                <div style="border: 1px solid #ccc;">
                    <table id="four" class="table" style="table-layout: fixed;white-space: nowrap;"></table>
                </div>
            </tab-content>-->
        </tab-contents>
    </layout-tab>
</div>
</div>
</div>