<form class="form-horizontal" id="editForm" name="editForm">
<div class="list_button">
    <button ng-show="findShow('sid-B0B4D832-41CE-4266-8983-0B4B4E2F02CF')" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]" type="button" class="btn" ng-click="formData.action='新建';action.start();" ng-show="childId==null || childId==32">保存</button>
    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.save();" ng-show="childId==32">保存 </button>
    <button type="button" class="btn" ng-click="formData.action='提交';action.start();" ng-show="findShow('sid-B0B4D832-41CE-4266-8983-0B4B4E2F02CF') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交 </button>

    <button type="button" class="btn" ng-click="action.process();"
            ng-show="findShow('sid-95EEDB58-8A5B-4476-B8DF-4255C4EB5C9D') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交
    </button>
    <button type="button" class="btn" ng-click="action.process();" ng-show="findShow('sid-0831B5DD-2931-4166-B0F5-7DA5F38B03E7') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交 </button>
    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="forwardDialog.show()"
            ng-show="findShow('sid-0831B5DD-2931-4166-B0F5-7DA5F38B03E7') && childId!=31">委派
    </button>

    <button type="button" class="btn" ng-click="action.check(true);" ng-show="findShow('sid-77569112-BF23-4B77-B085-50CD7C5C2A8D') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">批准 </button>
    <button type="button" class="btn" ng-click="action.check(false);" ng-show="findShow('sid-77569112-BF23-4B77-B085-50CD7C5C2A8D') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">拒绝 </button>

    <button type="button" class="btn" ng-click="action.process();" ng-show="findShow('sid-7E496CDE-54F6-4C89-A5F3-56628FA3439E') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">实施 </button>
    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="forwardDialog.show()"
            ng-show="findShow('sid-7E496CDE-54F6-4C89-A5F3-56628FA3439E') && childId!=31">委派
    </button>

    <button type="button" class="btn" ng-click="action.process(true);" ng-show="findShow('sid-19E0487D-F9AE-46BC-8B0E-B25A2D2AD8DD') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">关闭 </button>
    <button type="button" class="btn" ng-click="action.process(false);" ng-show="findShow('sid-19E0487D-F9AE-46BC-8B0E-B25A2D2AD8DD') && childId!=31" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">拒绝 </button>

    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.claimForward(formData.taskId);" ng-show="childId==31">签收</button>

    <button type="button" class="btn" ng-show="!findShow('sid-B0B4D832-41CE-4266-8983-0B4B4E2F02CF')" ng-click="action.back();">返回 </button>
</div>
<div class="form-wrapper" >
<div class="row">
    <div class="col-xs-6" ng-show="find('reporter').show">
        <div class="form-group">
            <label class="col-sm-2 control-label" >报告人</label>
            <div class="col-sm-10" ng-switch="find('reporter').required && !find('reporter').disabled">
                <div ng-switch-when="true">
                    <input type="text" name="reporter" class="form-control" ng-model="formData.reporter" ng-disabled="find('reporter').disabled" required maxlength="30">
                    <span ng-switch="find('reporter').required && !find('reporter').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.reporter.$invalid && editForm.reporter.$dirty">
                        <span>请输入报告人.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="text" name="reporter" class="form-control" ng-model="formData.reporter" ng-disabled="find('reporter').disabled" >
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('applyUser').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">创建人</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.params.applyUser" readonly
                       ng-disabled="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('reporterPhone').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10" ng-switch="find('reporterPhone').required && !find('reporterPhone').disabled">
                <div ng-switch-when="true">
                    <input type="text" name="reporterPhone" class="form-control" ng-model="formData.reporterPhone" ng-disabled="find('reporterPhone').disabled" required ng-minlength="11"  ng-maxlength="11" ng-pattern="/^[0-9]*$/">
                    <span class="required" >*</span>
                    <div class="warn" >
                        <span ng-show="editForm.reporterPhone.$error.minlength || editForm.reporterPhone.$error.maxlength || editForm.reporterPhone.$error.pattern">手机号格式错误.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="text" name="reporterPhone" class="form-control" ng-model="formData.reporterPhone" ng-disabled="find('reporterPhone').disabled" ng-minlength="11"  ng-maxlength="11" ng-pattern="/^[0-9]*$/">
                    <div class="warn" >
                        <span ng-show="editForm.reporterPhone.$error.minlength || editForm.reporterPhone.$error.maxlength || editForm.reporterPhone.$error.pattern">手机号格式错误.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('reporterEmail').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">邮件地址</label>
            <div class="col-sm-10" ng-switch="find('reporterEmail').required && !find('reporterEmail').disabled">
                <div ng-switch-when="true">
                    <input type="email" name="reporterEmail" class="form-control" ng-model="formData.reporterEmail" ng-disabled="find('reporterEmail').disabled" required maxlength="50">
                    <span class="required" >*</span>
                    <div class="warn" >
                        <span ng-show="editForm.reporterEmail.$invalid && editForm.reporterEmail.$dirty">请输入邮件地址.</span>
                        <span ng-show="editForm.reporterEmail.$error.email">邮箱地址格式错误.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="email" name="reporterEmail" class="form-control" ng-model="formData.reporterEmail" ng-disabled="find('reporterEmail').disabled" maxlength="50" >
                    <div class="warn" >
                        <span ng-show="editForm.reporterEmail.$error.email">邮箱地址格式错误.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('location').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">所属区域</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.params.location" disabled="disabled"/>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('applyTime').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.applyTime" ng-disabled="find('applyTime').disabled"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('effect').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">影响度</label>
            <div class="col-sm-10" ng-switch="find('effect').required && !find('effect').disabled">
                <div ng-switch-when="true">
                    <select name="effect" class="form-control" ng-model="formData.effect" ng-disabled="find('effect').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefInfluenceType" value={{type['code']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.effect.$invalid && editForm.effect.$dirty">
                        <span>请选择影响度.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('effect').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.effect" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('effect').disabled">
                        <select name="effect" class="form-control" ng-model="formData.effect" ng-disabled="find('effect').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefInfluenceType" value={{type['code']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('resolveGroup').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">处理组</label>
            <div class="col-sm-10"  ng-switch="find('resolveGroup').required && !find('resolveGroup').disabled">
                <div ng-switch-when="true">
                    <select name="resolveGroup" class="form-control" ng-model="formData.resolveGroup" required
                            ng-disabled="find('resolveGroup').disabled">
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.usergroup" value={{type['name']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.resolveGroup.$invalid && editForm.resolveGroup.$dirty">
                        <span>请选择处理组.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('resolveGroup').disabled">
                        <input type="text" class="form-control" ng-model="formData.resolveGroup" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('resolveGroup').disabled">
                        <select name="resolveGroup" class="form-control" ng-model="formData.resolveGroup"
                                ng-disabled="find('resolveGroup').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.usergroup" value={{type['name']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('urgency').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">紧急度</label>
            <div class="col-sm-10" ng-switch="find('urgency').required && !find('urgency').disabled">
                <div ng-switch-when="true">
                    <select name="urgency" class="form-control" ng-model="formData.urgency" ng-disabled="find('urgency').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefEmergencyType" value={{type['code']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.urgency.$invalid && editForm.urgency.$dirty">
                        <span>请选择紧急度.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('urgency').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.urgency" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('urgency').disabled">
                        <select name="urgency" class="form-control" ng-model="formData.urgency" ng-disabled="find('urgency').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefEmergencyType" value={{type['code']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('resolveUser').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">处理人</label>
            <div class="col-sm-10" ng-switch="find('resolveUser').required && !find('resolveUser').disabled">
                <div ng-switch-when="true">
                    <select name="resolveUser" class="form-control" ng-model="formData.resolveUser" required
                            ng-disabled="find('resolveUser').disabled">
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.groupUser" ng-show="type.locId==formData.location" value={{type['name']}}>
                            {{type['realName']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.resolveGroup.$invalid && editForm.resolveGroup.$dirty">
                        <span>请选择处理人.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('resolveUser').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.resolveUser" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('resolveUser').disabled">
                        <select name="resolveUser" class="form-control" ng-model="formData.resolveUser"
                                ng-disabled="find('resolveUser').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.groupUser" ng-show="type.locId==formData.location" value={{type['name']}}>
                                {{type['realName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('priority').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">优先级</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="priority" readonly value="" ng-disabled="find('priority').disabled"/>
                <span ng-switch="find('priority').required && !find('priority').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                <input type="hidden" class="form-control" ng-model="formData.priority"/>
            </div>
        </div>
        </select>
    </div>
    <div class="col-xs-6" ng-show="find('orderId').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">变更单号</label>
            <div class="col-sm-10">
                <input type="text" name="orderId" class="form-control" ng-model="formData.orderId" ng-disabled="true">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('title').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">变更标题</label>
            <div class="col-sm-11" ng-switch="find('title').required && !find('title').disabled">
                <div ng-switch-when="true">
                    <input type="text" name="title" class="form-control" ng-model="formData.title" ng-disabled="find('title').disabled" required maxlength="50">
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.title.$invalid && editForm.title.$dirty">
                        <span>请输入变更标题.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="text" name="title" class="form-control" ng-model="formData.title" ng-disabled="find('title').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('remark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">变更说明</label>
            <div class="col-sm-11" ng-switch="find('remark').required && !find('remark').disabled">
                <div ng-switch-when="true">
                    <textarea name="remark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.remark" ng-disabled="find('remark').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.remark.$invalid && editForm.remark.$dirty">
                        <span>请输入变更说明.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('remark').disabled" class="disabledDiv" compile="formData.remark"></div>
                    <div ng-if="!find('remark').disabled">
                        <textarea kind-editor ng-model="formData.remark" name="content" cols="100" rows="8" style="width:755px;height:200px;visibility:hidden;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('mos').show">
        <div class="form-group" >
            <label class="col-sm-1 control-label">关联资源
                <span ng-switch="find('mos').required && !find('mos').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.addMo();" ng-show="!find('mos').disabled">添加</button>
                <label ng-show="moData.length==0 && find('mos').disabled">无</label>
                <table class="table dataTable" style="width:755px!important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important; " ng-show="moData.length>0">
                    <thead>
                    <tr><th>资源实例</th><th>管理IP</th><th>资源类型</th><th width="100">操作</th></tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="type in moData">
                        <td ng-show="type.mocpName!='link'">
                            <a target="_blank" href="./views/dashboard/dashboard.html?type={{type.mocpName}}&moc_name={{type.mocName}}&mo_id={{type.id}}#/{{type.mocName}}">{{type['name']}}</a>
                        </td>
                        <td ng-show="type.mocpName=='link'">
                            {{type['name']}}
                        </td>
                        <td> {{type['ip']}}</td>
                        <td> {{type['mocDisplayName']}}</td>
                        <td > <i class="fa fa-trash-o" ng-disabled="find('mos').disabled" ng-click="action.deleteMo(type.id)"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-11" ng-switch="find('mos').required && !find('mos').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="mos" class="form-control" ng-model="hiddenData.mos" ng-disabled="find('mos').disabled" required>
                    <div class="warn" ng-show="editForm.mos.$invalid && editForm.mos.$dirty">
                        <span>请选择关联资源.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="mos" class="form-control" ng-model="hiddenData.mos" ng-disabled="find('mos').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('incidents').show">
        <div class="form-group" >
            <label class="col-sm-1 control-label">关联故障
                <span ng-switch="find('incidents').required && !find('incidents').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.addIncident();" ng-show="!find('incidents').disabled">添加 </button>
                <label ng-show="incidentData.length==0  && find('incidents').disabled">无</label>
                <table class="table dataTable" style="width:755px!important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important; " ng-show="incidentData.length>0">
                    <thead>
                    <tr><th width="100">故障单号</th><th>故障标题</th><th width="100">处理人</th><th width="100">操作</th></tr>
                    </thead>
                    <tbody id="tbody">
                    <tr ng-repeat="type in incidentData">
                        <td>
                            <a target="_blank" href="#/createIncident?taskKey=sid-E21AC1DF-6D03-47E0-A2BE-014ECEC5CC8D&id={{type.id}}&childId=00">{{type['orderId']}}</a>
                        </td>
                        <td><span title="{{type['name']}}">{{type['name']}}</span></td>
                        <td> {{type['resolveUser']}}</td>
                        <td > <i class="fa fa-trash-o" ng-disabled="find('incidents').disabled" ng-click="action.deleteIncident(type.id)"></i></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-11" ng-switch="find('incidents').required && !find('incidents').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="incidents" class="form-control" ng-model="hiddenData.incidents" ng-disabled="find('incidents').disabled" required>
                    <div class="warn" ng-show="editForm.incidents.$invalid && editForm.incidents.$dirty">
                        <span>请选择关联故障.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="incidents" class="form-control" ng-model="hiddenData.incidents" ng-disabled="find('incidents').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('problems').show">
        <div class="form-group" >
            <label class="col-sm-1 control-label">关联问题
                <span ng-switch="find('problems').required && !find('problems').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.addProblem();" ng-show="!find('problems').disabled">添加</button>
                <label ng-show="problemData.length==0 && find('problems').disabled">无</label>
                <table class="table dataTable" style="width:755px!important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important; " ng-show="problemData.length>0">
                    <thead>
                    <tr><th width="100">问题单号</th><th>问题标题</th><th width="100">处理人</th><th width="100">操作</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in problemData">
                        <td>
                            <a target="_blank" href="#/createProblem?taskKey=sid-A97EF687-33E2-43C3-A36F-76D724D99892&id={{type.id}}&childId=00">{{type['orderId']}}</a>
                        </td>
                        <td><span title="{{type['name']}}">{{type['name']}}</span></td>
                        <td> {{type['resolveUser']}}</td>
                        <td > <i class="fa fa-trash-o" ng-disabled="find('problems').disabled" ng-click="action.deleteProblem(type.id)"></i></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-11" ng-switch="find('problems').required && !find('problems').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="problems" class="form-control" ng-model="hiddenData.problems" ng-disabled="find('problems').disabled" required>
                    <div class="warn" ng-show="editForm.problems.$invalid && editForm.problems.$dirty">
                        <span>请选择关联问题.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="problems" class="form-control" ng-model="hiddenData.problems" ng-disabled="find('problems').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('typeId').show">
        <div class="form-group" >
            <label class="col-sm-2 control-label">变更类型</label>
            <div class="col-sm-10" ng-switch="find('typeId').required && !find('typeId').disabled">
                <div ng-switch-when="true">
                    <select class="form-control" ng-model="formData.typeId" ng-disabled="find('typeId').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefChangeType" value={{type['id']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.typeId.$invalid && editForm.typeId.$dirty">
                        <span>请选择变更类型.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('typeId').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.typeId" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('typeId').disabled">
                        <select class="form-control" ng-model="formData.typeId" ng-disabled="find('typeId').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefChangeType" value={{type['id']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('checkUser').show">
        <div class="form-group" >
            <label class="col-sm-2 control-label">评审人</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.checkUser"  ng-disabled="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('startTime').show">
        <div class="form-group">
            <label class="col-sm-2 control-label"><nobr>计划开始时间</nobr></label>
            <div class="col-sm-10" ng-switch="find('startTime').required && !find('startTime').disabled">
                <div ng-switch-when="true">
                    <input min-view="hour" type="text" name="startTime" class="form-control" ng-model="formData.startTime" itsm-date format="yyyy-mm-dd hh:ii"
                           readonly ng-disabled="find('startTime').disabled" max-date="null" min-date="formData.applyTime" required/>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.startTime.$invalid && editForm.startTime.$dirty">
                        <span>请选择计划开始时间.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('startTime').disabled">
                        <input type="text" class="form-control" ng-model="formData.startTime" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('startTime').disabled">
                        <input min-view="hour" type="text" name="startTime" class="form-control" max-date="null" min-date="formData.applyTime" ng-model="formData.startTime" itsm-date format="yyyy-mm-dd hh:ii"
                               ng-disabled="find('startTime').disabled" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('endTime').show">
        <div class="form-group">
            <label class="col-sm-2 control-label"><nobr>计划结束时间

            </nobr>
            </label>
            <div class="col-sm-10" ng-switch="find('endTime').required && !find('endTime').disabled">
                <div ng-switch-when="true">
                    <input min-view="hour" type="text" name="endTime" class="form-control" max-date="null" min-date="formData.applyTime" ng-model="formData.endTime" itsm-date format="yyyy-mm-dd hh:ii"
                           readonly ng-disabled="find('endTime').disabled" required/>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.endTime.$invalid && editForm.endTime.$dirty">
                        <span>请选择结束时间.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('endTime').disabled">
                        <input type="text" class="form-control" ng-model="formData.endTime" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('endTime').disabled">
                        <input min-view="hour" type="text" name="endTime" class="form-control" max-date="null" min-date="formData.applyTime" ng-model="formData.endTime" itsm-date format="yyyy-mm-dd hh:ii"
                               ng-disabled="find('endTime').disabled" readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('changePlan').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">变更计划</label>
            <div class="col-sm-11" ng-switch="find('changePlan').required && !find('changePlan').disabled">
                <div ng-switch-when="true">
                    <textarea name="changePlan" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.changePlan" ng-disabled="find('changePlan').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.changePlan.$invalid && editForm.changePlan.$dirty">
                        <span>请输入变更计划.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="changePlan" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.changePlan" ng-disabled="find('changePlan').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('backPlan').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">回退计划</label>
            <div class="col-sm-11" ng-switch="find('backPlan').required && !find('backPlan').disabled">
                <div ng-switch-when="true">
                    <textarea name="backPlan" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.backPlan" ng-disabled="find('backPlan').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.backPlan.$invalid && editForm.backPlan.$dirty">
                        <span>请输入回退计划.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="backPlan" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.backPlan" ng-disabled="find('backPlan').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row" ng-show="find('resolveRemark').show">-->
    <!--<div class="col-xs-6" ng-show="find('applyUser').show">-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">审核人</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="true" value="李四"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-6" ng-show="find('applyUser').show">-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">审核时间</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="true" value="2015-01-08 11:01"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-12" ng-show="find('allowRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">批准意见</label>
            <div class="col-sm-11" ng-switch="find('allowRemark').required && !find('allowRemark').disabled">
                <div ng-switch-when="true">
                    <textarea name="allowRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.allowRemark" ng-disabled="find('allowRemark').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.allowRemark.$invalid && editForm.allowRemark.$dirty">
                        <span>请输入批准意见.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="allowRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.allowRemark" ng-disabled="find('allowRemark').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('refuseRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">拒绝意见</label>
            <div class="col-sm-11" ng-switch="find('refuseRemark').required && !find('refuseRemark').disabled">
                <div ng-switch-when="true">
                    <textarea name="refuseRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.refuseRemark" ng-disabled="find('refuseRemark').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.refuseRemark.$invalid && editForm.refuseRemark.$dirty">
                        <span>请输入拒绝意见.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="refuseRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.refuseRemark" ng-disabled="find('refuseRemark').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('resolveRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">实施备注</label>
            <div class="col-sm-11" ng-switch="find('resolveRemark').required && !find('resolveRemark').disabled">
                <div ng-switch-when="true">
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="resolveRemark" ng-model="formData.resolveRemark" ng-disabled="find('resolveRemark').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.resolveRemark.$invalid && editForm.resolveRemark.$dirty">
                        <span>请输入实施备注.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="resolveRemark" ng-model="formData.resolveRemark" ng-disabled="find('resolveRemark').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('closeCode').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">原因</label>
            <div class="col-sm-10" ng-switch="find('closeCode').required && !find('closeCode').disabled">
                <div ng-switch-when="true">
                    <select name="closeCode" class="form-control" ng-model="formData.closeCode" ng-disabled="find('closeCode').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefCloseCode" value={{type['id']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.closeCode.$invalid && editForm.closeCode.$dirty">
                        <span>请选择原因.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('closeCode').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.closeCode" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('closeCode').disabled">
                        <select name="closeCode" class="form-control" ng-model="formData.closeCode" ng-disabled="find('closeCode').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefCloseCode" value={{type['id']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('closeRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">说明</label>
            <div class="col-sm-11" ng-switch="find('closeRemark').required && !find('closeRemark').disabled">
                <div ng-switch-when="true">
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="closeRemark" ng-model="formData.closeRemark" ng-disabled="find('closeRemark').disabled" required maxlength="200"></textarea>
                    <span class="required" >*</span>
                    <div class="warn" ng-show="editForm.closeRemark.$invalid && editForm.closeRemark.$dirty">
                        <span>请输入说明.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="closeRemark" ng-model="formData.closeRemark" ng-disabled="find('closeRemark').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('attachment').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">附件
                <span ng-switch="find('attachment').required && !find('attachment').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.uploadFile();" ng-show="!find('attachment').disabled">添加</button>
                <label ng-show="uploadFile.length==0 && find('attachment').disabled">无</label>
                <table class="table dataTable" style="width:755px!important;;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;" ng-show="uploadFile.length>0">
                    <thead><tr><th>文件名称</th><th width="100">添加人</th><th width="140">添加时间</th><th width="140">工单流程</th><th  width="100">操作</th></tr></thead>
                    <tbody >
                    <tr ng-repeat="type in uploadFile | orderBy:'created'">
                        <td><a href="/dmonitor-webapi/itsm/form/download?fileName={{type.name}}">
                            <span title="{{type['name']}}">{{type['name']}}</span>
                        </a></td>
                        <td><span title="{{type['createByName']}}">{{type['createByName']}}</span></td>
                        <td><span title="{{type['created']}}">{{type['created']}}</span></td>
                        <td><span title="{{type['step']}}">{{type['step']}}</span></td>
                        <td>
                            <i ng-if="type['step']=='新建'" class="fa fa-trash-o" ng-disabled="find('attachment').disabled || (type['del']!=true && formData.step!='提交' && formData.step!='新建')" ng-click="action.deleteFile(type.id)"></i>
                            <i ng-if="type['step']!='新建'" class="fa fa-trash-o" ng-disabled="find('attachment').disabled || (type['step']!=formData.step && type['del']!=true && type['step']!=currentStep)" ng-click="action.deleteFile(type.id)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-11" ng-switch="find('attachment').required && !find('attachment').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="attachment" class="form-control" ng-model="hiddenData.attachment" ng-disabled="find('attachment').disabled" required>
                    <div class="warn" ng-show="editForm.attachment.$invalid && editForm.attachment.$dirty">
                        <span>请上传文件.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="attachment" class="form-control" ng-model="hiddenData.attachment" ng-disabled="find('attachment').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row mt20" ng-show="!findShow('sid-B0B4D832-41CE-4266-8983-0B4B4E2F02CF')">
    <div class="col-xs-12">
        <widget-box>
            <widget-header>
                <h5>历史任务</h5>
            </widget-header>
            <widget-body>
                <table class="table dataTable" style="width: 100% !important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;">
                    <thead><tr><th width="140">变更标题</th><th width="140">工单流程</th><th width="100">处理人</th><th width="140">接收时间</th><th width="140">操作时间</th><th>描述</th></tr></thead>
                    <tbody >
                    <tr ng-repeat="type in historyProcess" ng-show="type.endTime">
                        <td><span title="{{type['title']}}">{{type.title}}</span></td>
                        <td><span title="{{type['name']}}">{{type.name}}</span></td>
                        <td ><span title="{{type.assignee}}">{{type.assignee}}</span></td>
                        <td ><span title="{{type.startTime}}">{{type.startTime}}</span></td>
                        <td ><span title="{{type.endTime}}">{{type.endTime}}</span></td>
                        <td ><span title="{{type.description}}">{{type.description}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </widget-body>
        </widget-box>
    </div>
</div>
</div>
</form>
<div  ng-include src="'views/itsm/knowledgelibQuery.html'"></div>
<div  ng-include src="'views/itsm/moQuery.html'"></div>
<div  ng-include src="'views/itsm/incidentQuery.html'"></div>
<div  ng-include src="'views/itsm/problemQuery.html'"></div>
<div  ng-include src="'views/itsm/uploadFile.html'"></div>
<div  ng-include src="'views/itsm/forwardDialog.html'"></div>





