<div ng-controller="changeController">
    <div class="search-head" ng-show="!isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>变更单号：</label>
            <input type="text"  ng-model="changeSearchPage.data.id"    ng-pattern="/^[^''%_]*$/">
            <label>变更标题：</label>
            <input type="text"  ng-model="changeSearchPage.data.title"    ng-pattern="/^[^''%_]*$/">
            <label>计划开始时段：</label>
            <input type="text" ng-model="changeSearchPage.data.startTime1" min-date="2014-01-01 00:00" max-date="null" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="changeSearchPage.data.startTime2" min-date="2014-01-01 00:00" max-date="null" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <label>计划结束时段：</label>
            <input type="text" ng-model="changeSearchPage.data.endTime1" max-date="null" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="changeSearchPage.data.endTime2" max-date="null" jq-date format="yyyy-mm-dd hh:ii" readonly />
        </div>
        <div class="row">
            <label>创&nbsp;&nbsp;建&nbsp;&nbsp;人：</label>
            <input type="text" id="applyUser4" z-tree="{
                            inData:'applyUserData',
                            outData:'changeSearchPage.data.applyUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:10,
                            radioCancel:true
                            }" readonly/>
            <label>处&nbsp;&nbsp;理&nbsp;&nbsp;人：</label>
            <input type="text" id="resolveUser3" z-tree="{
            inData:'resolveUserData',
            outData:'changeSearchPage.data.resolveUser',
            outParentData:'',
            type:'all_radio',
            description:'realName',
            children:'children',
            isLeaf:'isLeafNode',
            value:'displayName',
            inputWidth:280,
            depth:10,
            radioCancel:true
            }" readonly/>
            <label >所属区域：</label>
            <input type="text" name="location" z-tree="{
                            inData:'locationData',
                            outData:'problemSearchPage.data.location',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'false',
                            value:'id',
                            inputWidth:280,
                            depth:3,
                            radioCancel:true
                            }" readonly/>



            <label >创&nbsp;&nbsp;建&nbsp;&nbsp;时&nbsp;&nbsp;段&nbsp;&nbsp;：</label>
            <input type="text" ng-model="changeSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="changeSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <label >工&nbsp;&nbsp;单&nbsp;&nbsp;状&nbsp;&nbsp;态&nbsp;&nbsp;：</label>
            <select  ng-model="changeSearchPage.data.step" >
                <option value="">不限</option>
                <option value='计划'>待计划</option>
                <option value='[变更经理]审批'>待审批</option>
                <option value='实施'>待实施</option>
                <option value='确认'>待关闭</option>
                <option value='关闭'>已关闭</option>
            </select>
            <button class="btn" ng-click="changeList.settings.reload(true);" ng-disabled="sform.$invalid"><i class="fa fa-search"></i>查询</button>
        </div>
        </form>
    </div>
    <div class="search-head" ng-show="isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>变更号：</label>
            <input type="text"  ng-model="changeSearchPage.data.id"   ng-pattern="/^[^''%_]*$/" >
            <label >创建时段：</label>
            <input type="text" ng-model="changeSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="changeSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <div style="display: none">
                <label >操作时段：</label>
                <input type="text" ng-model="changeSearchPage.data.time1" jq-date format="yyyy-mm-dd hh:ii" readonly />
                <label class="n1">至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" ng-model="changeSearchPage.data.time2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            </div>
            <label >创建人：</label>
            <input type="text" id="applyUser5" z-tree="{
                            inData:'applyUserData',
                            outData:'changeSearchPage.data.applyUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:2,
                            radioCancel:true
                            }" readonly/>
            <label >处理人：</label>
            <input type="text" id="resolveUser4" z-tree="{
            inData:'resolveUserData',
            outData:'changeSearchPage.data.resolveUser',
            outParentData:'',
            type:'all_radio',
            description:'realName',
            children:'children',
            isLeaf:'isLeafNode',
            value:'displayName',
            inputWidth:280,
            depth:2,
            radioCancel:true
            }" readonly/>
            <button class="btn" ng-click="changeList.settings.reload(true)" ng-disabled="sform.$invalid">查询</button>
        </div>
            </form>
    </div>
    <div>
      <table jq-table="changeList.settings" class="table"></table>
    </div>
    <div  ng-include src="'views/itsm/flowImage.html'"></div>
</div>
