<div dialog info="forwardDialog" data="formData">
    <form name="form" novalidate>
        <div class="dialog-con" style="overflow: auto">
            <div class="row">
                <!--<div class="col-xs-6">-->
                    <!--<label>处理组<span class="required">*</span></label>-->
                    <!--<div class="row">-->
                        <!--<select id="resolveGroup1" class="form-control" ng-model="forwardDialog.resolveGroup">-->
                            <!--<option value="">请选择</option>-->
                            <!--<option ng-repeat="type in initData.usergroup" value={{type['name']}}>-->
                                <!--{{type['name']}}-->
                            <!--</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="warn">-->
                        <!--<span ng-show="formData.resolveGroup==null">此项不能为空.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<label>处理人</label>-->
                <!--<div class="row">-->
                <!--<select id="resolveUser1" class="form-control" ng-model="forwardDialog.resolveUser">-->
                <!--<option value="">请选择</option>-->
                <!--&lt;!&ndash;<option ng-repeat="type in initData.users" value={{type['name']}}>-->
                <!--{{type['realName']}}-->
                <!--</option>&ndash;&gt;-->
                <!--<option ng-repeat="type in initData.groupUser" value={{type['name']}}>-->
                <!--{{type['realName']}}-->
                <!--</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-xs-6">
                    <label>代理用户</label>
                    <div class="row">
                        <select type="text" class="form-control" ng-model="forwardDialog.agentUser" required>
                            <option value="">请选择</option>
                            <option ng-repeat="type in forwardDialog.users" value={{type['name']}}>
                                {{type['realName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-disabled="forwardDialog.agentUser==null || forwardDialog.agentUser==''" ng-click="forwardDialog.save()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>