<div class="content" xmlns="http://www.w3.org/1999/html">
    <bread-crumb>
        <a>运维</a>
        <a>查询</a>
        <a class="current">工单显示状态设置</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div>
            <div class="search-head">
                <div class="row">
                    <label>工单类型：</label>
                    <select type="text"  ng-model="searchPage.data.processType">
                        <option value="incident">故障工单</option>
                        <option value="problem">问题工单</option>
                        <option value="change">变更工单</option>
                    </select>
                    <label>工单号：</label>
                    <input type="text"  ng-model="searchPage.data.orderId"/>
                    <label>标题：</label>
                    <input type="text"  ng-model="searchPage.data.title"/>
                    <label >创建时段：</label>
                    <input type="text" ng-model="searchPage.data.time1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
                    <input type="text" ng-model="searchPage.data.time2" jq-date format="yyyy-mm-dd hh:ii" readonly />
                    <button class="btn" ng-click="searchPage.action.search()">查询</button>
                </div>
            </div>
            <div>
                <table jq-table="listPage.settings" class="table"></table>
            </div>
        </div>
    </div>
</div>

