<div ng-controller="incidentController">
    <div class="search-head" ng-show="!isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>故障单号：</label>
            <input type="text"  ng-model="incidentSearchPage.data.id"   ng-pattern="/^[^''%_]*$/">
            <label>故障标题：</label>
            <input type="text"  ng-model="incidentSearchPage.data.title"   ng-pattern="/^[^''%_]*$/">
            <label >资源类型：</label>
            <select id="mocpId" ng-model="incidentSearchPage.data.mocpId"  >
                <option value="">不限</option>
                <option ng-repeat="type in incidentSearchPage.datas.mocp" value={{type['id']}}>
                    {{type['displayName']}}
                </option>
            </select>
            <select id="mocId" ng-model="incidentSearchPage.data.mocId" >
                <option value="">不限</option>
                <option ng-repeat="type in incidentSearchPage.datas.moc" value={{type['id']}}>
                    {{type['displayName']}}
                </option>
            </select>
            <label >创&nbsp;&nbsp;建&nbsp;&nbsp;人：</label>
            <input type="text" id="applyUser" z-tree="{
                            inData:'applyUserData',
                            outData:'incidentSearchPage.data.applyUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:10,
                            radioCancel:true
                            }" readonly/>
            <label >处&nbsp;&nbsp;理&nbsp;&nbsp;人：</label>
            <input type="text" id="resolveUser1" z-tree="{
                            inData:'resolveUserData',
                            outData:'incidentSearchPage.data.resolveUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'realName',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'displayName',
                            inputWidth:280,
                            depth:10,
                            radioCancel:true
                            }" readonly/>
        </div>
        <div class="row">
            <label >资源实例：</label>
            <select id="moId" ng-model="incidentSearchPage.data.moId" >
                <option value="">不限</option>
                <option ng-repeat="type in incidentSearchPage.datas.mos" value={{type['id']}}>
                    {{type['displayName']}}
                </option>
            </select>
            <label >所属区域：</label>
            <input type="text" name="location" z-tree="{
                            inData:'locationData',
                            outData:'problemSearchPage.data.location',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'false',
                            value:'id',
                            inputWidth:280,
                            depth:3,
                            radioCancel:true
                            }" readonly/>
            <label >创建时段：</label>
            <input type="text" ng-model="incidentSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="incidentSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <label >工单状态：</label>
            <select  ng-model="incidentSearchPage.data.step" >
                <option value="">不限</option>
                <option value='审核'>待审核</option>
                <option value='处理'>待解决</option>
                <option value='确认'>待关闭</option>
                <option value='关闭'>已关闭</option>
            </select>
            <button type="button" class="btn" ng-click="incidentList.settings.reload(true)" ng-disabled="sform.$invalid">查询</button>
        </div>
            </form>
    </div>
    <div class="search-head" ng-show="isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>故障号：</label>
            <input type="text"  ng-model="incidentSearchPage.data.id"  ng-pattern="/^[^''%_]*$/" >
            <label >创建时段：</label>
            <input type="text" ng-model="incidentSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="incidentSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <div style="display: none">
                <label >操作时间：</label>
                <input type="text" ng-model="incidentSearchPage.data.time1" jq-date format="yyyy-mm-dd hh:ii" readonly />
                <label class="n1">至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" ng-model="incidentSearchPage.data.time2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            </div>
            <label >创建人：</label>
            <input type="text" id="applyUser2" z-tree="{
                            inData:'applyUserData',
                            outData:'incidentSearchPage.data.applyUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:2,
                            radioCancel:true
                            }" readonly/>
            <label >处理人：</label>
            <input type="text" id="resolveUser" z-tree="{
                            inData:'resolveUserData',
                            outData:'incidentSearchPage.data.resolveUser',
                            outParentData:'',
                            type:'all_radio',
                            description:'realName',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'displayName',
                            inputWidth:280,
                            depth:3,
                            radioCancel:true
                            }" readonly/>
            <button class="btn" ng-click="incidentList.settings.reload(true)" ng-disabled="sform.$invalid">查询</button>
        </div>
            </form>
    </div>
    <div>
      <table jq-table="incidentList.settings" class="table"></table>
    </div>
    <div  ng-include src="'views/itsm/flowImage.html'"></div>
</div>

