<div ng-controller="libController">
    <div class="search-head" ng-show="!isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>知识单号：</label>
            <input type="text"  ng-model="knowledgeSearchPage.data.id"  ng-pattern="/^[^''%_]*$/">
            <label>知识标题：</label>
            <input type="text"  ng-model="knowledgeSearchPage.data.title" ng-pattern="/^[^''%_]*$/">
            <label>创建时段：</label>
            <input type="text" ng-model="knowledgeSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="knowledgeSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
        </div>
        <div class="row">
            <label>创&nbsp;&nbsp;建&nbsp;&nbsp;人：</label>
            <select  ng-model="knowledgeSearchPage.data.applyUser" >
                <option value="">不限</option>
                <option ng-repeat="type in initData.users" value={{type['name']}}>
                    {{type['realName']}}
                </option>
            </select>
            <label>关&nbsp;&nbsp;键&nbsp;&nbsp;字：</label>
            <input type="text"  ng-model="knowledgeSearchPage.data.keyWord"  >
            <label >工单状态：</label>
            <select  ng-model="knowledgeSearchPage.data.step" >
                <option value="">不限</option>
                <option value='[知识库经理]审批'>待发布</option>
                <option value='编辑'>已发布</option>
            </select>
            <button class="btn" ng-click="knowledgeList.settings.reload(true);" ng-disabled="sform.$invalid"><i class="fa fa-search"></i>查询</button>
        </div></form>
    </div>
    <div class="search-head" ng-show="isMyTaskPage">
        <form name="sform" novalidate>
        <div class="row">
            <label>知识单号：</label>
            <input type="text"  ng-model="knowledgeSearchPage.data.id"  ng-pattern="/^[^''%_]*$/" >
            <label>创建时段：</label>
            <input type="text" ng-model="knowledgeSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="knowledgeSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <label>创建人：</label>
            <select  ng-model="knowledgeSearchPage.data.applyUser"  >
                <option value="">不限</option>
                <option ng-repeat="type in initData.users" value={{type['name']}}>
                    {{type['realName']}}
                </option>
            </select>
            <label>处理人：</label>
            <select  ng-model="knowledgeSearchPage.data.resolveUser"  >
                <option value="">不限</option>
                <option ng-repeat="type in initData.users" value={{type['name']}}>
                    {{type['realName']}}
                </option>
            </select>
            <button class="btn" ng-click="knowledgeList.settings.reload(true);" ng-disabled="sform.$invalid">查询</button>
        </div></form>
    </div>
    <div>
        <table jq-table="knowledgeList.settings" class="table"></table>
    </div>
    <div  ng-include src="'views/itsm/flowImage.html'"></div>
</div>
