<div dialog info="knowledgelibDialog" class="ldialog">
    <div class="dialog-con" style="overflow: auto;">
        <div class="mellow-wrapper">
                <div class="row">
                    <input type="text"  ng-model="knowledgeSearchPage.data.title"  style="width: 280px;">
                    <label><i class="fa fa-info-circle" title="可输入知识标题、关键字、知识描述"></i></label>
                    <button class="btn" ng-click="knowledgeListPage.settings.reload(true);" style="margin-top: -3px;margin-left: 5px;">查询</button>
                </div>
            </div>
            <!-- 数据列表 -->
            <div class="pr mt10">
                <table  jq-table="knowledgeListPage.settings" class="table"></table>
            </div>
    </div>
</div>