<div dialog info="moDialog" class="ldialog">
    <div class="dialog-con" style="overflow: auto;">
        <div class="search-head" style="display: block">
                <div class="row">
                    <label>资源实例：</label>
                    <input type="text" ng-model="moSearchPage.data.displayName" />
                    <label>资源类型：</label>
                    <select ng-model="moSearchPage.data.mocpId"  >
                        <option value=""> 不限</option>
                        <option ng-repeat="type in $root.resource.moc" value={{type.id}}> {{type.displayName}} </option>
                    </select>

                    <select ng-model="moSearchPage.data.mocId" >
                        <option value=""> 不限</option>
                        <option ng-repeat="type in moSearchPage.datas.moc" value={{type.id}}> {{type.displayName}} </option>
                    </select>
                </div>
                <div class="row">
                    <label>所属区域：</label>
                    <input type="text" id="location3" name="location3" z-tree="{
                            inData:'locationData',
                            outData:'moSearchPage.data.locId',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:3,
                            radioCancel:true
                            }" readonly/>
                    <label>管&nbsp;&nbsp;理&nbsp;&nbsp;I&nbsp;P： </label>
                    <input type="text" ng-model="moSearchPage.data.ip" />
                    <button class="btn" ng-click="moListPage.settings.reload(true)">查询</button>
                </div>
            </div>
            <div class="pr mt10">
                <table  jq-table="moListPage.settings" class="table"></table>
            </div>
    </div>
</div>