<div dialog info="problemDialog" class="ldialog">
    <div class="dialog-con" style="overflow: auto;">
        <div class="search-head" style="display: block">
                <div class="row">
                    <label>问题单号：</label>
                    <input type="text"  ng-model="problemSearchPage.data.id"  >
                    <label>问题标题：</label>
                    <input type="text"  ng-model="problemSearchPage.data.title" >
                    <label >所属区域：</label>
                    <input type="text" id="location2" name="location2" z-tree="{
                            inData:'locationData',
                            outData:'problemSearchPage.data.location',
                            outParentData:'',
                            type:'all_radio',
                            description:'name',
                            children:'children',
                            isLeaf:'isLeafNode',
                            value:'id',
                            inputWidth:280,
                            depth:3,
                            radioCancel:true
                            }" readonly/>
                </div>
                <div class="row">
                    <label >创&nbsp;&nbsp;建&nbsp;&nbsp;人：</label>
                    <select  ng-model="problemSearchPage.data.applyUser" >
                        <option value="">不限</option>
                        <option ng-repeat="type in initData.users" value={{type['name']}}>
                            {{type['realName']}}
                        </option>
                    </select>
                    <label >创建时段：</label>
                    <input type="text" ng-model="problemSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  style="margin-right: 5px;"/>
                    <input type="text" ng-model="problemSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
                    <button type="button" class="btn" ng-click="problemListPage.settings.reload(true)">查询</button>
                </div>
            </div>
            <!-- 数据列表 -->
            <div class="pr mt10">
                <table  jq-table="problemListPage.settings" class="table"></table>
            </div>
    </div>
</div>