<form class="form-horizontal" id="editForm" name="editForm">
<div class="list_button">

    <button ng-show="findShow('sid-7E6EA8D8-9AFF-4649-9191-B21D4A077884')" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]" type="button" class="btn" ng-click="formData.action='新建';action.start();" ng-show="childId==null || childId==22">保存</button>
    <button ng-show="!findShow('sid-7E6EA8D8-9AFF-4649-9191-B21D4A077884')" ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.save();" ng-show="(childId==null || childId==22 ) && childId!=24">保存</button>

    <button  type="button" class="btn" ng-click="formData.action='提交';action.start();"
            ng-show="findShow('sid-7E6EA8D8-9AFF-4649-9191-B21D4A077884') && childId!=21" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交
    </button>

    <button type="button" class="btn" ng-click="action.process();"
            ng-show="findShow('sid-55A17215-E711-46A2-B9EA-95A10336F860') && childId!=21" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交
    </button>

    <button type="button" class="btn" ng-click="formData.action='分派';action.process();"
            ng-show="findShow('sid-3F1BC854-AADA-4D52-BD97-B94EF8A70753') && childId!=11" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">分派
    </button>
    <button type="button" class="btn" ng-click="formData.action='拒绝';action.process();"
            ng-show="findShow('sid-3F1BC854-AADA-4D52-BD97-B94EF8A70753') && childId!=11" ng-disabled="loginUserMenuMap[currentView]">拒绝
    </button>
    <button type="button" class="btn" ng-click="formData.action='上报';action.process();"
            ng-show="findShow('sid-3F1BC854-AADA-4D52-BD97-B94EF8A70753') && childId!=11" ng-disabled="loginUserMenuMap[currentView]">上报
    </button>

    <button type="button" class="btn" ng-click="formData.action='分派';action.process();"
            ng-show="findShow('sid-4756EF4E-1AA8-4FF8-B3CD-24E94FE4323B') && childId!=11" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">分派
    </button>
    <button type="button" class="btn" ng-click="formData.action='拒绝';action.process();"
            ng-show="findShow('sid-4756EF4E-1AA8-4FF8-B3CD-24E94FE4323B') && childId!=11" ng-disabled="loginUserMenuMap[currentView]">拒绝
    </button>
    <button type="button" class="btn" ng-click="formData.action='上报';action.process();"
            ng-show="findShow('sid-4756EF4E-1AA8-4FF8-B3CD-24E94FE4323B') && childId!=11" ng-disabled="loginUserMenuMap[currentView]">上报
    </button>


    <button type="button" class="btn" ng-click="formData.action='分派';action.process();"
            ng-show="findShow('sid-BAEE9723-B226-4701-A2D5-485F74FEFE52') && childId!=11" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">分派
    </button>
    <button type="button" class="btn" ng-click="formData.action='拒绝';action.process();"
            ng-show="findShow('sid-BAEE9723-B226-4701-A2D5-485F74FEFE52') && childId!=11" ng-disabled="loginUserMenuMap[currentView]">拒绝
    </button>

    <button type="button" class="btn" ng-click="formData.resolve=true;formData.action='解决';action.process();"
            ng-show="findShow('sid-22DD0F2C-906A-4FF0-B437-33F924A49973') && childId!=21" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">解决
    </button>
    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="forwardDialog.show()"
            ng-show="findShow('sid-22DD0F2C-906A-4FF0-B437-33F924A49973') && childId!=21">委派
    </button>
    <button type="button" class="btn" ng-click="formData.resolve=false;formData.action='拒绝';action.process();"
            ng-show="findShow('sid-22DD0F2C-906A-4FF0-B437-33F924A49973') && childId!=21" ng-disabled="loginUserMenuMap[currentView]">拒绝
    </button>

    <button type="button" class="btn" ng-click="action.process(true);"
            ng-show="findShow('sid-C22C30CC-6E8D-43AA-9C54-FB1BEF5D2BFA') && childId!=21" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">关闭
    </button>
    <button type="button" class="btn" ng-click="action.process(false);"
            ng-show="findShow('sid-C22C30CC-6E8D-43AA-9C54-FB1BEF5D2BFA') && childId!=21" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">拒绝
    </button>
    <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.claimForward(formData.taskId);" ng-show="childId==21">签收
    </button>
    <button type="button" class="btn" ng-click="action.back();" ng-show="!findShow('sid-7E6EA8D8-9AFF-4649-9191-B21D4A077884')">返回</button>
</div>
<div class="form-wrapper">
<div class="row">
    <div class="col-xs-6" ng-show="find('reporter').show">
        <div class="form-group">
            <label class="col-sm-2 control-label" >报告人</label>
            <div class="col-sm-10" ng-switch="find('reporter').required && !find('reporter').disabled">
                <div ng-switch-when="true">
                    <input type="text" name="reporter" class="form-control" ng-model="formData.reporter" ng-disabled="find('reporter').disabled" required maxlength="30">
                    <span ng-switch="find('reporter').required && !find('reporter').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.reporter.$invalid && editForm.reporter.$dirty">
                        <span>请输入报告人.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="text" name="reporter" class="form-control" ng-model="formData.reporter" ng-disabled="find('reporter').disabled" >
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('orderId').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">问题单号</label>
            <div class="col-sm-10">
                <input type="text" name="orderId" class="form-control" ng-model="formData.orderId" ng-disabled="true">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('reporterPhone').show">
    <div class="form-group">
        <label class="col-sm-2 control-label">联系方式

        </label>
        <div class="col-sm-10" ng-switch="find('reporterPhone').required && !find('reporterPhone').disabled">
            <div ng-switch-when="true">
                <input type="text" name="reporterPhone" class="form-control" ng-model="formData.reporterPhone" ng-disabled="find('reporterPhone').disabled" required ng-minlength="11"  ng-maxlength="11" ng-pattern="/^[0-9]*$/">
                <span ng-switch="find('reporterPhone').required && !find('reporterPhone').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
             </span>
                <div class="warn" >
                    <span ng-show="editForm.reporterPhone.$error.minlength || editForm.reporterPhone.$error.maxlength || editForm.reporterPhone.$error.pattern">手机号格式错误.</span>
                </div>
            </div>
            <div ng-switch-default>
                <input type="text" name="reporterPhone" class="form-control" ng-model="formData.reporterPhone" ng-disabled="find('reporterPhone').disabled" ng-minlength="11"  ng-maxlength="11" ng-pattern="/^[0-9]*$/">
                <div class="warn" >
                    <span ng-show="editForm.reporterPhone.$error.minlength || editForm.reporterPhone.$error.maxlength || editForm.reporterPhone.$error.pattern">手机号格式错误.</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-xs-6" ng-show="find('applyUser').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">创建人</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.params.applyUser" readonly
                       ng-disabled="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('reporterEmail').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">邮件地址</label>
            <div class="col-sm-10" ng-switch="find('reporterEmail').required && !find('reporterEmail').disabled">
                <div ng-switch-when="true">
                    <input type="email" name="reporterEmail" class="form-control" ng-model="formData.reporterEmail" ng-disabled="find('reporterEmail').disabled" required maxlength="50">
                    <span ng-switch="find('reporterEmail').required && !find('reporterEmail').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
             </span>
                    <div class="warn" >
                        <span ng-show="editForm.reporterEmail.$invalid && editForm.reporterEmail.$dirty">请输入邮件地址.</span>
                        <span ng-show="editForm.reporterEmail.$error.email">邮箱地址格式错误.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="email" name="reporterEmail" class="form-control" ng-model="formData.reporterEmail" ng-disabled="find('reporterEmail').disabled" maxlength="50" >
                    <div class="warn" >
                        <span ng-show="editForm.reporterEmail.$error.email">邮箱地址格式错误.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('applyTime').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.applyTime" ng-disabled="find('applyTime').disabled"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('location').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">所属区域</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="formData.params.location" disabled="disabled"/>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('effect').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">影响度</label>
            <div class="col-sm-10" ng-switch="find('effect').required && !find('effect').disabled">
                <div ng-switch-when="true">
                    <select name="effect" class="form-control" ng-model="formData.effect" ng-disabled="find('effect').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefInfluenceType" value={{type['code']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span ng-switch="find('effect').required && !find('effect').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.effect.$invalid && editForm.effect.$dirty">
                        <span>请选择影响度.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('effect').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.effect" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('effect').disabled">
                        <select name="effect" class="form-control" ng-model="formData.effect" ng-disabled="find('effect').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefInfluenceType" value={{type['code']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('time').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">发生时间</label>
            <div class="col-sm-10" ng-switch="find('time').required && !find('time').disabled">
                <div ng-switch-when="true">
                    <input min-view="hour" type="text" name="time" class="form-control" ng-model="formData.time" jq-date format="yyyy-mm-dd hh:ii"
                           readonly ng-disabled="find('time').disabled" required/>
                    <span ng-switch="find('time').required && !find('time').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.time.$invalid && editForm.time.$dirty">
                        <span>请选择发生时间.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('time').disabled">
                        <input type="text" class="form-control" ng-model="formData.time" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('time').disabled">
                        <input min-view="hour" type="text" name="time" class="form-control" ng-model="formData.time" min-view="hour" jq-date format="yyyy-mm-dd hh:ii"
                               readonly/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('urgency').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">紧急度</label>
            <div class="col-sm-10" ng-switch="find('urgency').required && !find('urgency').disabled">
                <div ng-switch-when="true">
                    <select name="urgency" class="form-control" ng-model="formData.urgency" ng-disabled="find('urgency').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefEmergencyType" value={{type['code']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span ng-switch="find('urgency').required && !find('urgency').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.urgency.$invalid && editForm.urgency.$dirty">
                        <span>请选择紧急度.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('urgency').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.urgency" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('urgency').disabled">
                        <select name="urgency" class="form-control" ng-model="formData.urgency" ng-disabled="find('urgency').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefEmergencyType" value={{type['code']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('mocpId').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">资源类型组</label>
            <div class="col-sm-10" ng-switch="find('mocpId').required && !find('mocpId').disabled">
                <div ng-switch-when="true">
                    <select class="form-control" name="mocpId" ng-model="formData.mocpId" ng-disabled="find('mocpId').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.mocp" value={{type['id']}}>
                            {{type['displayName']}}
                        </option>
                    </select>
                    <span ng-switch="find('mocpId').required && !find('mocpId').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.mocpId.$invalid && editForm.mocpId.$dirty">
                        <span>请选择资源类型组.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('mocpId').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.mocpId" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('mocpId').disabled">
                        <select class="form-control" name="mocpId" ng-model="formData.mocpId" ng-disabled="find('mocpId').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.mocp" value={{type['id']}}>
                                {{type['displayName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('priority').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">优先级</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="priority" readonly value="" ng-disabled="find('priority').disabled"/>
                <span ng-switch="find('priority').required && !find('priority').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                <input type="hidden" class="form-control" ng-model="formData.priority"/>
            </div>
        </div>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('mocId').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">资源类型</label>
            <div class="col-sm-10"  ng-switch="find('mocId').required && !find('mocId').disabled">
                <div ng-switch-when="true">
                    <select name="mocId" class="form-control" ng-model="formData.mocId" ng-disabled="find('mocId').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.moc" value={{type['id']}}>
                            {{type['displayName']}}
                        </option>
                    </select>
                    <span ng-switch="find('mocId').required && !find('mocId').disabled" >
                        <span ng-switch-when="true">
                            <span class="required" >*</span>
                        </span>
                </span>
                    <div class="warn" ng-show="editForm.mocId.$invalid && editForm.mocId.$dirty">
                        <span>请选择资源类型.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('mocId').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.mocId" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('mocId').disabled">
                        <select name="mocId" class="form-control" ng-model="formData.mocId" ng-disabled="find('mocId').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.moc" value={{type['id']}}>
                                {{type['displayName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('moId').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">资源对象</label>
            <div class="col-sm-10" ng-switch="find('moId').required && !find('moId').disabled">
                <div ng-switch-when="true">
                    <select name="moId" class="form-control" ng-model="formData.moId" ng-disabled="find('moId').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.mo" value={{type['id']}}>
                            {{type['displayName']}}
                        </option>
                    </select>
                    <span ng-switch="find('moId').required && !find('moId').disabled" >
                        <span ng-switch-when="true">
                            <span class="required" >*</span>
                        </span>
                </span>
                    <div class="warn" ng-show="editForm.moId.$invalid && editForm.moId.$dirty">
                        <span>请选择资源对象.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('moId').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.moId" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('moId').disabled">
                        <select name="moId" class="form-control" ng-model="formData.moId" ng-disabled="find('moId').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.mo" value={{type['id']}}>
                                {{type['displayName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" ng-show="find('title').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">问题标题</label>
            <div class="col-sm-11" ng-switch="find('title').required && !find('title').disabled">
                <div ng-switch-when="true">
                    <input type="text" name="title" class="form-control" ng-model="formData.title" ng-disabled="find('title').disabled" required maxlength="50">
                    <span ng-switch="find('title').required && !find('title').disabled" >
                        <span ng-switch-when="true">
                            <span class="required" >*</span>
                        </span>
                </span>
                    <div class="warn" ng-show="editForm.title.$invalid && editForm.title.$dirty">
                        <span>请输入问题标题.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="text" name="title" class="form-control" ng-model="formData.title" ng-disabled="find('title').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('remark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">问题说明</label>
            <div class="col-sm-11" ng-switch="find('remark').required && !find('remark').disabled">
                <div ng-switch-when="true">
                    <textarea name="remark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.remark" ng-disabled="find('remark').disabled" required maxlength="200"></textarea>
                    <span ng-switch="find('remark').required && !find('remark').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.remark.$invalid && editForm.remark.$dirty">
                        <span>请输入问题说明.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('remark').disabled" class="disabledDiv" compile="formData.remark"></div>
                    <div ng-if="!find('remark').disabled">
                        <textarea kind-editor ng-model="formData.remark" name="content" cols="100" rows="8" style="width:755px;height:200px;visibility:hidden;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('reason').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">问题原因</label>
            <div class="col-sm-11" ng-switch="find('reason').required && !find('reason').disabled">
                <div ng-switch-when="true">
                    <textarea name="reason" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.reason" ng-disabled="find('reason').disabled" required maxlength="200"></textarea>
                    <span ng-switch="find('reason').required && !find('reason').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.reason.$invalid && editForm.reason.$dirty">
                        <span>请输入问题原因.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="reason" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.reason" ng-disabled="find('reason').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('incidents').show">
        <div class="form-group" >
            <label class="col-sm-1 control-label">关联故障
                <span ng-switch="find('incidents').required && !find('incidents').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.addIncident();" ng-show="!find('incidents').disabled">添加 </button>
                <label ng-show="incidentData.length==0 && find('incidents').disabled">无</label>
                <table class="table dataTable"  style="width:755px!important;;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;" ng-show="incidentData.length>0">
                    <thead>
                    <tr><th width="100">故障单号</th><th>故障标题</th><th width="100">处理人</th><th width="100">操作</th></tr>
                    </thead>
                    <tbody id="tbody">
                    <tr ng-repeat="type in incidentData">
                        <td>
                            <a target="_blank" href="#/createIncident?taskKey=sid-E21AC1DF-6D03-47E0-A2BE-014ECEC5CC8D&id={{type.id}}&childId=00">
                                {{type['orderId']}}
                            </a>
                        </td>
                        <td><span title="{{type['name']}}">{{type['name']}}</span></td>
                        <td> {{type['resolveUser']}}</td>
                        <td > <i class="fa fa-trash-o" ng-disabled="find('incidents').disabled" ng-click="action.deleteIncident(type.id)"></i></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-11" ng-switch="find('incidents').required && !find('incidents').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="incidents" class="form-control" ng-model="hiddenData.incidents" ng-disabled="find('incidents').disabled" required>
                    <div class="warn" ng-show="editForm.incidents.$invalid && editForm.incidents.$dirty">
                        <span>请选择关联故障.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="incidents" class="form-control" ng-model="hiddenData.incidents" ng-disabled="find('incidents').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('resolveGroup').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">处理组</label>
            <div class="col-sm-10"  ng-switch="find('resolveGroup').required && !find('resolveGroup').disabled">
                <div ng-switch-when="true">
                    <select name="resolveGroup" class="form-control" ng-model="formData.resolveGroup" required
                            ng-disabled="find('resolveGroup').disabled">
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.usergroup" value={{type['name']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span ng-switch="find('resolveGroup').required && !find('resolveGroup').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.resolveGroup.$invalid && editForm.resolveGroup.$dirty">
                        <span>请选择处理组.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('resolveGroup').disabled">
                        <input type="text" class="form-control" ng-model="formData.resolveGroup" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('resolveGroup').disabled">
                        <select name="resolveGroup" class="form-control" ng-model="formData.resolveGroup"
                                ng-disabled="find('resolveGroup').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.usergroup" value={{type['name']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6" ng-show="find('resolveUser').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">处理人</label>
            <div class="col-sm-10" ng-switch="find('resolveUser').required && !find('resolveUser').disabled">
                <div ng-switch-when="true">
                    <select name="resolveUser" class="form-control" ng-model="formData.resolveUser" required
                            ng-disabled="find('resolveUser').disabled">
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.groupUser" ng-show="type.locId==loginUser.locId"  value={{type['name']}}>
                            {{type['realName']}}
                        </option>
                    </select>
                    <span ng-switch="find('resolveUser').required && !find('resolveUser').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.resolveGroup.$invalid && editForm.resolveGroup.$dirty">
                        <span>请选择处理人.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('resolveUser').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.resolveUser" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('resolveUser').disabled">
                        <select name="resolveUser" class="form-control" ng-model="formData.resolveUser"
                                ng-disabled="find('resolveUser').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.groupUser"  ng-show="type.locId==loginUser.locId" value={{type['name']}}>
                                {{type['realName']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </select>
    </div>
</div>
<!--<div class="row" ng-show="find('resolveRemark').show">-->
    <!--<div class="col-xs-6" ng-show="find('applyUser').show">-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">审核人</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="true" value="李四"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-6" ng-show="find('applyUser').show">-->
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">审核时间</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="true" value="2015-01-08 10:28"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row" ng-show="findShow('sid-3F1BC854-AADA-4D52-BD97-B94EF8A70753') || findShow('sid-4756EF4E-1AA8-4FF8-B3CD-24E94FE4323B') || findShow('sid-BAEE9723-B226-4701-A2D5-485F74FEFE52')">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-sm-1 control-label">审核备注</label>
            <div class="col-sm-11">
                <textarea name="checkRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.comment"  maxlength="200"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('resolveRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">解决方案</label>
            <div class="col-sm-11" ng-switch="find('resolveRemark').required && !find('resolveRemark').disabled">
                <div ng-switch-when="true">
                    <textarea name="resolveRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.resolveRemark" ng-disabled="find('resolveRemark').disabled" required maxlength="200"></textarea>
                    <span ng-switch="find('resolveRemark').required && !find('resolveRemark').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.resolveRemark.$invalid && editForm.resolveRemark.$dirty">
                        <span>请输入解决方案.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea name="resolveRemark" style="width: 755px;height: 60px;overflow: auto"  ng-model="formData.resolveRemark" ng-disabled="find('resolveRemark').disabled" maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="find('closeCode').show">
        <div class="form-group">
            <label class="col-sm-2 control-label">原因</label>
            <div class="col-sm-10" ng-switch="find('closeCode').required && !find('closeCode').disabled">
                <div ng-switch-when="true">
                    <select name="closeCode" class="form-control" ng-model="formData.closeCode" ng-disabled="find('closeCode').disabled" required>
                        <option value="">请选择</option>
                        <option ng-repeat="type in initData.ItsmDefCloseCode" value={{type['id']}}>
                            {{type['name']}}
                        </option>
                    </select>
                    <span ng-switch="find('closeCode').required && !find('closeCode').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.closeCode.$invalid && editForm.closeCode.$dirty">
                        <span>请选择关闭原因.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-if="find('closeCode').disabled">
                        <input type="text" class="form-control" ng-model="formData.params.closeCode" disabled="disabled"/>
                    </div>
                    <div ng-if="!find('closeCode').disabled">
                        <select name="closeCode" class="form-control" ng-model="formData.closeCode" ng-disabled="find('closeCode').disabled">
                            <option value="">请选择</option>
                            <option ng-repeat="type in initData.ItsmDefCloseCode" value={{type['id']}}>
                                {{type['name']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-show="find('closeRemark').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">说明</label>
            <div class="col-sm-11" ng-switch="find('closeRemark').required && !find('closeRemark').disabled">
                <div ng-switch-when="true">
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="closeRemark" ng-model="formData.closeRemark" ng-disabled="find('closeRemark').disabled" required maxlength="200"></textarea>
                    <span ng-switch="find('closeRemark').required && !find('closeRemark').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                    <div class="warn" ng-show="editForm.closeRemark.$invalid && editForm.closeRemark.$dirty">
                        <span>请输入关闭说明.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <textarea style="width: 755px;height: 60px;overflow: auto"  name="closeRemark" ng-model="formData.closeRemark" ng-disabled="find('closeRemark').disabled" maxlength="200"></textarea>
                    <span ng-switch="find('closeRemark').required && !find('closeRemark').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" ng-show="find('attachment').show">
        <div class="form-group">
            <label class="col-sm-1 control-label">附件
                <span ng-switch="find('attachment').required && !find('attachment').disabled" >
                    <span ng-switch-when="true">
                        <span class="required" >*</span>
                    </span>
                </span>
            </label>
            <div class="col-sm-11">
                <button type="button" class="btn mb10" ng-click="action.uploadFile();" ng-show="!find('attachment').disabled">添加</button>
                <label ng-show="uploadFile.length==0 && find('attachment').disabled">无</label>
                <table class="table dataTable" style="width:755px!important;;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;" ng-show="uploadFile.length>0">
                    <thead><tr><th>文件名称</th><th width="100">添加人</th><th width="140">添加时间</th><th width="140">工单流程</th><th  width="100">操作</th></tr></thead>
                    <tbody >
                    <tr ng-repeat="type in uploadFile | orderBy:'created'">
                        <td><a href="/dmonitor-webapi/itsm/form/download?fileName={{type.name}}">
                            <span title="{{type['name']}}">{{type['name']}}</span>
                        </a></td>
                        <td><span title="{{type['createByName']}}">{{type['createByName']}}</span></td>
                        <td><span title="{{type['created']}}">{{type['created']}}</span></td>
                        <td><span title="{{type['step']}}">{{type['step']}}</span></td>
                        <td>
                            <i ng-if="type['step']=='新建'" class="fa fa-trash-o" ng-disabled="find('attachment').disabled || (type['del']!=true && formData.step!='提交' && formData.step!='新建')" ng-click="action.deleteFile(type.id)"></i>
                            <i ng-if="type['step']!='新建'" class="fa fa-trash-o" ng-disabled="find('attachment').disabled || (type['step']!=formData.step && type['del']!=true && type['step']!=currentStep)" ng-click="action.deleteFile(type.id)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-11" ng-switch="find('attachment').required && !find('attachment').disabled">
                <div ng-switch-when="true">
                    <input type="hidden" name="attachment" class="form-control" ng-model="hiddenData.attachment" ng-disabled="find('attachment').disabled" required>
                    <div class="warn" ng-show="editForm.attachment.$invalid && editForm.attachment.$dirty">
                        <span>请上传文件.</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <input type="hidden" name="attachment" class="form-control" ng-model="hiddenData.attachment" ng-disabled="find('attachment').disabled">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row mt20" ng-show="!findShow('sid-7E6EA8D8-9AFF-4649-9191-B21D4A077884')">
    <div class="col-xs-12">
        <widget-box>
            <widget-header>
                <h5>历史任务</h5>
            </widget-header>
            <widget-body>
                <table class="table dataTable" style="width: 100% !important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;">
                    <thead><tr><th width="140">问题标题</th><th width="140">工单流程</th><th width="100">处理人</th><th width="140">接收时间</th><th width="140">操作时间</th><th width="140">操作</th><th>备注</th></tr></thead>
                    <tbody >
                    <tr ng-repeat="type in historyProcess" ng-show="type.endTime">
                        <td><span title="{{type['title']}}">{{type.title}}</span></td>
                        <td><span title="{{type['name']}}">{{type.name}}</span></td>
                        <td ><span title="{{type.assignee}}">{{type.assignee}}</span></td>
                        <td ><span title="{{type.startTime}}">{{type.startTime}}</span></td>
                        <td ><span title="{{type.endTime}}">{{type.endTime}}</span></td>
                        <td ><span title="{{type.description}}">{{type.description}}</span></td>
                        <td ><span title="{{type.comment}}">{{type.comment}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </widget-body>
        </widget-box>
    </div>
</div>
</div>
</form>

<div  ng-include src="'views/itsm/knowledgelibQuery.html'"></div>
<div  ng-include src="'views/itsm/incidentQuery.html'"></div>
<div  ng-include src="'views/itsm/uploadFile.html'"></div>
<div  ng-include src="'views/itsm/forwardDialog.html'"></div>