<div class="content">
    <bread-crumb>
        <a>运维</a>
        <a>自定义流程</a>
        <a class="current">流程列表</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div ng-controller="dynamicFlowController">
            <div class="search-head">
                <div class="row">
                    <label>流程类型：</label>
                    <input type="text"  ng-model="searchPage.data.category"/>
                    <label>流程名称：</label>
                    <input type="text"  ng-model="searchPage.data.name"/>
                    <label >流程KEY&nbsp;：</label>
                    <input type="text"  ng-model="searchPage.data.key"/>
                    <button class="btn" ng-click="searchPage.action.search()">查询</button>
                </div>
            </div>
            <div class="list_button">
                <button class="btn" ng-disabled="loginUserMenuMap[currentView]" ng-click="listPage.action.upload();form.$setPristine();">上传部署</button>
            </div>
            <div>
                <table jq-table="listPage.settings" class="table"></table>
            </div>
        </div>

        <div dialog info="fileDialog">
            <div class="dialog-con" style="overflow: auto;padding-bottom: 5px;">
                <input type="file" id="file" name="file" />
                <label class="red" style="margin-top:10px; ">文件大小不能超过2MB</label>
            </div>
        </div>
    </div>
</div>

