<link rel="stylesheet" type="text/css" href="css/itsm/itsm.css">
<div class="content">
    <bread-crumb>
        <a>运维</a>
        <a>自定义流程</a>
        <a class="current">{{process.action}}</a>
    </bread-crumb>
    <div class="container container-wraper" style="width: 1044px;">
        <div class="modal-content" style="border: 0px;width: 100%;padding-top: 20px;">
            <div class="modal-body">
                <form class="form-horizontal" id="editForm" name="editForm">
                    <div class="list_button">
                        <button type="button" class="btn" ng-click="action.start();" ng-show="process.action=='新建'" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]"><span id="create">提交</span></button>
                        <!--<button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.save();" ng-show="process.action=='处理'">保存 </button>-->
                        <button type="button" class="btn" ng-click="action.complete();" ng-show="process.action=='处理'" ng-disabled="editForm.$invalid || loginUserMenuMap[currentView]">提交</button>
                        <button ng-disabled="loginUserMenuMap[currentView]" type="button" class="btn" ng-click="action.claimForward(formData.taskId);" ng-show="process.action=='签收'">签收</button>
                        <button type="button" class="btn" ng-click="action.back();">返回</button>
                    </div>
                    <div class="form-wrapper">
                        <div class="row">
                            <table class='dynamic-form-table'>

                            </table>
                        </div>
                        <div class="row mt20" ng-show="process.action!='新建'">
                            <div class="col-xs-12">
                                <widget-box>
                                    <widget-header>
                                        <h5>历史任务</h5>
                                    </widget-header>
                                    <widget-body>
                                        <table class="table dataTable" style="width: 100% !important;border: 1px solid #ccc;border-bottom:1px solid #ccc !important;">
                                            <thead><tr><th width="140">任务名称</th><th width="100">处理人</th><th width="140">接收时间</th><th width="140">操作时间</th><th>描述</th></tr></thead>
                                            <tbody >
                                            <tr ng-repeat="type in historyProcess" ng-show="type.endTime">
                                                <td><span title="{{type['name']}}">{{type.name}}</span></td>
                                                <td ><span title="{{type.assignee}}">{{type.assignee}}</span></td>
                                                <td ><span title="{{type.startTime}}">{{type.startTime}}</span></td>
                                                <td ><span title="{{type.endTime}}">{{type.endTime}}</span></td>
                                                <td ><span title="{{type.description}}">{{type.description}}</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </widget-body>
                                </widget-box>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>