include /lib/mixins/global
include /lib/mixins/form

.row
  .col-xs-6
    +group("ssh","user","用户名", "fa-user", "")
      +text("ssh","user")(required)
  .col-xs-6
    +group("ssh","password","密码", "fa-key", "")
      +text("ssh","password")(required)
.row
  .col-xs-6
    +group("ssh","port","SSH端口", "fa-terminal", "")
      +text("ssh","port")(required)
  .col-xs-6
    +group("ssh","timeout","超时", "fa-info-circle", "")
      +text("ssh","timeout")(required)
