<div ng-model="model">
	 <div class="list_button">
	 	<div class="row">
	 		<span class="btn-group-xs">
               <button class="btn" ng-show="isStatus && model.xsbz==1" ng-disabled="loginUserMenuMap[currentView] || model.status==3 || model.status==4 || model.status==5"  ng-click="add(serviceIndex,model,2)">领用</button>
            </span>
			<span class="btn-group-xs">
               <button class="btn" ng-show="isStatus && model.xsbz==1" ng-disabled="loginUserMenuMap[currentView] || model.status==2 || model.status==4 || model.status==5" ng-click="add(serviceIndex,model,3)">报修</button>
            </span>
			<span class="btn-group-xs">
               <button class="btn" ng-show="isStatus && model.xsbz==1" ng-disabled="loginUserMenuMap[currentView] || model.status==2 || model.status==5"  ng-click="add(serviceIndex,model,4)">报废</button>
            </span>
			<span class="btn-group-xs">
               <button class="btn" ng-show="isStatus && model.xsbz==1" ng-disabled="loginUserMenuMap[currentView] || model.status==2 || model.status==3 || model.status==5"  ng-click="add(serviceIndex,model,5)">修好归还</button>
            </span>
			<span class="btn-group-xs">
               <button class="btn" ng-show="isStatus && model.xsbz==1" ng-disabled="loginUserMenuMap[currentView] || model.status==2 || model.status==4 || model.status==5"  ng-click="add(serviceIndex,model,6)">归还</button>
            </span>
		<!-- 	<a ng-show="!isStatus" ng-click="add(serviceIndex,model,0)"><i class="fa fa-check"></i>确定</a>
			<a ng-show="!isStatus"  ng-click="select(serviceIndex)"><i class="fa fa-times"></i>取消</a> -->
	 	</div>
	 </div>
	 <div class="datagrid-con datagrid-form">
     <form class="form-horizontal" role="form">
	     <div class="row">
		  <div class="col-sm-6">
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">名称：</label>
		   	   <div class="col-sm-8">
				   <input type="text" class="form-control" ng-model="model.name">
				 </div>
                <div class="col-sm-1">
                    <span class="required">*</span>
                </div>
            </div>
		    <div class="form-group" >
		      <span class="col-sm-2 control-label">类别：</span>
		      <div class="col-sm-8">
			      <select class="form-control ng-pristine ng-valid" ng-model="model.category">
						<option value="硬件">硬件</option>
						<option value="软件">软件</option>
						<option value="非IT资产">非IT资产</option>
				  </select>
			    </div>
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">厂商：</label>
		   	   <div class="col-sm-8">
				   <input type="text" class="form-control" ng-model="model.requester">
				 </div>	
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">购买时间：</label>
		   	   <div class="col-sm-8">
		   	   	<p class="pr mp0">
	                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.begin_date"  is-open="true"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                  <span class="input-group-btn">
	                  		<i ng-click="open($event)" class="fa fa-clock-o"></i>
	                 </span>
                 </p>
				 </div>	
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">维保商：</label>
		   	   <div class="col-sm-8">
				   <input type="text" class="form-control"  ng-model="model.topic">
				 </div>	
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">入库时间：</label>
		   	   <div class="col-sm-8">
		   	   	 <p class="pr mp0">
	                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.rksj"  is-open="true"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                  <span class="input-group-btn">
	                  		<i ng-click="open($event)" class="fa fa-clock-o"></i>
	                 </span>
                 </p>
				 </div>	
		    </div>

			  <div class="form-group" ng-show="isStatus">
			   	<span class="col-sm-2 control-label">状态：</span>
			   	<span class="col-sm-8">{{model.statusmc}}</span>
			  </div>  
		  </div> 
		  <div class="col-sm-6">
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">位置：</label>
		      <div class="col-sm-8">
			      <select class="form-control ng-pristine ng-valid" ng-model="model.location">
                      <option ng-repeat="s in locList" value="{{s.mc}}">{{s.mc}}</option>
				  </select>
			    </div>
		    </div>
		    <div class="form-group" >
		      <span class="col-sm-2 control-label">类型：</span>
		      <div class="col-sm-8">
			      <select class="form-control ng-pristine ng-valid" ng-model="model.type">
						<option value="内存">内存</option>
						<option value="CPU">CPU</option>
						<option value="硬盘">硬盘</option>
					</select>
			    </div>
		    </div> 
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">型号：</label>
		   	   <div class="col-sm-8">
				   <input type="text" class="form-control" ng-model="model.problem">
				 </div>	
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">保修时间：</label>
		   	   <div class="col-sm-8">
				   			         <p class="pr mp0">
	                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.end_date"  is-open="true"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                  <span class="input-group-btn">
	                  		<i ng-click="open($event)" class="fa fa-clock-o"></i>
	                 </span>
                 </p>
				 </div>	
		    </div>
		    <div class="form-group" >
		       <label class="col-sm-2 control-label">联系电话：</label>
		   	   <div class="col-sm-8">
				   <input type="text" class="form-control" ng-model="model.phone">
				 </div>	
		    </div>
		    <div class="form-group" >
		      <span class="col-sm-2 control-label">负责人：</span>
		      <div class="col-sm-8">
			    				<span class="block ">
					<input type="text"  class="form-control" ng-model="usertreeText" ng-click="showUserTree();stopEvent($event);"/>
					<i class="fa fa-caret-down icon-info-sign"  ng-click="showUserTree();stopEvent($event);"></i>
				</span>
				<div class="ztreef" ng-show="userTreeShowState">
				    <i class="fa fa-angle-up up-icon"></i>
					<div itsm-ztree url='userTreeUrl'  check="userCheck" checkbox="true"  name="'tuz1'" data="userTreeData"></div>
				</div>
				<input type="hidden"  ng-model="model.handler">
			   </div>

		    </div>
 
		  </div> 
		</div>

		<div class="form-group">
		 <span class="col-sm-1 control-label">备注：</span>
	      <div class="col-sm-8">
		     <textarea type="text" class="form-control" ng-model="model.description"/>
		   </div>
		</div>
		<div class="form-group">
			<span class="col-sm-1 control-label"></span>
		 <div class="col-sm-8">
			<ul class="nav nav-tabs server-tab">
			  <li class="ml10">历史记录</li>
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content server-content">
			  <div class="tab-pane active">
			     <ul ng-repeat="d in datas">
			     	   <li>{{d.note1}}</li> 
			     </ul>
			  </div>
			</div>

		 </div>
		</div>
		<div class="modal-footer modal-t">
<!-- 			<button type="button" ng-show="isStatus && model.xsbz==1" ng-disabled="model.status==3 || model.status==4 || model.status==5" class="btn btn-primary btn-lg" ng-click="add(serviceIndex,model,2)">领用</button>
			<button type="button" ng-show="isStatus && model.xsbz==1" ng-disabled="model.status==2 || model.status==4 || model.status==5" class="btn btn-primary btn-lg" ng-click="add(serviceIndex,model,3)">报修</button>
			<button type="button" ng-show="isStatus && model.xsbz==1" ng-disabled="model.status==2 || model.status==5" class="btn btn-primary btn-lg" ng-click="add(serviceIndex,model,4)">报废</button>
			<button type="button" ng-show="isStatus && model.xsbz==1" ng-disabled="model.status==2 || model.status==3 || model.status==5" class="btn btn-primary btn-lg" ng-click="add(serviceIndex,model,5)">修好归还</button>
			<button type="button" ng-show="isStatus && model.xsbz==1" ng-disabled="model.status==2 || model.status==4 || model.status==5" class="btn btn-primary btn-lg" ng-click="add(serviceIndex,model,6)">归还</button>-->
			<button type="button" ng-if="!isStatus" class="btn btn-primary" ng-click="add(serviceIndex,model,0)">确定</button>
			<button type="button" class="btn btn-default"  ng-click="select(serviceIndex)">取消</button>
		</div>
	</form> 
	</div> 
</div>