<div ng-include src="'views/resource/template/header-more.html'"></div>

<div class="row" style="margin-top: 20px">
    <layout-tab>
        <tab-titles>
            <tab-title>访问参数</tab-title>
            <tab-title>业务信息</tab-title>
        </tab-titles>
        <tab-contents>
            <tab-content>
                <div ng-include src="'views/resource/template/protocols.html'"></div>

                <div ng-include src="'views/resource/protocol/ssh.html'"></div>

                <div ng-include src="'views/resource/template/testBtn.html'"></div>
            </tab-content>
            <tab-content>
                <div ng-include src="'views/resource/business/info-more.html'"></div>
            </tab-content>
        </tab-contents>
    </layout-tab>
</div>
