<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/summary.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/baseInfo.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/resourceInfo.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/availablity.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row" ng-if="currentMoc.cpuPies || currentMoc.trend">
                <div class="col-xs-12">
                    <widget-box>
                        <widget-header>
                            <h5>CPU利用率</h5>
                        </widget-header>
                        <widget-body>
                            <table class="simple-table" height="200" >
                                <tr>
                                    <td width="50%" ng-repeat="l in currentMoc.cpuPies">
                                        <div ng-controller="cpuPieCtrl">
                                            <div id="cpuChart{{$index}}" speed-chart></div>
                                        </div>
                                    </td>
                                    <td width="50%" style="padding:10px;">
                                        <div ng-repeat="l in currentMoc.cpuBars">
                                            <div ng-controller="cpuBarCtrl" process-bar></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="row" ng-if="currentMoc.trend" >
                                <div class="col-xs-12">
                                    <div class="trend-wrapper">
                                        <trend-chart ng-controller="hisTrendCtrl"></trend-chart>
                                    </div>
                                </div>
                            </div>
                        </widget-body>
                    </widget-box>
                </div>
            </div>

            <div class="row" ng-if="currentMoc.memPies">
                <div class="col-xs-12">
                    <widget-box>
                        <widget-header>
                            <h5>MEM利用率</h5>
                        </widget-header>
                        <widget-body>
                            <table class="simple-table">
                                <tr>
                                    <td width="50%" ng-repeat="l in currentMoc.memPies">
                                        <div ng-controller="memPieCtrl">
                                            <div style="width:60%;text-align: center;">{{pieObj.name}}</div>
                                            <div id="memChart{{$index}}" speed-chart2 style="width:60%;float:left;"></div>
                                            <div class="right-memul" style="width:40%;">
                                                <ul ng-if="l.bottom">
                                                    <li ng-repeat="b in l.bottom" ng-show="resource.metricMap[l.indicator+'.'+b]">
                                                        <div title="{{resource.metricMap[l.indicator+'.'+b]}}" class="right-menul-title">
                                                            {{resource.metricMap[l.indicator+'.'+b]}}
                                                        </div>
                                                        <div>
                                                            {{bottom[$index]}}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </widget-body>
                    </widget-box>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="currentMoc.tables">
        <div class="col-sm-12">
            <div ng-include src="'../dashboard/commonTemplates/tables.html'"></div>
        </div>
    </div>
</div>






