<div modal-dialog settings="addModalSetting" class="dialog">
    <form name="addForm" novalidate>
        <div class="dialog-con" style="overflow: auto;">
            <table class="modal-table">
                <tbody>
                <tr>
                    <td class="row-lable">报废原因</td>
                    <td>
                        <input type="text" id="name" name="name" style="width:500px;" ng-model="model.name" maxlength="64" ng-disabled="modalType==2" />
                        <span class="required">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="row-lable vt"> 报废说明 </td>
                    <td>
                        <textarea id="content" name="content" ng-model="model.content" maxlength="255" style="height:300px;width:500px;max-width:500px;"> </textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
