<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<link rel="stylesheet" type="text/css" href="css/alarm/alarm.css">
<style>
    .td-text{
        padding: 0px;
        float:left;
        width:85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>告警</a>
        <a class="current">组合告警规则</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div class="search-head">
            <form name="sform" novalidate>
            <div class="row">
                <!--<label>资源类型：</label>-->
                <!--<select ng-model="searchPage.data.mocpId" name="mocpId" ng-change="searchPage.data.mocId=''">-->
                    <!--<option value="">不限</option>-->
                    <!--<option ng-value="moc.id" ng-repeat="moc in $root.history.mocTree">{{moc.displayName}}</option>-->
                <!--</select>-->
                <!--<select ng-model="searchPage.data.mocId" name="mocId">-->
                    <!--<option value="">不限</option>-->
                    <!--<option ng-value="moc.id" ng-if="moc.parentId==searchPage.data.mocpId" ng-repeat="moc in searchPage.mocs">{{moc.displayName}}</option>-->
                <!--</select>-->
                <label> 规则名称：</label>
                <input type="text" ng-model="searchPage.data.name" ng-maxlength="255"/>
                <label> 规则状态：</label>
                <select ng-model="searchPage.data.active">
                    <option value="">不限</option>
                    <option value="1"> 启用</option>
                    <option value="0"> 停用</option>
                </select>
                <label> 更新时段：</label>
                <input type="text" ng-model="searchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                <input type="text" ng-model="searchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                <button class="btn" ng-click="searchPage.action.search()" ng-disabled="sform.$invalid">查询</button>
            </div>
            </form>
        </div>
        <!-- 数据列表 -->
        <div class="pr">
            <div class="list_button">
                <button type="button" class="btn" ng-click="listPage.action.add()" ng-disabled="loginUserMenuMap[currentView]">新增</button>
                <button type="button" class="btn" ng-click="listPage.action.removeAll()" ng-disabled="loginUserMenuMap[currentView]">删除</button>
                <button type="button" class="btn" ng-click="listPage.action.active(true)" ng-disabled="loginUserMenuMap[currentView]">启用</button>
                <button type="button" class="btn" ng-click="listPage.action.active(false)" ng-disabled="loginUserMenuMap[currentView]">停用</button>
                <!--<button type="button" class="btn btn-primary" onclick="javascript:document.body.innerHTML=$('#print').html();window.print();location.reload();">导出</button>-->
            </div>
            <div id="print">
            <table jq-table="listPage.settings" class="table"></table>
            </div>
        </div>
    </div>

    <div dialog info="roleDailog" data="roleDailog.model">
        <form name="form" novalidate>
            <div class="dialog-con" style="overflow: auto">
                <table class="modal-table">
                    <tr>
                        <td class="row-lable"> 规则名称 </td>
                        <td>
                            <input type="text" id="name" ng-model="roleDailog.model.name"  name="name"
                                   ng-maxlength="100" required   ng-pattern="/^[^<>]*$/"/>
                            <span class="required">*</span>
                            <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                                <span ng-show="form.name.$error.required">此项不能为空.</span>
                                <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                                <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">不能输入‘<’或‘>’.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 规则状态 </td>
                        <td>
                            <label style="margin-top: -5px;">
                                <input type="checkbox" id="active" class="ace ace-switch ace-switch-4" ng-model="addPage.data.active" value=true/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 告警等级 </td>
                        <td>
                            <span class="radio" ng-repeat="l in $root.alarm.const.levels">
                                <label>
                                    <input class="ace" type="radio" ng-model="roleDailog.model.level" value={{l.value}}>
                                    <span class="lbl"  style="margin-top:-3px;"></span>
                                </label>
                                <span compile="l.label"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="vt row-lable"> 告警选择 </td>
                        <td class="pt10">
                            <div class="sour_choose_box di" style="width:500px">
                                <div class="sour_choose_boxm clearfix" style="border-bottom: 0;">
                                    <div class="sour_choose_boxm_l left" style="width:249px;">
                                        <div class="sour_choose_boxm_head"> 告警规则</div>
                                        <div class="sour_choose_boxm_lcon" style="overflow: auto">
                                            <ul id="{{roleDailog.alarmRuleTree.treeId}}" user-ztree="roleDailog.alarmRuleTree" class="ztree" style="overflow: visible;width: 700px"></ul>
                                        </div>
                                    </div>
                                    <div class="sour_choose_boxm_r right">
                                        <div class="sour_choose_boxm_head">已选规则</div>
                                        <div class="sour_choose_boxm_rcon">
                                            <ul id="{{roleDailog.ruleTree.treeId}}" user-ztree="roleDailog.ruleTree" class="ztree"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="required di vt">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="vt row-lable" style="padding-top: 15px;"> 组合告警表达式 </td>
                        <td class="pt10">
                            <textarea style="width:500px;" type="text"  placeholder=" 表达式格式：[告警规则编号]&&[告警规则编号]（&&：与；||：或）" ng-model="roleDailog.model.rule" ng-maxlength="255" required ></textarea>
                            <span class="required">*</span>
                            <input style="display: none" type="text" ng-model="roleDailog.data.ruleCheck" name="ruleCheck"  ng-maxlength="0"/>
                            <div class="warn" ng-show="roleDailog.model.rule.length>0">
                                <span ng-show="form.ruleCheck.$error.maxlength">{{roleDailog.data.ruleCheck}}</span>
                            </div>
                            <!--<div class="warn"></div>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 告警内容 </td>
                        <td><textarea style="width:500px;" ng-model="roleDailog.model.content"  ng-maxlength="255" required ng-pattern="/^[^<>]*$/" ></textarea></td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 恢复内容 </td>
                        <td><textarea style="width:500px;" ng-model="roleDailog.model.recoveryContent"  ng-maxlength="255" required  ng-pattern="/^[^<>]*$/" ></textarea></td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 通知方式 </td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checklist-value="'sms'" checklist-model="roleDailog.data.notifyMethod">
                                    <i></i>
                                </label>
                                短信
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checklist-value="'email'" checklist-model="roleDailog.data.notifyMethod">
                                    <i></i>
                                </label>
                                邮件
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="vt row-lable"> 通知人 </td>
                        <td class="pt10">
                            <input type="hidden" ng-model="roleDailog.model.notifier" name="notifier"/>
                            <ul id="{{roleDailog.userTree.treeId}}" user-ztree="roleDailog.userTree" class="ztree" style="width:500px;display: inline-block;"></ul>
                            <span class="required di vt">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 备注 </td>
                        <td>
                            <textarea ng-model="roleDailog.model.remark" name="remark" ng-maxlength="255" ng-pattern="/^[^<>]*$/" style="width:500px"></textarea>
                            <div class="warn">
                                <span ng-show="form.remark.$error.maxlength">超出长度限制.</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="roleDailog.save();form.$setPristine();">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="form.$setPristine();">取消</button>
            </div>
        </form>
    </div>
</div>

