<div id="baseline_rule_search_div" class="search-head">
    <div class="row">

        <label>资源类型：</label>
        <select ng-model="searchPage.data.mocId">
            <option value=""> 不限</option>
            <option ng-repeat="type in searchPage.mocList" value={{type.id}}> {{type.displayName}}</option>
        </select>

        <label>资源实例：</label>
        <input type="text" ng-model="searchPage.data.moDisplayName"/>

        <label>指标类型：</label>
        <select ng-model="searchPage.data.indicatorId">
            <option value=""> 不限</option>
            <option ng-repeat="type in searchPage.indicatorList" value={{type.id}}> {{type.displayName}}</option>
        </select>

        <label></label>
        <select ng-model="searchPage.data.metricId">
            <option value=""> 不限</option>
            <option ng-repeat="type in searchPage.metricList" value={{type.id}}> {{type["displayName"]}}</option>
        </select>

        <label>所属机房：</label>
        <input type="text" readonly z-tree="{
            inData:'locationsForJFSearch',
            outData:'searchPage.data.jfId',
            outParentData:'',
            type:'radio',
            description:'name',
            children:'children',
            value:'id',
            depth:2,
            radioCancel:true,
            isLeaf:'searchPage.isLeaf'
        }" id="jfsText"/>

    </div>
    <div class="row">
        <label> 规则状态：</label>
        <select ng-model="searchPage.data.active">
            <option value=""> 不限</option>
            <option value=true> 启用</option>
            <option value=false> 停用</option>
        </select>
        <label> 规则名称：</label>
        <input type="text" ng-model="searchPage.data.displayName" maxlength="30"/>
        <label>更新时段：</label>
        <input type="text" ng-model="searchPage.data.startUpdated" jq-date format="yyyy-mm-dd hh:ii" readonly/>
        <input type="text" ng-model="searchPage.data.endUpdated" jq-date format="yyyy-mm-dd hh:ii" readonly/>
        <label>轮询间隔：</label>
        <select ng-model="searchPage.data.sampleInterval" >
            <option value=""> 不限</option>
            <option ng-repeat="type in searchPage.sampleIntervalList" value={{type.value}}>
                {{type.label}}
            </option>
        </select>
    </div>
    <div class="row">
        <label> 告警等级：</label>
        <div  class="checkbox" ng-repeat="l in $root.alarm.const.levels"><label><input type="checkbox" checklist-model="searchPage.data.levels" checklist-value="l.value"><i></i></label><span compile="l.label"></span></div>
        <button class="btn" ng-click="searchPage.action.search(true)">查询</button>
    </div>
</div>