<div modal-dialog settings="editPage.modal.settings" class="ldialog">
    <form id="editBaselineForm" name="editBaselineForm" novalidate>
        <div class="dialog-con" style="height:475px;overflow: auto;">
        <table class="modal-table">
            <tr>
                <td class="row-lable" style="width: 65px;display:block">基线名称</td>
                <td><input type="text" ng-model="editPage.data.displayName" placeholder="[资源类型][指标组-指标]"
                           maxlength="100"/></td>
            </tr>
            <tr>
                <td class="row-lable" style="vertical-align: top;width: 65px;display:block">所属区域</td>
                <td>
                    <input style="width: 120px" type="text" readonly z-tree="{
                    inData:'locations',
                    outData:'editPage.data.locId',
                    outParentData:'',
                    type:'all_radio',
                    description:'name',
                    children:'children',
                    value:'id',
                    depth:10,
                    radioCancel:true
                    }" id="editLocationText"/>
                </td>
            </tr>
            <tr>
                <td class="row-lable" style="vertical-align: top;width: 65px;display:block">数据来源</td>
                <td>
                    <table class="groupTable">
                        <tr>
                            <td width="75px">资源类型：</td>
                            <td width="100px">{{editPage.data.mocDisplayName}}</td>
                            <td width="85px">资源指标组：</td>
                            <td width="140px">{{editPage.data.indicatorDisplayName}}</td>
                            <td width="75px">资源指标：</td>
                            <td width="160px">{{editPage.data.metricDisplayName}}</td>
                            <td>
                                <button ng-disabled="editPage.selectRulePanel" class="btn" ng-click="editPage.action.changeData()">更改数据来源</button>
                            </td>
                        </tr>
                    </table>
                    <table class="groupTable" ng-show="editPage.selectRulePanel">
                        <tr>
                            <td>请选择一条采集规则作为数据来源</td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>规则名称</td>
                                        <td><input style="width: 130px" type="text"
                                                   ng-model="editPage.search.condition.displayName" maxlength="100"/></td>
                                        <td>资源类型</td>
                                        <td>
                                            <select style="width: 100px" ng-model="editPage.search.condition.mocId">
                                                <option value=""> 不限</option>
                                                <option ng-repeat="type in searchPage.mocList" value={{type.id}}>
                                                    {{type.displayName}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>指标类型</td>
                                        <td>
                                            <select style="width: 100px"
                                                    ng-model="editPage.search.condition.indicatorId">
                                                <option value=""> 不限</option>
                                                <option ng-repeat="type in editPage.search.indicatorList"
                                                        value={{type.id}}> {{type.displayName}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select style="width: 100px" ng-model="editPage.search.condition.metricId">
                                                <option value=""> 不限</option>
                                                <option ng-repeat="type in editPage.search.metricList"
                                                        value={{type.id}}> {{type["displayName"]}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="btn" ng-click="editPage.action.searchRule(true)">查询</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table jq-table="editPage.search.settings" class="table"
                                       id="editPageSearchDataTable"></table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="row-lable" style="vertical-align: top;padding-top: 15px;width: 65px;display:block">基线数据</td>
                <td>
                    <table class="groupTable">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>选择日期</td>
                                        <td>
                                            <input title="{{editPage.selectDataDate?'':'要选择数据日期，请首先选择或更改数据来源'}}" id="dataDateInput" ng-disabled="!editPage.selectDataDate" style="width: 100px" type="text"
                                                   ng-model="editPage.data.valueDateStr"
                                                   jq-date format="yyyy-mm-dd" readonly/>
                                        </td>
                                        <td>偏离类型</td>
                                        <td>
                                            <select style="width: 100px" ng-model="editPage.data.type">
                                                <option value=0>绝对值</option>
                                                <option value=1>百分比</option>
                                            </select>
                                        </td>
                                        <td>正偏离</td>
                                        <td>
                                            <input style="width: 100px" type="text" ng-model="editPage.data.offsetP"/>
                                        </td>
                                        <td>负偏离</td>
                                        <td>
                                            <input style="width: 100px" type="text" ng-model="editPage.data.offsetN"/>
                                        </td>
                                        <td>
                                            <button class="btn" ng-click="editPage.action.showChart()" ng-disabled="editPage.canSave || !editPage.canLoadChart">查询</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="baselineChartDiv" ng-show="editPage.showChart" ></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </div>
    </form>
</div>
