<div id="baseline_list_div">
    <div class="list_button">
        <button type="button" class="btn dropdown-toggle" ng-click="listPage.action.add()" ng-disabled="!searchPage.data.mocpId || $root.loginUserMenuMap[$root.currentView]">新增 </button>
        <button type="button" class="btn" ng-click="listPage.action.batchDelete()" ng-disabled="!searchPage.data.mocpId || $root.loginUserMenuMap[$root.currentView]">删除 </button>
    </div>
    <div id="print">
    <table jq-table="listPage.settings" class="table" id="listPageDataTable"></table>
    </div>
</div>