<div modal-dialog settings="addPage.modal.settings" class="ldialog">
<form id="addBaselineRuleForm" name="addBaselineRuleForm" novalidate>
<div class="dialog-con" style="height:475px;overflow: auto;">

<table class="modal-table">
    <tr>
        <td class="row-lable"> 规则名称</td>
        <td><input type="text" ng-model="addPage.data.displayName" placeholder="[资源实例][指标组-指标][索引值]" maxlength="100" ng-readonly="!addPage.isEdit" /></td>
    </tr>
    <tr>
        <td class="row-lable"> 规则状态</td>
        <td>
            <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="addPage.data.active"/>
            <span class="lbl"></span>
        </td>
    </tr>
    <tr>
        <td class="row-lable"> 告警等级</td>
        <td>
            <span class="radio" ng-repeat="l in $root.alarm.const.levels">
                <label>
                    <input class="ace" type="radio" ng-model="addPage.data.level" value={{l.value}}>
                    <span class="lbl"></span>
                </label>
                <span compile="l.label"></span>
            </span>
        </td>
    </tr>
    <tr>
        <td class="row-lable"> 轮询间隔</td>
        <td>
            <select ng-model="addPage.data.intervalNum" class="yinput">
                <option ng-repeat="i in addPage.temp.intervalNumList" value={{i}}> {{i}}</option>
            </select>
            <select ng-model="addPage.data.intervalUnit" class="yinput">
                <option value="minute">分钟</option>
                <option value="hour">小时</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="row-lable"> 告警/恢复延迟</td>
        <td>
            <input ng-model="addPage.data.occursDelay" required type="number" min="1" max="1000">
            <span>次</span>
            <span class="required">*</span>
        </td>
    </tr>
    <tr ng-show="!addPage.isEdit">
        <td class="vt row-lable"> 资源选择</td>
        <td class="pt10">
            <div class="sour_choose_box di" style="width:705px">
                <div class="sour_choose_boxt pr">
                    <span>资源类型</span>
                    <select id="jmocid2" ng-model="addPage.data.mocId" class="yinput" style="color: #858585;">
                        <option ng-repeat="type in searchPage.mocList" value='{{type.id}}'
                                style="color: #858585;">
                            {{type.displayName}}
                        </option>
                    </select>
                </div>
                <div class="sour_choose_boxm clearfix">
                    <div class="sour_choose_boxm_l left" style="width:444px;">
                        <div class="sour_choose_boxm_head"> 指标类型</div>
                        <div class="sour_choose_boxm_lcon">
                            <ul class="ztree" style="height: 300px;margin-left: 0px;" z-tree="{
                                            inData:'addPage.temp.metricList',
                                            outData:'addPage.hit.selectMetricIdList',
                                            outParentData:'',
                                            type:'all_checkbox',
                                            description:'displayName',
                                            children:'children',
                                            value:'id',
                                            depth:2
                                            }" id="metricTree">
                            </ul>
                        </div>
                    </div>
                    <div class="sour_choose_boxm_r right">
                        <div class="sour_choose_boxm_head">资源实例</div>
                        <div class="sour_choose_boxm_rcon">
                            <ul id="moTree" class="ztree" style="height: 300px  !important;margin: 0px;" z-tree="{
                                            inData:'addPage.temp.moTreeData',
                                            outData:'addPage.hit.selectMoIdList',
                                            outParentData:'',
                                            type:'all_checkbox',
                                            description:'displayName',
                                            children:'children',
                                            value:'id',
                                            depth:2}">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sour_choose_boxb">
                    <form name="formcreate" novalidate>
                        <button class="btn btn-primary"
                                ng-disabled="addPage.hit.selectMoIdList.length==0 || addPage.hit.selectMetricIdList.length==0"
                                ng-click="addPage.action.hitRules()">命中规则
                        </button>
                    </form>
                </div>
            </div>
            <!--<span class="required di vt">*</span>-->
        </td>
    </tr>
</table>

<div ng-show="addPage.hitRulesPanelShow && !addPage.isEdit">
    <table class="modal-table">
        <tr>
            <td class="vt row-lable"> 命中的规则</td>
            <td>
                <div class="sour_choose_box mt10" style="width:705px">
                    <div class="sour_choose_boxt pr">
                        <span>资源实例</span>
                        <select ng-model="addPage.hit.search.moId" class="yinput">
                            <option value=""> 不限</option>
                            <option ng-repeat="type in addPage.hit.selectMoList" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <span>指标组</span>
                        <select ng-model="addPage.hit.search.indicatorId" class="yinput">
                            <option value=""> 不限</option>
                            <option ng-repeat="type in addPage.hit.selectIndicatorList" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <span>指标</span>
                        <select ng-model="addPage.hit.search.metricId" class="yinput">
                            <option value=""> 不限</option>
                            <option ng-repeat="type in addPage.hit.selectMetricList" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <button class="btn btn-primary" ng-click="addPage.hit.settings.reload(false)">查询</button>
                    </div>
                    <table jq-table="addPage.hit.settings" class="table"></table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div ng-show="addPage.isEdit">
    <table class="modal-table">
        <tr>
            <td class="vt row-lable"> 资源信息</td>
            <td>
                <table class="table" style="border: 1px solid #ccc;">
                    <thead>
                    <tr>
                        <th style="width:60px;">资源类型</th>
                        <th style="width:180px;">资源名称</th>
                        <th style="width:80px;">资源指标</th>
                        <th style="width:60px;">指标索引</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{addPage.data.mocDisplayName}}">{{addPage.data.mocDisplayName}}</td>
                        <td style="width:180px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{addPage.data.moDisplayName}}">{{addPage.data.moDisplayName}}</td>
                        <td style="width:80px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{addPage.data.indicatorDisplayName}}-{{addPage.data.metricDisplayName}}">{{addPage.data.indicatorDisplayName}}-{{addPage.data.metricDisplayName}}</td>
                        <td style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{addPage.data.metricIndex}}">{{addPage.data.metricIndex}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<table class="modal-table">
    <tr>
        <td class="row-lable"> 基线</td>
        <td>
            <input type="text" ng-model="addPage.baseline.data.displayName" readonly/>
            <button class="btn btn-primary" ng-disabled="addPage.showBaselinePanel" ng-click="addPage.action.showBaselinePanel(true)">选择基线</button>
            <button class="btn btn-primary" ng-disabled="!addPage.canScanChart" ng-click="addPage.action.showBaselineChart()">预览</button>
        </td>
    </tr>
    <tr  ng-show="addPage.showBaselinePanel">
        <td class="row-lable"></td>
        <td>
            <table class="groupTable" style="width:707px">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>基线名称</td>
                                <td><input style="width: 130px" type="text"
                                           ng-model="addPage.baseline.search.displayName"/></td>
                                <td>指标类型</td>
                                <td>
                                    <select style="width: 100px"
                                            ng-model="addPage.baseline.search.indicatorId">
                                        <option value=""> 不限</option>
                                        <option ng-repeat="type in addPage.temp.metricList"
                                                value={{type.id}}> {{type.displayName}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select style="width: 100px" ng-model="addPage.baseline.search.metricId">
                                        <option value=""> 不限</option>
                                        <option ng-repeat="type in addPage.baseline.temp.metricList"
                                                value={{type.id}}> {{type["displayName"]}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn" ng-click="addPage.baseline.settings.reload(false)">查询</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table jq-table="addPage.baseline.settings" class="table" id="addPageSearchBaselineTable"></table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr  ng-show="addPage.showBaselineChart">
        <td class="row-lable"></td>
        <td class="row-lable">
            <div id="baselineChartDiv"></div>
        </td>
    </tr>
</table>

<div class="row" style="padding-left: 0px;">
    <i id="downadd" class="fa fa-plus" ng-show="!addPage.plusOptionShow" ng-click="addPage.action.plusOption(true)">&nbsp;高级设置</i>
    <i id="upadd" class="fa fa-minus" ng-show="addPage.plusOptionShow" ng-click="addPage.action.plusOption(false)">&nbsp;高级设置</i>
</div>

<div ng-show="addPage.plusOptionShow">
    <table class="modal-table">
        <tr>
            <td class="row-lable"> 检测时间</td>
            <td>
                <div class="checkbox" ng-repeat="d in $root.alarm.const.weekdays">
                    <label>
                        <input name="week" type="checkbox" checklist-model="addPage.data.workingDayList"
                               checklist-value="d.value"><i></i>
                    </label>
                    {{d.label}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="row-lable"> 检测时段</td>
            <td>
                <select ng-model="addPage.data.workingTimeBegin" class="yinput">
                    <option ng-repeat="i in addPage.temp.workingTimeBeginList" value={{i}}> {{i}}</option>
                </select>
                时---
                <select id="endT" ng-model="addPage.data.workingTimeEnd" class="yinput">
                    <option ng-repeat="i in addPage.temp.workingTimeEndList" value={{i}}> {{i}}</option>
                </select>
                时
            </td>
        </tr>
        <tr>
            <td class="row-lable"> 告警内容</td>
            <td><input type="text" style="width: 380px" value="【对象名】【指标】告警，当前值【当前值】，告警条件【条件】" readonly/></td>
        </tr>
        <tr>
            <td class="row-lable"> 恢复内容</td>
            <td><input type="text" style="width: 380px" value="【对象名】【指标】恢复，当前值【当前值】，告警条件【条件】" readonly/></td>
        </tr>
        <tr>
            <td class="row-lable"> 通知方式</td>
            <td>
                <div class="checkbox" ng-repeat="d in  $root.alarm.const.noticeWay">
                    <label>
                        <input type="checkbox" checklist-model="addPage.data.notifyWayList"
                               checklist-value="d.value"/><i></i>
                    </label>
                    {{d.label}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="vt row-lable"> 通知人</td>
            <td>
                <ul id="usersText" class="ztree"
                    z-tree="{
                            inData:'notifyUserTree',
                            outData:'addPage.data.notifierList',
                            outParentData:'',
                            type:'checkbox',
                            description:'name',
                            children:'children',
                            value:'id',
                            isLeaf:'addPage.action.userTreeLeaf',
                            depth:100}"></ul>
            </td>
        </tr>
    </table>
</div>

</div>
</form>
</div>
