<link rel="stylesheet" type="text/css" href="css/alarm/alarm.css">
<style>
    .td-text{
        padding: 0px;
        float:left;
        width:85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>告警</a>
        <a class="current">告警规则</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <layout-lr>
        <panel-left>
            <div id="sidebar" class="left-sidebar" style="overflow-y: visible">
                <div class="menu-title">
                    <span>资源类型组</span>
                </div>
                <ul user-ztree="mocTree" id="{{mocTree.treeId}}" class="ztree"></ul>
            </div>
            <collapse-left></collapse-left>
        </panel-left>
        <!--  关闭left，可选 -->
        <panel-right>
            <div class="page-content"  ng-show="type==0">
                <div class="search-head">
                    <div class="row">
                        <label>资源类型：</label>
                        <select id="jmocid" ng-model="searchPage.data.mocId">
                            <option value=""> 不限</option>
                            <option ng-repeat="type in searchPage.datas.mocs" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <label>资源实例：</label>
                        <input type="text" ng-model="searchPage.data.moName" maxlength="30"/>
                        <label>指标类型：</label>
                        <select ng-model="searchPage.data.indicatorId" >
                            <option value=""> 不限</option>
                            <option ng-repeat="type in searchPage.datas.indicators" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <label></label>
                        <select ng-model="searchPage.data.metricId" >
                            <option value=""> 不限</option>
                            <option ng-repeat="type in searchPage.datas.metrics" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                        <label>所属机房：</label>
                        <input type="text" readonly z-tree="{
                                                inData:'locationsForJFSearch',
                                                outData:'searchPage.data.jfId',
                                                outParentData:'',
                                                type:'radio',
                                                description:'name',
                                                children:'children',
                                                value:'id',
                                                depth:2,
                                                radioCancel:true,
                                                isLeaf:'isLeaf'
                                              }" id="jfsText"/>
                    </div>
                    <div class="row">
                        <label> 规则状态：</label>
                        <select ng-model="searchPage.data.active">
                            <option value=""> 不限</option>
                            <option value=true> 启用</option>
                            <option value=false> 停用</option>
                        </select>
                        <label> 规则名称：</label>
                        <input type="text" ng-model="searchPage.data.displayName" maxlength="30"/>
                        <label>更新时段：</label>
                        <input type="text" ng-model="searchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                        <!--<label class="n1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                        <input type="text" ng-model="searchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                        <label>轮询间隔：</label>
                        <select ng-model="searchPage.data.sampleInterval" >
                            <option value=""> 不限</option>
                            <option ng-repeat="type in searchPage.datas.sampleIntervals" value={{type.id}}>
                                {{type.displayName}}
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <label> 告警等级：</label>
                        <div  class="checkbox" ng-repeat="l in $root.alarm.const.levels"><label><input type="checkbox" checklist-model="searchPage.data.level" checklist-value="l.value"><i></i></label><span compile="l.label"></span></div>
                        <button type="button" class="btn" ng-click="searchPage.action.search()">查询</button>
                    </div>
                </div>
                <!-- 数据列表 -->
                <div class="pr">
                    <div class="list_button">
                        <button type="button" class="btn" ng-click="listPage.action.add()" ng-disabled="loginUserMenuMap[currentView]">新增</button>
                        <button type="button" class="btn" ng-click="listPage.action.batchRemove()" ng-disabled="loginUserMenuMap[currentView]">删除</button>
                        <button type="button" class="btn" ng-click="listPage.action.batchActive(true)"
                                 ng-disabled="loginUserMenuMap[currentView]">启用</button>
                        <button type="button" class="btn" ng-click="listPage.action.batchActive(false)" ng-disabled="loginUserMenuMap[currentView]">停用</button>
                        <!--<button type="button" class="btn btn-primary" onclick="javascript:document.body.innerHTML=$('#print1').html();window.print();location.reload();">导出</button>-->
                    </div>
                    <div id="print1">
                    <table jq-table="listPage.settings" class="table"></table>
                    </div>
                </div>
            </div>
        </panel-right>
    </layout-lr>

</div>
<!-- 添加  页面-->
<div ng-include src="'views/alarm/ruleAdd.html'"></div>
<!-- 编辑  页面-->
<div ng-include src="'views/alarm/ruleEdit.html'"></div>
