<link rel="stylesheet" type="text/css" href="css/alarm/alarm.css">
<div dialog info="alarmEditDialog" data="editPage.data">
<form name="form" novalidate>
    <div class="dialog-con" style="height:400px;overflow: auto;">
        <table class="modal-table">
            <tr>
                <td class="row-lable"> 规则名称 </td>
                <td>
                    <input name="displayName" type="text" ng-model="editPage.data.displayName"  placeholder="规则名称" ng-maxlength="100" required/>
                    <span class="required">*</span>
                    <div class="warn" ng-show="form.displayName.$dirty && form.displayName.$invalid">
                        <span ng-show="form.displayName.$error.required">此项不能为空.</span>
                        <span ng-show="!form.displayName.$error.required && form.displayName.$error.maxlength">超出长度限制.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="row-lable"> 告警等级 </td>
                <td>
                    <span class="radio" ng-repeat="l in $root.alarm.const.levels">
                        <label>
                            <input class="ace" type="radio" ng-model="editPage.data.level" value={{l.value}}>
                            <span class="lbl"></span>
                        </label>
                         <span compile="l.label"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="row-lable"> 轮询间隔 </td>
                <td>
                    <select id="interval" ng-model="editPage.data.sampleInterval" class="yinput">
                        <option ng-repeat="i in editPage.datas.intervals" value={{i}}> {{i}} </option>
                    </select>
                    <select ng-model="editPage.data.unit" class="yinput">
                        <option value="分钟">分钟</option>
                        <option value="小时">小时</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-lable"> 规则状态 </td>
                <td>
                    <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="editPage.data.active" />
                    <span class="lbl"></span>
                </td>
            </tr>
            <tr>
                <td class="row-lable"> 告警/恢复延迟</td>
                <td>
                    <input ng-model="editPage.data.occursDelay" required type="number" min="1" max="1000"/>
                    <span>次</span>
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table" style="border: 1px solid #ccc;table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left: 3px;">资源类型</th>
                            <th>指标类型</th>
                            <th style="width:180px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis">资源名称</th>
                            <th style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-left: 3px;">索引值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{editPage.data.mocpName}}-{{editPage.data.mocName}}">{{editPage.data.mocpName}}-{{editPage.data.mocName}}</td>
                            <td>{{editPage.data.indicatorName}}-{{editPage.data.metricName}}
                                <select id="jexp" class="s" ng-model="editPage.data.threshold.exp" style="width: 60px">
                                    <option ng-repeat="e in editPage.data.threshold.expList" value="{{e}}">{{e}}</option>
                                </select>
            <span id="vvv">

            </span>

                                <label style="margin-top: 0px">{{ editPage.data.threshold.unit }}</label>
                            </td>
                            <td style="width:180px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{editPage.data.moName}}">{{editPage.data.moName}}</td>
                            <td style="width:60px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis" title="{{editPage.metricsArgs}}">{{editPage.metricsArgs}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

        <div class="row" style="padding-left: 0px;">
            <i id="downeditlx" class="fa fa-plus" ng-click="listPreparePage.action.editsdlx()">&nbsp;高级设置</i>
            <i id="upeditlx" class="fa fa-minus" style="display: none" ng-click="listPreparePage.action.editsdlx()">&nbsp;高级设置</i>
        </div>

        <div id="ccclx" style="display: none">
            <table class="modal-table">
                <tr>
                    <td class="row-lable"> 检测时间 </td>
                    <td>
                        <div class="checkbox" ng-repeat="d in $root.alarm.const.weekdays">
                            <label>
                                <input name="week" type="checkbox" checklist-model="editPage.data.workingDay" checklist-value="d.value"><i></i>
                            </label>
                            {{d.label}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 检测时段 </td>
                    <td>
                        <select ng-model="editPage.data.startTime" class="yinput">
                            <option ng-repeat="i in [] | loop:0:23:1" value={{i}}> {{i}} </option>
                        </select>
                        时---
                        <select id="endT" ng-model="editPage.data.endTime" class="yinput">
                            <option ng-repeat="i in editPage.datas.endTimes" value={{i}}> {{i}} </option>
                        </select>
                        时
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 告警内容 </td>
                    <td><input type="text" style="width: 380px" value="【对象名】【指标】告警，当前值【当前值】，告警条件【条件】" readonly /></td>
                </tr>
                <tr>
                    <td class="row-lable"> 恢复内容 </td>
                    <td><input type="text" style="width: 380px" value="【对象名】【指标】恢复，当前值【当前值】，告警条件【条件】" readonly /></td>
                </tr>
                <tr>
                    <td class="row-lable"> 通知方式 </td>
                    <td>
                        <div class="checkbox" ng-repeat="d in  $root.alarm.const.noticeWay">
                            <label>
                                <input type="checkbox" checklist-model="editPage.data.notifyWay" checklist-value="d.value"/><i></i>
                            </label>
                            {{d.label}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="vt row-lable"> 通知人 </td>
                    <td>
                        <ul class="ztree" id="usersText"
                            z-tree="{
                        inData:'editPage.datas.notifyUsers',
                        outData:'editPage.data.notifier',
                        outParentData:'',
                        type:'checkbox',
                        description:'name',
                        children:'children',
                        value:'id',
                        isLeaf:'addPage.isLeaf',
                        depth:100}"></ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="alarmEditDialog.save()">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
</form>
</div>
<script type="text/javascript">
    function a(oInput){
        if('' != oInput.value.replace(/\d{1,}\.{0,1}\d{0,}/,''))
        {
            oInput.value = oInput.value.match(/\d{1,}\.{0,1}\d{0,}/) == null ? '' :oInput.value.match(/\d{1,}\.{0,1}\d{0,}/);
        }
    }

    function b(oInput){
        if(oInput.value.length==1){oInput.value=oInput.value.replace(/[^1-9]/g,"")}else{oInput.value=oInput.value.replace(/\D/g,"")}
    }

    function c(oInput){
        if(oInput.value.length==1){oInput.value=oInput.value.replace(/[^1-9]/g,"")}else{oInput.value=oInput.value.replace(/\D/g,"")}
    }
</script>