<link rel="stylesheet" type="text/css" href="css/simulation/simulation.css">
<script type="text/javascript">
    $(document).ready(function () {
        $(document).bind("contextmenu", function (e) {
            return false;
        });
    });
</script>
<!-- 拓扑图首页 开始 -->
<bread-crumb>
    <a>业务</a>
    <a>{{navigation.data.navigationparent}}</a>
    <a class="current" id="twoChildrenNavigation">{{navigation.data.navigationchildren}}</a>
</bread-crumb>

<div class="lr-content">
    <div class="left-content">
        <div class="content-area">
            <ul d-simulation-tree="simulationViewTree" id="simulationViewTree" class="ztree" style="overflow:visible"></ul>
        </div>
    </div>
    <div class="right-content">
        <div class="page-content">
            <div class="mb20">
                <form style="float: left;" ng-disabled="simulationViewTree.data.length <= 0 || loginUserMenuMap[currentView]">
                    <div class="button-icon" title="放大">
                        <a ng-click="zoomOut($event)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="缩小">
                        <a ng-click="zoomIn($event)">
                            <i class="fa  fa-search-minus"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="还原">
                        <a ng-click="zoomReset($event)">
                            <i class="fa  fa-mail-reply-all"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="全选">
                        <a ng-click="selectAll($event)">
                            <i class="fa  fa-crosshairs"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="鹰眼">
                        <a ng-click="eyeShow($event)">
                            <i class="fa  fa-eye"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="快照">
                        <a ng-click="snapshot()">
                            <i class="fa  fa-camera-retro"></i>
                        </a>
                    </div>
                    <!--<div class="button-icon" title="尺寸设置">-->
                        <!--<a ng-click="dialogActive.nodeSizeEditDialogShow($event)">-->
                            <!--<i class="fa fa-cogs"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="layout" style="float: left;">
                        <select ng-model="simulationshow.data.layouterType" style="width: 150px" ng-disabled="simulationViewTree.data.length <= 0 || loginUserMenuMap[currentView]">
                            <option value="">排布方式</option>
                            <option ng-repeat="obj in simulationshow.data.layouterArray" value={{obj.id}}>
                                {{obj.displayName}}
                            </option>
                        </select>
                    </div>
                </form>
                  <span class="search">
                      <input type="text" value="查询" ng-model="searchText" id="searchText" ng-disabled="simulationViewTree.data.length <= 0">
                      <i class="fa fa-search" ng-click="search($event)" ng-disabled="simulationViewTree.data.length <= 0"></i>
                  </span>
            </div>
            <div id="simulationView" d-simulation-view></div>
        </div>
    </div>
</div>












