<div class="row">
    <div class="col-xs-6">
        <label>资源名称</label>
        <div class="row">
            <input type="text" name="displayName" maxlength="100" ng-model="editPage.data.displayName" />
        </div>
    </div>
    <div class="col-xs-6">
        <label>同步</label>
        <div class="row">
            <span>
                <input type="checkbox" id="isToRefreshBtn" class="ace ace-switch "  ng-model="editPage.isToRefresh" />
                <span class="lbl"></span>
            </span>
        </div>
    </div>
</div>