<div class="protocol-list">
    <div class="protocol-header">
        <div class="col-xs-3">协议</div>
        <div class="col-xs-4">厂商</div>
        <div class="col-xs-5">设备型号</div>
    </div>
    <div class="row" ng-repeat="r in editPage.protocolData.protocolList">
        <div class="col-xs-3">
              <span class="radio">
                  <label><input class="ace" type="radio" name="protocol" value="{{r.accessType}}-{{r.id}}" ng-model="editPage.protocolData.protocolValue">
                      <span class="lbl"></span>
                  </label>{{r.accessType}}
              </span>
        </div>
        <div class="col-xs-4">{{r.manufacturer}}</div>
        <div class="col-xs-5">{{r.model}}</div>
    </div>
</div>