.dashboard-breadcrumb{
    background-color: #BFBFBF;
    padding-left: 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
}
.dashboard-breadcrumb a{
     background-image: url("../../lib/dnt-angular-ui/breadcrumb/style/breadcrumb.png");
     background-position: right center;
     background-repeat: no-repeat;
     color: #333333;
     display: inline-block;
     font-size: 12px;
     font-weight: bold;
     padding: 8px 20px 8px 13px;
     text-decoration: none;
 }
.dashboard-breadcrumb a:last-child {
    background-image: none;
}
.chart-title{
  text-align:center;
  font-weight:bold;
  margin-bottom: -25px;
}
.chart-bottom{
    text-align:center;
    font-weight:bold;
    margin-top: 0px;
}
.container-wraper .col-sm-3{
    float: left;
    width:25%!important;
}
.easyPieChart {
    position: relative;
    text-align: center;
    width:100%!important;
}
.easyPieChart > div{
    font-size:18px;
    font-weight:bold;
}
.easyPieChart canvas {
    position: relative;
    top: -130px;
}

.jqplot-highlighter-tooltip {
    background-color: rgba(57,57,57, 0.9);
    padding: 7px;
    color: #dddddd;
}
.dashboard-wrap {
    border: 1px solid #C1C1C1;
    background-color: #FFFFFF;
    margin-top: 15px;
    border-radius: 4px 4px 0 0;
}
.wrapper-Graph{
    border: 1px solid #C1C1C1;
    border-radius: 2px ;
    background:#fff;
    padding-top: 10px;
}
.jqplot-series-shadowCanvas{ float: left;}

.tab-content{
    overflow: auto;
    max-height:276px;
    background:#fff;
}
.row-wrap{
  border-radius: 2px;
  float:left;
  width: 100%;
}
.percent-value{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 105px;
    z-index: 2;
}
.memul{
    padding: 0 0 10px 15px;
}
.memul li{
    margin-top:5px ;
}
.right-memul{
    width: 25%;
    float: right;
    text-align: left;
    padding:1px;
    line-height: 20px;
}
.right-memul .right-menul-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.rightul{
    position: relative;
    margin-top:-43px ;
    float: right;
}
.th-title{
    padding: 0px;
    float:left;
    width:83%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.td-text{
    padding: 0px;
    float:left;
    width:85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.picDiv{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.tab-content{
    padding:0;
}
.dataTable{
    border-top: 0!important;
}
.nodata{
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
}
/*  panel  */
.col-sm-6 > .row{
    margin-bottom: 10px;
}

.widget-body{
    float: left;
    width: 100%;
}
.panel-wrapper ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.panel-wrapper ul li{
    display: inline-block;
    float: left;
    list-style: none;
    width: 50%;
    line-height: 32px;
    height: 32px;
    border-right: 1px solid #ccc;
}
.panel-wrapper ul li div{
    border-bottom: 1px solid #ccc;
}

.panel-wrapper ul li:nth-child(2n) {
    border-right: 0;
}
.panel-wrapper ul li:last-child div{
    border-bottom: 0;
}

.td-label{
    float:left;
    width:40%;
    text-align:right;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right:1px solid #ccc;
    height: 33px;
}
.td-value{
    padding-left: 5px;
    float:left;
    width:60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 33px;
}

/* summary table */
.simple-table{
    width: 100%;
}
.simple-table tr td{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:31px;
    line-height: 31px;
}
.simple-table tr:last-child td{
    border-bottom: 0;
}
.simple-table tr td:last-child{
    border-right: 0;
}

.alarm-bar{
    margin-left: 8px;
    margin-right: 8px;
    height: 12px;
}
.alarm-bar div{
    display: block;
    position: relative;
    color: #333333;
    height: 12px;
    line-height: 12px;
    float: left;
    color:#fff;
}
.alarm-bar div.level2{
    background: #99cc66;
}
.alarm-bar div.level3{
    background: #099ccc;
}
.alarm-bar div.level4{
    background: #f8c63d;
}
.alarm-bar div.level5{
    background: #ff9133;
}
.alarm-bar div.level6{
    background: #de4e43;
}
.default{
    background:#ddd;
    width:100%;
    border-radius: 10px;
}
.alarm-bar div:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.alarm-bar div:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* cpu bar */
.bar-label{
    position: relative;
    height: 0px;
    top:18px;
}
.bar-wrap{
    top: 0;
    height:40px;
}
.bar-title{
    height: 30px;
    line-height: 30px;
}
#availablity-content .bar-label{
    top: 25px;
}

/* avialable time */
.avialable-row{
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.w80{width:80px;}
.label-block{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
}
.time-wrapper {
    width: 264px;
    height: 93px;
    background-color: #ededed;
    border: 3px solid #f8f8f8;
    border-radius: 8px;
}

.time-ul {
    list-style-type: none;
    margin: 9px;
    padding: 0px;
    height: 47px;
}

.time-ul li {
    float: left;
    margin-right: 2px;
    margin-left: 2px;
    height: 47px;
    width: 32px;
    text-align: center;
    font-size: 13px;
}

.time-ul li span {
    width: 32px;
    height: 47px;
    line-height: 47px;
    font-family: "Arial Unicode MS";
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.time-ul li img {
    margin-top: 10px;
}

.clock-bg {
    background: url(../../img/dashboard/bg_clock.png) no-repeat left;
}
.time-lable{
    float: left;
    margin-left: 61px;
}

.trend-wrapper{
    border-top:1px solid #ccc;
    height: 241px;
}
.gray-bottom{
    text-align: center;
    background: #eee;
}