<div ng-include src="'views/resource/template/header-less.html'"></div>

<div class="row" style="margin-top: 20px">
    <layout-tab>
        <tab-titles>
            <tab-title>访问协议</tab-title>
            <tab-title>业务信息</tab-title>
        </tab-titles>
        <tab-contents>
            <tab-content>
                <div ng-include src="'views/resource/template/protocols.html'"></div>

                <div ng-show="editPage.access.protocol=='ftp' || editPage.access.protocol=='nntp'">
                    <div ng-include src="'views/resource/protocol/ftp.html'"></div>
                </div>
                <div ng-show="editPage.access.protocol=='snmp'">
                    <div ng-include src="'views/resource/protocol/snmpNoRequired.html'"></div>
                </div>
                <div ng-show="editPage.access.protocol=='ping'">
                    <div ng-include src="'views/resource/protocol/ping.html'"></div>
                </div>
                <div ng-show="editPage.access.protocol=='email'">
                    <div ng-include src="'views/resource/protocol/email.html'"></div>
                </div>

                <div ng-include src="'views/resource/template/testBtn.html'"></div>
            </tab-content>
            <tab-content>
                <div ng-include src="'views/resource/business/info-mid.html'"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div ng-include src="'views/resource/business/business-relationship.html'"></div>
                    </div>
                </div>
            </tab-content>
        </tab-contents>
    </layout-tab>
</div>


