<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>流量统计</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <!-- base -->
    <link href="../../lib/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet"/>
    <!-- ace -->
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../lib/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-skins.min.css" />
    <script src="../../lib/assets/js/ace-extra.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.css" />
    <!-- new common & widget style  -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/widget/style/widget.css"/>
    <style>
        .w160{width:160px;}
        .chart-wrapper{border:1px solid #ccc;padding:0 10px;height:400px;}
        .detail-link{
            position: absolute;
            z-index: 10;
            right: 70px;
            top: 13px;
        }
    </style>
</head>
<body ng-app="flowCounter">
    <div class="page-content" ng-controller="flowCounterCtrl">
        <div class="mellow-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">线路名称:</span>
                            </div>
                            <div class="left " style="width:89%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.displayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">上联设备:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.leftDisplayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">下联设备:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.rightDisplayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">上联端口:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.leftPort}}{{$root.mo.leftPortName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">下联端口:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.rightPort}}{{$root.mo.rightPortName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-6">
                    <fieldset>
                        <legend>设置</legend>
                        <div class="row">
                            <div class="col-xs-12 mb10">
                                起始时间:
                                <select ng-model="chartSettings.startYear" class="w160" ng-options="p as p for p in dateRange.year"></select>
                                <select ng-model="chartSettings.startMonth" class="w160">
                                    <option value="1">1月</option>
                                    <option value="2">2月</option>
                                    <option value="3">3月</option>
                                    <option value="4">4月</option>
                                    <option value="5">5月</option>
                                    <option value="6">6月</option>
                                    <option value="7">7月</option>
                                    <option value="8">8月</option>
                                    <option value="9">9月</option>
                                    <option value="10">10月</option>
                                    <option value="11">11月</option>
                                    <option value="12">12月</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 mb10">
                                结束时间:
                                <select ng-model="chartSettings.endYear" class="w160" ng-options="p as p for p in dateRange.year"></select>
                                <select ng-model="chartSettings.endMonth" class="w160">
                                    <option value="1">1月</option>
                                    <option value="2">2月</option>
                                    <option value="3">3月</option>
                                    <option value="4">4月</option>
                                    <option value="5">5月</option>
                                    <option value="6">6月</option>
                                    <option value="7">7月</option>
                                    <option value="8">8月</option>
                                    <option value="9">9月</option>
                                    <option value="10">10月</option>
                                    <option value="11">11月</option>
                                    <option value="12">12月</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn" ng-click="loadChart();" ng-disabled="">确定</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row month-panels"></div>
    </div>

<!--lib-->
<script src="../../lib/date/date_format.js"></script>
<script src="../../lib/angular/jquery.min.js"></script>
<script src="../../lib/angular/angular.min.js"></script>
<script src="../../lib/angular/angular-route.min.js"></script>
<script src="../../lib/angular/angular-resource.min.js"></script>
<script src="../../lib/angular/angular-animate.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.js"></script>
<!-- ace -->
<script src="../../lib/assets/js/ace.min.js"></script>
<script src="../../lib/assets/js/ace-elements.min.js"></script>
<!-- jquery-ui -->
<script src="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.js"></script>
<!--  chart -->
<script src="../../lib/dnt-angular-ui/highcharts/highstock.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-more.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/modules/exporting.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/plugin/beyond-extremes.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-ng.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-3d.js"></script>
<!-- util -->
<script src="../../lib/dnt-angular-ui/widget/widget.js"></script>
<script src="../../js/utils/services.js"></script>
<script src="../../js/utils/filters.js"></script>
<!--flowCounter-->
<script src="../../js/flowCounter/app.js"></script>
</body>
</html>
