<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>高频流量分析</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <!-- base -->
    <link href="../../lib/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet"/>
    <!-- ace -->
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../lib/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-skins.min.css" />
    <script src="../../lib/assets/js/ace-extra.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.css" />
    <!-- new common & widget style  -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/global.css">

    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/datepicker/style/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/datepicker/style/bootstrap-datetimepicker.min.css"/>
    <style>
        .w160{width:160px;}
        text[x="0"] {opacity: 0;}
        .highcharts-input-group g:nth-child(2n) rect{
            fill:#eee;
        }
    </style>
</head>
<body ng-app="lineFlowTrend">
    <div class="page-content" ng-controller="lineFlowTrendCtrl">
        <div class="mellow-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">线路名称:</span>
                            </div>
                            <div class="left " style="width:89%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.displayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">上联设备:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.leftDisplayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">下联设备:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.rightDisplayName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">上联端口:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.leftPort}}{{$root.mo.leftPortName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                            <div class="left" style="width:11%;padding-left: 15px;">
                                <span class="lh28">下联端口:</span>
                            </div>
                            <div class="left " style="width:39%;padding-right: 15px;">
                                <input type="text" value="{{$root.mo.rightPort}}{{$root.mo.rightPortName}}" disabled
                                       style="background-color: #eee!important;width:100%;">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-xs-6">
                    <form name="settings_form" novalidate >
                    <fieldset>
                        <legend>设置</legend>
                        <div class="row">
                            <div class="col-xs-12 mb10">
                                数据查看方式:
                                <select ng-model="chartSettings.method" class="w160">
                                    <option value="1">实时查看</option>
                                    <option value="2">历史查看</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 mb10 lh28">
                                数据展示时段:
                                <select ng-model="chartSettings.timeRanger" class="w160">
                                    <option value="1">3小时</option>
                                    <option value="2">1天</option>
                                    <option value="3">1周</option>
                                    <option value="4">1月</option>
                                    <option value="5">自定义</option>
                                </select>
                                &nbsp;&nbsp;
                               <span ng-show="chartSettings.timeRanger==5">
                                   时段选择:
                                   <input type="text" ng-model="chartSettings.startDate" jq-date2
                                          format="yyyy-mm-dd hh:ii" min-date="2014-01-01 00:00" required readonly/>
                                   <span ng-if="chartSettings.method==1">
                                       -- 当前时间
                                   </span>
                                   <span ng-if="chartSettings.method==2">
                                        -- <input type="text" ng-model="chartSettings.endDate" jq-date2
                                                  format="yyyy-mm-dd hh:ii" min-date="2014-01-01 00:00" required readonly/>
                                   </span>
                               </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5" ng-show="chartSettings.method==1">
                                界面刷新间隔:
                                <select ng-model="chartSettings.refreshTime" class="w160">
                                    <option value="15000">15秒</option>
                                    <option value="30000">30秒</option>
                                    <option value="60000">60秒</option>
                                </select>
                            </div>
                            <div class="col-xs-7">
                                <button type="button" class="btn" ng-click="loadChart();"
                                        ng-disabled="chartSettings.timeRanger==5 && settings_form.$invalid">确定
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="mellow-wrapper mt10">
            <div style="height:500px;border:1px solid #ccc;">
                <div id="line-chart" style="height:100%;"></div>
            </div>
        </div>
    </div>
    <div modal-alert settings="alert"></div>

<!--lib-->
    <script src="../../lib/date/date_format.js"></script>
<script src="../../lib/angular/jquery.min.js"></script>
<script src="../../lib/angular/angular.min.js"></script>
<script src="../../lib/angular/angular-route.min.js"></script>
<script src="../../lib/angular/angular-resource.min.js"></script>
<script src="../../lib/angular/angular-animate.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.js"></script>
<!-- ace -->
<script src="../../lib/assets/js/ace.min.js"></script>
<script src="../../lib/assets/js/ace-elements.min.js"></script>
<!-- jquery-ui -->
<script src="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.js"></script>
<!-- datepicker -->
<script src="../../lib/dnt-angular-ui/datepicker/datepicker.directive.js"></script>
<script src="../../lib/dnt-angular-ui/datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../lib/dnt-angular-ui/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>

<!--  chart -->
<script src="../../lib/dnt-angular-ui/highcharts/highstock.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-more.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/modules/exporting.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/plugin/beyond-extremes.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-ng.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-3d.js"></script>

<!-- util -->
<script src="../../js/utils/services.js"></script>
<script src="../../js/utils/filters.js"></script>

<!--lineFlowChart-->
<script src="../../js/lineFlowTrend/config.js"></script>
<script src="../../js/lineFlowTrend/app.js"></script>
</body>
</html>
