include /lib/mixins/global
include /lib/mixins/form

.row
  .col-xs-6
    +group("snmp","version","版本", "fa-newspaper-o", "")
      +radio_group("snmp","version","versionNumbers")(required)
.row
  .col-xs-6
    +group("snmp","community","访问许可", "fa-eye", "")
      +text("snmp","community")(required)
  .col-xs-6
    +group("snmp","port","端口", "fa-terminal", "")
      +text("snmp","port")(required, ng-pattern='/^[0-9]{1,5}$/')
.row
  .col-xs-6
    +group("snmp","timeout","超时", "fa-info-circle", "")
      +text("snmp","timeout")(required, ng-pattern='/^[0-9]{1,5}$/')
  .col-xs-6
    +group("snmp","retries","重试次数", "fa-reply", "")
      +text("snmp","retries")(required, ng-pattern='/^[0-9]{1,3}$/')
div(ng-if="snmp.version=='v3'")
  .row
    .col-xs-6
      +group("passport","authenticateMethod","身份验证类型", "fa-credit-card", "MD5/SHA")
        +text("passport","authenticateMethod")(required)
    .col-xs-6
      +group("passport","encryptMethod","身份验证类型", "fa-credit-card", "DES/AES")
        +text("passport","encryptMethod")(required)
  .row
    .col-xs-6
      +group("passport","privateKey","数据加密密钥", "fa-key", "")
        +text("passport","privateKey")(required)
    .col-xs-6
      +group("passport","userName","用户名", "fa-user", "")
        +text("passport","userName")(required)
  .row
    .col-xs-6
      +group("passport","password","密码", "fa-key", "")
        +text("passport","password")(required)
    .col-xs-6
      +group("passport","context","上下文名称", "fa-comment", "")
        +text("passport","context")(required)
