<!doctype html>
<html lang="zh-cn"  ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>{{$root.moName}}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <!-- base -->
    <link href="../../lib/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet"/>
    <!-- ace -->
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../lib/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../../lib/assets/css/ace-skins.min.css" />
    <script src="../../lib/assets/js/ace-extra.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" href="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.css" />
    <!-- new common & widget style  -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/breadcrumb/style/breadcrumb.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/layout/style/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/loading/style/loading.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/datatables/style/datatable.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/dnt-angular-ui/widget/style/widget.css"/>
    <!-- dashboard -->
    <link rel="stylesheet" type="text/css" href="../../css/overview/overview.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/dashboard/dashboard.css"/>
</head>
<body>
<!--<div class="dashboard-breadcrumb" >
    <a href="#/{{$root.mocName}}">{{$root.mocpDisplayName}}</a>
    <a href="#/{{$root.mocName}}">{{$root.mocDisplayName}}</a>
    <a href="#/{{$root.mocName}}">{{$root.moName}}</a>
</div>-->
<div ng-view style="margin:auto;width:1348px;" class="page-content"></div>

<!--lib-->
<script src="../../lib/angular/jquery.min.js"></script>
<script src="../../lib/angular/angular.min.js"></script>
<script src="../../lib/angular/angular-route.min.js"></script>
<script src="../../lib/angular/angular-resource.min.js"></script>
<script src="../../lib/angular/angular-animate.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.js"></script>
<!-- ace -->
<script src="../../lib/assets/js/ace.min.js"></script>
<script src="../../lib/assets/js/ace-elements.min.js"></script>
<!-- jquery-ui -->
<script src="../../lib/jquery-ui/jquery-ui-1.10.3.full.min.js"></script>
<!--  chart -->
<script src="../../lib/jqplot/js/jquery.jqplot.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.donutRenderer.min.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script src="../../lib/jqplot/plugins/jqplot.highlighter.min.js"></script>

<script src="../../lib/dnt-angular-ui/highcharts/highcharts.js"></script>
<script src="../../lib/dnt-angular-ui/highcharts/highcharts-more.js"></script>
<!--data-table-->
<script src="../../lib/dnt-angular-ui/datatables/jquery.dataTables.min.js"></script>
<script src="../../lib/dnt-angular-ui/datatables/datatables.directive.js"></script>
<script src="../../lib/assets/js/jquery.dataTables.bootstrap.js"></script>
<!-- util -->
<script src="../../js/utils/services.js"></script>
<script src="../../js/utils/filters.js"></script>
<!--app-->
<script src="../../lib/dnt-angular-ui/breadcrumb/breadcrumb.js"></script>
<script src="../../lib/dnt-angular-ui/widget/widget.js"></script>
<script src="../../lib/dnt-angular-ui/layout/layout.js"></script>
<script src="../../lib/dnt-angular-ui/panel/panel.js"></script>
<script src="../../lib/dnt-angular-ui/chart/chart.js"></script>
<!--dashboard-->
<script src="../../js/dashboard/settings.js"></script>  <!-- must be first-->
<script src="../../js/dashboard/lockChart.js"></script>
<script src="../../js/dashboard/service.js"></script>
<script src="../../js/dashboard/app.js"></script>
<script src="../../js/dashboard/controllers.js"></script>
<script src="../../js/dashboard/compile.js"></script>
<script src="../../js/dashboard/directive.js"></script>

<link rel="stylesheet" type="text/css" href="../../lib/angular/ng-grid.min.css">
<script src="../../lib/angular/ng-grid.min.js"></script>
</body>
</html>