<style>
    .level0 .line {
        overflow: visible !important;
    }

    .level0 {
        overflow: visible !important;
    }
</style>
<div class="container container-wraper">
    <div class="row gap">
        <div class="col-sm-12">
            <div class="row-wrap">
                <div class="panel-header">基本信息</div>
                <div class="panel-wrap-big pull-left">
                    <panel-widget ng-controller="panelAttrCtr"></panel-widget>
                </div>
                <div class="panel-wrap-small pull-left">
                    <panel-widget ng-controller="panelStatusCtr"></panel-widget>
                </div>
                <div class="panel-wrap-big pull-left">
                    <panel-widget ng-controller="panelProCtr"></panel-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="row gap " ng-if="currentMoc.pies">
        <div class="col-sm-3"  ng-repeat="l in currentMoc.pies">
            <div class="wrapper-Graph" ng-controller="pieCtrl">
                <div class="chart-title" ng-show="l.type==null">{{resource.metricMap[l.indicator+'.'+l.metric]}}</div>
                <pie-chart ng-show="l.type==null"></pie-chart>
                <div class="chart-bottom" ng-show="'pie'==l.type">&nbsp;</div>
                <div style="height: 200px;width: 100%;padding-top:80px " ng-show="'pie'==l.type">
                    <div class="chart-bottom" ng-show="'pie'==l.type">{{resource.metricMap[l.indicator+'.'+l.metric]}}：{{usedPercent}}</div>
                </div>
                <div class="chart-bottom" ng-if="l.bottom" ng-repeat="b in l.bottom">
                    {{resource.metricMap[l.indicator+'.'+b]}}：{{bottom[$index]?(bottom[$index]=="-1.0"?"--":bottom[$index])
                    :'--'}}</div>
                <div class="chart-bottom" ng-if="l.bottom==null">&nbsp;</div>
                <div class="chart-bottom" ng-if="l.bottom==null ">&nbsp;</div>
                <div class="chart-bottom" ng-if="l.bottom && l.bottom.length==1">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row gap" ng-show="currentMoc.tables || currentMoc.trend">
        <div class="col-sm-12">
            <layout-tab>
                <tab-titles>
                    <tab-title ng-if="currentMoc.trend">CPU趋势</tab-title>
                    <tab-title ng-repeat="l in tables"  ng-click="clickTab()">{{resource.metricMap[l]}}</tab-title>
                </tab-titles>
                <tab-contents>
                    <tab-content ng-if="currentMoc.trend">
                        <trend-chart  ng-controller="hisTrendCtrl"></trend-chart>
                    </tab-content>
                    <tab-content ng-repeat="l in tables">
                        <div id="t_{{l}}"  ng-controller="tableCtrl">
                            <table jquery-table="options"
                                   aa-data="result"
                                   ao-column-defs="columnDefs"
                                   fn-row-callback="myCallback"
                                   ao-columns="columns"
                                   class="table"></table>
                        </div>
                    </tab-content>
                </tab-contents>
            </layout-tab>
        </div>
    </div>
</div>


