<div modal-dialog settings="modalSetting" class="dialog">
    <form name="addForm" novalidate>
        <div class="dialog-con" style="overflow: auto;">
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-2" style="margin-right: -25px">
                    <label>资源类型：</label>
                </div>
                <div class="col-xs-5" style="margin-top: 10px">
                    <select ng-model="modalSetting.model.moc" style="width:200px">
                        <option value="">选择 资源类型组</option>
                        <option ng-repeat="obj in modalSetting.model.mocs" value={{obj.id}}>
                            {{obj.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-5" style="margin-top: 10px">
                    <select ng-model="modalSetting.model.mocClassify" style="width:200px">
                        <option value="">选择 资源类型</option>
                        <option ng-repeat="obj in modalSetting.model.mocClassifys" value={{obj.id}}>
                            {{obj.displayName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-2" style="margin-right: -25px">
                    <label>指标类型：</label>
                </div>
                <div class="col-xs-5" style="margin-top: 10px">
                    <select ng-model="modalSetting.model.indicatorId" style="width:200px">
                        <option value="">选择 指标类型组</option>
                        <option ng-repeat="type in modalSetting.model.indicators" value={{type["id"]}}>
                            {{type["displayName"]}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-5" style="margin-top: 10px">
                    <select ng-model="modalSetting.model.metricId" style="width:200px">
                        <option value="">选择 指标类型</option>
                        <option ng-repeat="type in modalSetting.model.metrics" value={{type["id"]}}>
                            {{type["displayName"]}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-2" style="margin-right: -25px">
                    <label>等级</label>
                </div>
                <div class="col-xs-10" style="margin-top: 10px">
                    <span class="radio" ng-repeat="l in $root.alarm.const.levels">
                        <label>
                            <input class="ace" type="radio" ng-model="modalSetting.model.color" value={{l.value}}>
                            <span class="lbl"></span>
                        </label>
                        <span compile="l.label"></span>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>