<div modal-dialog settings="infoModalSetting" class="dialog">
    <form name="addForm" novalidate>
        <div class="dialog-con" style="overflow: auto;">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资产类型</label>
                            <div class="col-sm-9">
                                <select class="s" ng-model="model.assetInfo.type" ng-disabled="modalType==2" style="color:#848484!important;">
                                    <option value="null">--请选择--</option>
                                    <option value="MW">中间件</option>
                                    <option value="DB">数据库</option>
                                    <option value="SYS">业务系统</option>
                                    <option value="UM">小型机</option>
                                    <option value="VC">虚拟池</option>
                                    <option value="PS">PC服务器</option>
                                    <option value="CB">刀片服务器</option>
                                    <option value="VS">虚拟机</option>
                                    <option value="DA">存储</option>
                                    <option value="TL">磁带库</option>
                                    <option value="LB">负载均衡</option>
                                </select>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资产状态</label>
                            <div class="col-sm-9">
                                <select class="s" ng-model="model.assetInfo.status" disabled style="color:#848484!important;">
                                    <option value="null">--请选择--</option>
                                    <option value="1">未用</option>
                                    <option value="2">在用</option>
                                    <option value="3">停用</option>
                                    <option value="4">在修</option>
                                    <option value="5">维保</option>
                                    <option value="6">报废</option>
                                    <option value="7">出借</option>
                                    <option value="8">领用</option>
                                </select>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资产编号</label>
                            <div class="col-sm-9">
                                <input type="text" name="serial" class="s" ng-model="model.assetInfo.serial" maxlength="32" ng-disabled="modalType==2"/>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资产名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="s" ng-model="model.assetInfo.name" maxlength="64" ng-disabled="isSync==true"/>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">存放地</label>
                            <div class="col-sm-9">
                                <input type="text" class="s" ng-model="model.assetInfo.storageLoc" maxlength="64"/>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">责任人</label>
                            <div class="col-sm-9">
                                <input type="text" class="s" ng-model="model.assetInfo.manager" maxlength="64"/>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">入库日期</label>
                            <div class="col-sm-9">
                                <input type="text" class="s" ng-model="model.assetInfo.stockDate" jq-date3 target-data="model.assetInfo.stockDate"
                                       min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">使用部门</label>
                            <div class="col-sm-9">
                                <input type="text" class="s" ng-model="model.assetInfo.depart" maxlength="64"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="model.assetInfo.status==3">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">停用日期</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.stopDate" jq-date3 target-data="model.assetInfo.stopDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">停用原因</label>
                                <div class="col-sm-9">
                                    <textarea id="stopReason" name="stopReason" class="s" ng-model="model.assetInfo.stopReason" maxlength="255" style="max-width:505px;"> </textarea>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="model.assetInfo.status==4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报修开始时间</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.repairStartDate" jq-date3 target-data="model.assetInfo.repairStartDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报修结束时间</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.repairEndDate" jq-date3 target-data="model.assetInfo.repairEndDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报修原因</label>
                                <div class="col-sm-9">
                                    <textarea id="repairReason" name="repairReason" class="s" ng-model="model.assetInfo.repairReason" maxlength="255" style="max-width:505px;"> </textarea>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="model.assetInfo.status==5">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">维保开始时间</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.maintainStartDate" jq-date3 target-data="model.assetInfo.maintainStartDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">维保结束时间</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.maintainEndDate" jq-date3 target-data="model.assetInfo.maintainEndDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">维保情况</label>
                                <div class="col-sm-9">
                                    <textarea id="maintainSummary" name="maintainSummary" class="s" ng-model="model.assetInfo.maintainSummary" maxlength="255" style="max-width:505px;"> </textarea>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="model.assetInfo.status==6">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报废日期</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.abandonDate" jq-date3 target-data="model.assetInfo.abandonDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">报废原因</label>
                                <div class="col-sm-9">
                                    <select class="s" ng-model="model.assetInfo.abandonReason" ng-options="p.id as p.name for p in reasonList">
                                        <option value="">--请选择--</option>
                                    </select>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="model.assetInfo.status==7">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">出借日期</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.loanDate" jq-date3 target-data="model.assetInfo.loanDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="model.assetInfo.status==8">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">领用日期</label>
                                <div class="col-sm-9">
                                    <input type="text" class="s" ng-model="model.assetInfo.receiveDate" jq-date3 target-data="model.assetInfo.receiveDate"
                                           min-date="2014-01-01" max-date="2100-01-01" readonly/>
                                    <span class="required">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="model.assetInfo.type!=null">
                    <div ng-include src="'views/asset/asset/management/templates/' + model.assetInfo.type + '.html'"></div>
                </div>
            </form>
        </div>
    </form>
</div>