<link rel="stylesheet" type="text/css" href="css/user/user.css">
<style>
    .modal-table input[type="text"]{
        height: 28px;
        width: 280px;
    }
    .modal-table input[type="password"]{
        height: 28px;
        width: 280px;
    }
</style>
<div class="content">
    <bread-crumb>
        <a>设置</a>
        <a class="current">通讯设置</a>
    </bread-crumb>
    <div class="page-content">
        <div class="row">
          <div class="col-xs-6">
              <widget-box>
                  <widget-header>
                      <h5>短信设置</h5>
                  </widget-header>
                  <widget-body>
                      <form name="form" novalidate>
                          <table class="modal-table">
                              <tr>
                                  <td class="row-lable"> 服务地址 </td>
                                  <td>
                                      <input type="text" name="server" ng-model="model.server" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="form.server.$dirty && form.server.$invalid">
                                          <span ng-show="form.server.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 命名空间 </td>
                                  <td>
                                      <input type="text" name="userId" ng-model="model.userId" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="form.userId.$dirty && form.userId.$invalid">
                                          <span ng-show="form.userId.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 帐号 </td>
                                  <td>
                                      <input type="text" name="account" ng-model="model.account" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="form.account.$dirty && form.account.$invalid">
                                          <span ng-show="form.account.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 密码 </td>
                                  <td>
                                      <input type="password" name="password"  ng-model="model.password" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="form.password.$dirty && form.password.$invalid">
                                          <span ng-show="form.password.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                          </table>

                          <div class="modal-footer">
                              <button class="btn btn-primary"  type="button"  ng-disabled="loginUserMenuMap[currentView]"  ng-click="add()">确定</button>
                              <button class="btn btn-primary"  type="button" ng-click="test()">测试</button>
                          </div>
                      <!--    </div>-->
                      </form>
                  </widget-body>
              </widget-box>
          </div>

          <div class="col-xs-6" ng-controller="emailController">
              <widget-box>
                  <widget-header>
                      <h5>邮件设置</h5>
                  </widget-header>
                  <widget-body>
                      <form name="eform" novalidate>
                          <table class="modal-table">
                              <tr>
                                  <td class="row-lable"> 邮件服务器 </td>
                                  <td>
                                      <input type="text" name="server" ng-model="email.server" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="eform.server.$dirty && eform.server.$invalid">
                                          <span ng-show="eform.server.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 端口 </td>
                                  <td>
                                      <input type="text" name="port"  ng-model="email.port" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="eform.port.$dirty && eform.port.$invalid">
                                          <span ng-show="eform.port.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 帐号 </td>
                                  <td>
                                      <input type="text" name="account"  ng-model="email.account" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="eform.account.$dirty && eform.account.$invalid">
                                          <span ng-show="eform.account.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="row-lable"> 密码 </td>
                                  <td>
                                      <input type="password" name="password"  ng-model="email.password" required/>
                                      <span class="required">*</span>
                                      <div class="required" ng-show="eform.password.$dirty && eform.password.$invalid">
                                          <span ng-show="eform.password.$error.required">此项不能为空.</span>
                                      </div>
                                  </td>
                              </tr>
                          </table>
                          <div class="modal-footer">
                              <button class="btn btn-primary btn-lg"  ng-disabled="loginUserMenuMap[currentView]"  type="button" ng-click="addEmail()">确定</button>
                              <button class="btn btn-test btn-lg"  type="button" ng-click="testEmail()">测试</button>
                          </div>
                      </form>
                  </widget-body>
              </widget-box>
            </div>
        </div>
    </div>
</div>