<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/summary.html'"></div>
                </div>
            </div>
            <div class="row" ng-if="currentMoc.cpuPies || currentMoc.trend">
                <div class="col-xs-12">
                    <widget-box>
                        <widget-header>
                            <h5>性能信息</h5>
                        </widget-header>
                        <widget-body>
                            <div class="row" style="padding:5px;">
                                <div class="col-xs-6"  ng-repeat="l in currentMoc.cpuPies">
                                    <div ng-controller="cpuPieCtrl">
                                        <div id="cpuChart{{$index}}" speed-chart></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="currentMoc.trend">
                                <div class="col-xs-12">
                                    <div class="trend-wrapper">
                                        <trend-chart ng-controller="hisTrendCtrl"></trend-chart>
                                    </div>
                                </div>
                            </div>
                        </widget-body>
                    </widget-box>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/availablity.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/baseInfo.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-include src="'../dashboard/commonTemplates/resourceInfo.html'"></div>
                </div>
            </div>

            <div class="row" ng-repeat="pic in currentMoc.picPies">
                <div class="col-xs-12">
                    <widget-box>
                        <widget-header>
                            <h5>{{pic.title}}</h5>
                        </widget-header>
                        <widget-body>
                            <div ng-controller="picPieCtrl">
                                <div class="col-xs-12 nodata" ng-if="pic.hasItem==false">
                                    该设备无此对应的传感器信息
                                </div>
                                <div ng-if="pic.hasItem==true">
                                  <div class="col-xs-3 picDiv" ng-repeat="l in pic.items" ng-switch="l.value">
                                    <div ng-switch-when="--">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_gray.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_gray.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_gray.png"/></div>
                                        </div>
                                        <div>不可达</div>
                                    </div>
                                    <div ng-switch-when="1">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_green.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_green.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_green.png"/></div>
                                        </div>
                                        <div>正常</div>
                                    </div>
                                    <div ng-switch-when="2">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_yellow.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_yellow.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_yellow.png"/></div>
                                        </div>
                                        <div>告警</div>
                                    </div>
                                    <div ng-switch-when="3">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_red.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_red.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_red.png"/></div>
                                        </div>
                                        <div>严重</div>
                                    </div>
                                    <div ng-switch-when="4">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_red.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_red.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_red.png"/></div>
                                        </div>
                                        <div>关闭</div>
                                    </div>
                                    <div ng-switch-when="5">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_white.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_white.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_white.png"/></div>
                                        </div>
                                        <div>检测不到</div>
                                    </div>
                                    <div ng-switch-when="6">
                                        <div ng-switch="pic.indicator">
                                            <div ng-switch-when="Temperature"><img title="{{l.desc}}" src="../../img/dashboard/Temperature_white.png"/></div>
                                            <div ng-switch-when="Fan"><img title="{{l.desc}}" src="../../img/dashboard/Fan_white.png"/></div>
                                            <div ng-switch-when="Supply"><img title="{{l.desc}}" src="../../img/dashboard/Supply_white.png"/></div>
                                        </div>
                                        <div>失效</div>
                                    </div>

                                    <ul ng-if="pic.bottom" class="rightul" ng-if="pic.indicator == 'Temperature'">
                                        <li ng-repeat="b in pic.bottom">
                                            {{l.bottom[$index]}}
                                            <span ng-if="l.bottom[$index]>0">
                                             ℃
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </widget-body>
                    </widget-box>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="currentMoc.tables">
        <div class="col-sm-12">
            <div ng-include src="'../dashboard/commonTemplates/tables.html'"></div>
        </div>
    </div>
</div>



