<div ng-include src="'views/resource/template/header-less.html'"></div>

<!--<div class="row" style="margin-top: 20px">
    <div class="col-xs-6">
        <label>主机</label>
        <ul class="border-b" style="overflow: auto;">
            <li ng-repeat="m in editPage.openNebulaData.hosts">
                <span class='checkbox'><label>
                <input type='checkbox' ng-model="editPage.resource.host"  checklist-value="m.id"/><i></i></label>{{m.name}}</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-6" style="overflow: auto;">
        <label>虚拟网络</label>
        <ul class="border-b">
            <li ng-repeat="m in editPage.openNebulaData.vnets">
                <span class='checkbox'><label>
                <input type='checkbox' ng-model="editPage.resource.vnet"  checklist-value="m.id"/><i></i></label>{{m.name}}</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-6" style="overflow: auto;">
        <label>存储</label>
        <ul class="border-b">
            <li ng-repeat="m in editPage.openNebulaData.storages">
                <span class='checkbox'><label>
                <input type='checkbox' ng-model="editPage.resource.storage"  checklist-value="m.id"/><i></i></label>{{m.name}}</span>
            </li>
        </ul>
    </div>
</div>-->
