<div ng-include src="'views/resource/template/header-less.html'"></div>

<div class="row" style="margin-top: 20px">
<!--    <div class="col-xs-6">
        <label>集群</label>
        <div class="row">
            <select ng-model="editPage.resource.oid" name="cluster"  ng-options="cluster.id as cluster.name for cluster in listPage.openNebulaData.clusters" >
                <option value=""> --- 请选择 --- </option>
            </select>
        </div>
    </div>-->
    <div class="col-xs-6">
        <label>虚拟化</label>
        <div class="row">
            <select ng-model="editPage.resource.vm_mad" name="vm_mad">
                <option value=""> --- 请选择 --- </option>
                <option value="xen"> --- xen --- </option>
            </select>
        </div>
    </div>
    <div class="col-xs-6">
        <label>网络</label>
        <div class="row">
            <select ng-model="editPage.resource.vn_mad" name="vn_mad">
                <option value=""> --- 请选择 --- </option>
                <option value="dummy"> --- dummy --- </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>信息</label>
        <div class="row">
            <select ng-model="editPage.resource.im_mad" name="im_mad">
                <option value=""> --- 请选择 --- </option>
                <option value="xen"> --- xen --- </option>
            </select>
        </div>
    </div>
</div>

