
        <div ng-include src="'views/resource/template/header-less.html'"></div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-6">
                <label>描述</label>
                <div class="row">
                    <textarea rows="3" ng-model="editPage.data.remark" name="desc" ng-maxlength="255"> </textarea>
                </div>
                <div class="warn">
                    <span ng-show="form.remark.$error.maxlength">超出长度限制.</span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>镜像类型：</label>
                <select ng-model="editPage.resource.type">
                    <option value=""> --- 请选择 --- </option>
                    <option value="OS">OS</option>
                    <option value="CDROM">CDROM</option>
                    <option value="DATABLOCK">DATABLOCK</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>存储节点：</label>
                <select ng-model="editPage.resource.datastoreId" name="datastoreId" ng-options="''+storage.id as storage.displayName for storage in listPage.openNebulaData.storages" >
                    <option value=""> --- 请选择 --- </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label>选中镜像来源：</label>
                <div class="row">
                    <input type="radio" ng-model="image.src_path"
                           name="src_path" id="path_image" value="path">路径&nbsp;&nbsp;
                    <input type="radio" ng-model="image.src_path"
                           name="src_path" id="upload_image" value="upload">上传&nbsp;&nbsp;
                    <input type="radio" ng-model="image.src_path"
                           name="src_path" id="datablock_img"
                           value="datablock"
                           ng-disabled="editPage.resource.type!='DATABLOCK'">Datablock
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6" ng-show="image.src_path=='path'">
                <label>文件路径：</label>
                <input type="text" name="name" ng-model="editPage.resource.path" ng-init="editPage.resource.path='/opt/suse11.iso'"/>
            </div>
            <div class="col-xs-6" ng-show="image.src_path=='upload'">
                <input type="file" ng-model="editPage.resource.file" />
                <input type="button" name="上传" ng-click=""/>
            </div>
            <div class="col-xs-6" ng-show="image.src_path=='datablock'">
                <label>数据块大小：</label>
                <input type="text" name="size" ng-model="editPage.resource.size" />
                <label>文件系统类型：</label>
                <select ng-model="editPage.resource.fstype">
                    <option value=""> --- 请选择 --- </option>
                    <option value="ext2">ext2</option>
                    <option value="ext3">ext2</option>
                    <option value="ext4">ext4</option>
                    <option value="ntfs">ntfs</option>
                </select>
            </div>
        </div>


