<div ng-include src="'views/resource/template/header-less.html'"></div>

        <div class="row" style="margin-top: 20px">
            <layout-tab>
                <tab-titles>
                    <tab-title>基本</tab-title>
                    <tab-title>镜像</tab-title>
                    <tab-title>网络</tab-title>
                    <tab-title>OS启动</tab-title>
                    <tab-title>输入/输出</tab-title>
                    <tab-title>调度</tab-title>
                    <tab-title>其他</tab-title>
                </tab-titles>
                <tab-contents>
                    <tab-content>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>备注</label>
                                <div class="row">
                                    <textarea ng-model="editPage.data.remark" name="desc" ng-maxlength="255"> </textarea>
                                </div>
                                <div class="warn">
                                    <span ng-show="form.remark.$error.maxlength">超出长度限制.</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>内存</label>
                                <div class="row">
                                    <input type="text" ng-model="editPage.resource.memory"  name="memory"   ng-maxlength="32" required >
                                    <span class="required">*</span>
                                </div>
                                <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                                    <span ng-show="form.name.$error.required">此项不能为空.</span>
                                    <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                                    <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">只能输入英文字母.</span>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-6">
                                <label>CPU</label>
                                <div class="row">
                                    <input type="text" ng-model="editPage.resource.cpu"  name="cpu"   ng-maxlength="32" required >
                                    <span class="required">*</span>
                                </div>
                                <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                                    <span ng-show="form.name.$error.required">此项不能为空.</span>
                                    <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                                    <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">只能输入英文字母.</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>VCPU</label>
                                <div class="row">
                                    <input type="text" ng-model="editPage.resource.vcpu"  name="vcpu"   ng-maxlength="32" required >
                                    <span class="required">*</span>
                                </div>
                                <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                                    <span ng-show="form.name.$error.required">此项不能为空.</span>
                                    <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                                    <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">只能输入英文字母.</span>
                                </div>
                            </div>
                        </div>
                    </tab-content>
                    <tab-content>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>数据块：</label>
                                <select ng-model="editPage.template.imageId_block" name="imageId_block" ng-options="''+image.id as image.resource.name for image in listPage.openNebulaData.datablock" >
                                    <option value=""> --- 请选择 --- </option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label>镜像：</label>
                                <select ng-model="editPage.template.imageId_data" name="imageId_data" ng-options="''+image.id as image.resource.name for image in listPage.openNebulaData.imageoscdrom" >
                                    <option value=""> --- 请选择 --- </option>
                                </select>
                            </div>
                        </div>
                    </tab-content>
                    <tab-content>
                           <div class="row">
                            <div class="col-xs-6">
                                <label>虚拟网络:</label>
                                <select ng-model="editPage.resource.networkIds" name="networkIds" ng-options="''+vnet.id as vnet.displayName for vnet in listPage.openNebulaData.vnets" >
                                    <option value=""> --- 请选择 --- </option>
                                </select>
                            </div>
                        </div>
                    </tab-content>
                    <tab-content>
<!--                        <div class="row">
                            <div class="col-xs-6">
                                <label>OS启动项</label>
                                <div class="row">
                                    <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="">确定</button>
                                </div>
                            </div>
                        </div>-->
                    </tab-content>
                    <tab-content>
<!--                        <div class="row">
                            <div class="col-xs-6">
                                <label>输入/输出</label>
                                <div class="row">
                                    <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="">确定</button>
                                </div>
                            </div>
                        </div>-->
                    </tab-content>
                    <tab-content>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>调度</label>
                                <select ng-model="editPage.resource.hostId" name="hostId" ng-options="''+host.id as host.displayName for host in listPage.openNebulaData.onehost" >
                                    <option value=""> --- 请选择 --- </option>
                                </select>
                            </div>
                        </div>
                    </tab-content>
                    <tab-content>

                    </tab-content>
                </tab-contents>
            </layout-tab>
        </div>
