<div ng-include src="'views/resource/template/header-less.html'"></div>

<div class="row" style="margin-top: 20px">
<div class="col-xs-6">
    <label>模板</label>
    <div class="row">
        <div class="row">
            <select ng-model="editPage.resource.templateId" name="templateId" ng-options="''+template.id as template.displayName for template in listPage.openNebulaData.templates" >
                <option value=""> --- 请选择 --- </option>
            </select>
        </div>
    </div>
</div>
</div>