// Created by brokenq on 14-12-30.
include /lib/mixins/list
include /index/panels/tab

.tabbable(ng-tabs='')
  ul#myTab.nav.nav-tabs
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "视图")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "实时")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "2天")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "1周")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "1月")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "2年")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "日志")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "设置")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "备注")
    +tab_nav("active", "tab", "#", "$event.preventDefault()", "审计")
  .tab-content.overflow-auto
    include /server/index/topos/manage/panels/tab_view
    include /server/index/topos/manage/panels/tab_realtime
    include /server/index/topos/manage/panels/tab_two_days
    include /server/index/topos/manage/panels/tab_one_week
    include /server/index/topos/manage/panels/tab_one_month
    include /server/index/topos/manage/panels/tab_two_years
    include /server/index/topos/manage/panels/tab_log
    include /server/index/topos/manage/panels/tab_settings
    include /server/index/topos/manage/panels/tab_comment
    include /server/index/topos/manage/panels/tab_audit
