<link rel="stylesheet" type="text/css" href="css/topo/topo.css">
<script type="text/javascript">
    $(document).ready(function () {
        $(document).bind("contextmenu", function (e) {
            return false;
        });
    });
</script>
<!-- 拓扑图首页 开始 -->
<bread-crumb>
    <a>监控</a>
    <a>{{navigation.data.navigationparent}}</a>
    <a class="current" id="twoChildrenNavigation">{{navigation.data.navigationchildren}}</a>
</bread-crumb>

<div class="lr-content">
    <div class="left-content">
        <div class="topo-menu-title">拓扑图
            <i title="上移" class="fa fa-arrow-up" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView] || topoViewTreeNode.data.upDisabled" ng-click="topoViewTreeNode.arrow('up')"></i>
            <i title="下移" class="fa fa-arrow-down" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView] || topoViewTreeNode.data.downDisabled" ng-click="topoViewTreeNode.arrow('down')"></i>
            <i title="右移" class="fa fa-arrow-right" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView] || topoViewTreeNode.data.rightDisabled" ng-click="topoViewTreeNode.arrow('right')"></i>
            <i title="左移" class="fa fa-arrow-left" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView] || topoViewTreeNode.data.leftDisabled" ng-click="topoViewTreeNode.arrow('left')"></i>
            <i title="新增" class="fa fa-plus" ng-disabled="loginUserMenuMap[currentView]" ng-click="topoViewTree.add()"></i>
        </div>
        <div class="content-area">
            <ul d-topo-tree="topoViewTree" id="topoViewTree" class="ztree" style="overflow:visible"></ul>
        </div>
    </div>
    <div class="right-content">
        <div class="page-content">
            <div class="mb20">
                <form style="float: left;" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView]">
                    <div class="button-icon">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle"><i class="glyphicon glyphicon-th-list"></i></a>

                            <div class="dropdown-menu menu-list" style="font-size: 10px">
                                <ul>
                                    <!--<li><a href="javascript:void(0)"-->
                                    <!--ng-click="dialogActive.addNodeShow($event)">添加图元</a></li>-->
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.synAddNodeShow($event)">新增图元</a></li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.dummyNodeDialogShow($event)">新增虚拟图元</a></li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.dummyNodeEditDialogShow($event)">编辑虚拟图元</a></li>
                                    <!--<li><a href="javascript:void(0)"-->
                                    <!--ng-click="dialogActive.updateTypeBackgroundShow($event)">图标设置</a></li>-->
                                    <!--<li><a href="javascript:void(0)"-->
                                    <!--ng-click="dialogActive.addLinkShow($event)">新增线路</a></li>-->
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.synAddLinkShow($event)">同步线路</a></li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.linkStyleDialogShow($event)">线路样式</a></li>
                                    <li><a href="javascript:void(0)" ng-click="dialogActive.discoveryPageShow($event)">自动拓扑</a>
                                    </li>
                                    <li><a href="javascript:void(0)" ng-click="dialogActive.drillConfigShow($event)">关联子图</a>
                                    </li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.uploadBackgroundDialogShow($event)">设置背景图</a></li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.elementMirroringDialogShow($event)">图元镜像</a></li>
                                    <li><a href="javascript:void(0)"
                                           ng-click="dialogActive.elementPositioningDialogShow($event)">图元定位</a></li>
                                    <!--<li><a href="javascript:void(0)"-->
                                    <!--ng-click="dialogActive.deleteBackgroundDialogShow($event)">卸载背景图</a></li>-->

                                    <!--<li><a href="javascript:void(0)"-->
                                    <!--ng-click="dialogActive.topoStatusConfigDialogShow($event)">状态指标配置</a></li>-->
                                </ul>
                            </div>
                        </li>
                    </div>
                    <!--<div class="button-icon">-->
                    <!--<a title="放大镜" ng-click="magnify($event)">-->
                    <!--<i class="fa fa-eye"></i>-->
                    <!--</a>-->
                    <!--</div>-->
                    <div class="button-icon" title="放大">
                        <a ng-click="zoomOut($event)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="缩小">
                        <a ng-click="zoomIn($event)">
                            <i class="fa  fa-search-minus"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="还原">
                        <a ng-click="zoomReset($event)">
                            <i class="fa  fa-mail-reply-all"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="全屏">
                        <a ng-click="fullScreenButton($event)">
                            <i class="fa  fa-arrows-alt"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="全选">
                        <a ng-click="selectAll($event)">
                            <i class="fa  fa-crosshairs"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="鹰眼">
                        <a ng-click="eyeShow($event)">
                            <i class="fa  fa-eye"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="快照">
                        <a ng-click="snapshot()">
                            <i class="fa  fa-camera-retro"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="尺寸设置">
                        <a ng-click="dialogActive.nodeSizeEditDialogShow($event)">
                            <i class="fa fa-cogs"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="删除">
                        <a ng-click="dialogActive.delElementShow($event)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="同步">
                        <a ng-click="dialogActive.synchronous($event)">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="更名">
                        <a ng-click="dialogActive.updateCustomNameDialogShow($event)">
                            <i class="fa fa-user"></i>
                        </a>
                    </div>
                    <div class="button-icon" title="新增线路">
                        <a ng-click="dialogActive.addLinkShow($event)">
                            <i class="fa fa-chain"></i>
                        </a>
                    </div>
                    <div class="layout" style="float: left;">
                        <select ng-model="toposhow.data.layouterType" style="width: 150px" ng-disabled="topoViewTree.data.length <= 0 || loginUserMenuMap[currentView]">
                            <option value="">排布方式</option>
                            <option ng-repeat="obj in toposhow.data.layouterArray" value={{obj.id}}>
                                {{obj.displayName}}
                            </option>
                        </select>
                    </div>
                </form>
                  <span class="search">
                      <input type="text" value="查询" ng-model="searchText" id="searchText" ng-disabled="topoViewTree.data.length <= 0">
                      <i class="fa fa-search" ng-click="search($event)" ng-disabled="topoViewTree.data.length <= 0"></i>
                  </span>
            </div>
            <div id="topoView" d-topo-view></div>
        </div>
    </div>
</div>




<!-- 同步图元对话框 开始 -->
<div dialog info="nodeSynAddDialog" data="nodeSynAddDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-5" style="margin-right: -60px;">
                    <div>
                        <select ng-model="nodeSynAddDialog.model.nodeMoc" style="width: 150px">
                            <option value="">请选择 资源类型组</option>
                            <option ng-repeat="obj in nodeSynAddDialog.model.moc" value={{obj.id}}>{{obj.displayName}}
                            </option>
                        </select>
                        <select ng-model="nodeSynAddDialog.model.nodeMocClassify"
                                style="width: 150px; margin-left: 15px">
                            <option value="">请选择 资源类型</option>
                            <option ng-repeat="obj in nodeSynAddDialog.model.mocClassify" value={{obj.id}}>
                                {{obj.displayName}}
                            </option>
                        </select>
                    </div>
                    <div style="padding-top: 15px; height:400px">
                        <div style="border: 1px solid #ccc; height:390px; width: 316px;">
                            <table class="table" style="margin: 0px;border: 0px;">
                                <thead>
                                <tr>
                                    <th width="35"><input type="checkbox" name="isSelectAllOfSrcTree"
                                                          ng-model="nodeSynAddDialog.model.isSelectAllOfSrcTree"
                                                          ng-change="nodeSynAddDialog.selectAllOfSrcTree()"
                                                          style="height: 16px;width: 16px; margin-top: 10px;margin-left: 21px;"/></th>
                                    <th width="180">资源名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div style="overflow: auto; width:305px">
                                            <ul id="{{nodeSynAddDialog.srcTree.treeId}}"
                                                d-topo-resource-dialog-tree="nodeSynAddDialog.srcTree"
                                                class="ztree lhztree"></ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2" style="margin-right: -100px;">
                    <div style="padding-top: 200px; padding-left: 0px">
                        <button type="button" class="btn btn-primary btn-sm" style="min-width: 40px;"
                                ng-click="nodeSynAddDialog.add()">
                            <i class="fa fa-angle-double-right"></i>
                        </button>
                    </div>
                    <div style="padding-top: 15px; padding-left: 0px">
                        <button type="button" class="btn btn-primary btn-sm" style="min-width: 40px;"
                                ng-click="nodeSynAddDialog.remove()">
                            <i class="fa fa-angle-double-left"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div style="border: 1px solid #ccc; height:435px;width: 540px;">
                        <table class="table" style="margin: 0px;border: 0px;">
                            <thead>
                            <tr>
                                <th width="50"><input type="checkbox" name="isSelectAllOfTrgTree"
                                                      ng-model="nodeSynAddDialog.model.isSelectAllOfTrgTree"
                                                      ng-change="nodeSynAddDialog.selectAllOfTrgTree()"
                                                      style="height: 16px;width: 16px;margin-top: 10px;margin-left: 21px;"/></th>
                                <th width="240">资源名称</th>
                                <th width="110">资源类型组</th>
                                <th>资源类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4">
                                    <ul id="{{nodeSynAddDialog.trgTree.treeId}}"
                                        d-topo-resource-dialog-tree="nodeSynAddDialog.trgTree"
                                        class="ztree rhztree"></ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 同步图元对话框 结束 -->


<!-- 添加图元对话框 开始 -->
<div dialog info="nodeAddDialog" data="nodeAddDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <ul id="{{nodeAddDialog.tree.treeId}}" d-topo-node-dialog-tree="nodeAddDialog.tree"
                    class="ztree lztree"></ul>
            </div>
        </div>
    </form>
</div>
<!-- 添加图元对话框 结束 -->

<!-- 删除图元对话框 开始 -->
<div dialog info="elementDelDialog" data="elementDelDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="form-group tip_c">
                <div class="msg-icon"></div>
                <label class="row control-label">确认要删除所选的图元或线路吗？</label>
            </div>
        </div>
    </form>
</div>
<!-- 删除图元对话框 结束 -->


<!-- 添加虚拟图元对话框 开始 -->
<div dialog info="dummyNodeDialog" data="dummyNodeDialog.model">
    <form class="form-horizontal" id="dummyNode-form" method="post" enctype="multipart/form-data">
        <div class="dialog-con">
            <div class="row">
                <label>图元名称</label>

                <div class="row">
                    <input type="text" ng-model="dummyNodeDialog.model.name" name="name">
                </div>
                <!--<div class="warn">-->
                    <!--<span ng-show="form.name.$error.maxlength">超出长度限制.</span>-->
                <!--</div>-->
            </div>
            <div class="row">
                <label>输入尺寸<span style="color: #ff0000;">（尺寸范围：大于28）</span></label>

                <div class="row" style="margin-top: -10px">
                    <div class="col-xs-5" style="width:140px;margin-left: -15px">
                        <label>长</label>
                        <input type="text" ng-model="dummyNodeDialog.model.sizeX" name="sizeX"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-5" style="width:140px;margin-left: 10px">
                        <label>宽</label>
                        <input type="text" ng-model="dummyNodeDialog.model.sizeY" name="sizeY"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <label class="control-label">选择图标文件<span style="color: #ff0000;">（上传图标小于2M大小，图片格式支持png或jpg）</span></label>

                <div class="row">
                    <input type="file" id="dummyNodeImage" name="imageFile" class="form-control"
                           accept="image/x-png,image/jpeg" style="float: left; width: 95%"/>

                    <div class="upload"></div>
                    <span class="required" style="float: left; margin-top: 10px">*</span>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid"-->
                    <!--ng-click="dummyNodeDialog.save()">确定-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
        <!--</div>-->
    </form>
</div>
<!-- 添加虚拟图元对话框 结束 -->


<!-- 编辑虚拟图元对话框 开始 -->
<div dialog info="dummyNodeEditDialog" data="dummyNodeEditDialog.model">
    <form class="form-horizontal" id="dummyNodeEdit-form" method="post" enctype="multipart/form-data">
        <div class="dialog-con">
            <div class="row">
                <label>虚拟名称</label>

                <div class="row">
                    <input type="text" ng-model="dummyNodeEditDialog.model.name" name="name">
                </div>
                <!--<div class="warn">-->
                    <!--<span ng-show="form.name.$error.maxlength">超出长度限制.</span>-->
                <!--</div>-->
            </div>
            <div class="row">
                <label>输入尺寸<span style="color: #ff0000;">（尺寸范围：大于28）</span></label>

                <div class="row" style="margin-top: -10px">
                    <div class="col-xs-5" style="width:140px;margin-left: -15px">
                        <label>长</label>
                        <input type="text" ng-model="dummyNodeEditDialog.model.sizeX" name="sizeX"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-5" style="width:140px;margin-left: 10px">
                        <label>宽</label>
                        <input type="text" ng-model="dummyNodeEditDialog.model.sizeY" name="sizeY"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label">选择图标文件<span style="color: #ff0000;">（上传图标小于2M大小，图片格式支持png或jpg）</span></label>
                <div class="row">
                    <input type="file" id="dummyNodeEditImage" name="imageFile" class="form-control"
                           accept="image/x-png,image/jpeg" style="float: left; width: 95%"/>

                    <div class="upload"></div>
                    <!--<span class="required" style="float: left; margin-top: 10px">*</span>-->
                </div>
            </div>
            <div class="row" style="margin-top: 0px">
                <label>{{dummyNodeEditDialog.model.elImgPath}}</label>
            </div>
        </div>
        <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid"-->
                    <!--ng-click="dummyNodeEditDialog.save()">确定-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
        <!--</div>-->
    </form>
</div>
<!-- 编辑虚拟图元对话框 结束 -->


<!-- 更换图元图标对话框 开始 -->
<div dialog info="updateTypeBackground" data="updateTypeBackground.model">
    <form class="form-horizontal" id="updateTypeBackground-form" method="post" enctype="multipart/form-data">
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-4">
                    <select ng-model="updateTypeBackground.model.nodeMoc" style="float: left;width: 200px">
                        <option value="">请选择 资源类型组</option>
                        <option ng-repeat="obj in updateTypeBackground.model.moc" value={{obj.name}}>{{obj.displayName}}
                        </option>
                    </select>
                    <span class="required" style="float: left; margin-top: 10px">*</span>
                </div>
                <div class="col-xs-6">
                    <select ng-model="updateTypeBackground.model.nodeMocClassify"
                            style="float: left; width: 200px; margin-left: 35px">
                        <option value="">请选择 资源类型</option>
                        <option ng-repeat="obj in updateTypeBackground.model.mocClassify" value={{obj.name}}>
                            {{obj.displayName}}
                        </option>
                    </select>
                    <span class="required" style="float: left; margin-top: 10px">*</span>
                </div>
            </div>
            <div class="row">
                <label class="control-label">选择图标文件<span style="color: #ff0000;">（上传图标小于2M大小，图片格式支持png或jpg）</span></label>

                <div class="row">
                    <input type="file" id="updateTypeBackgroundImage" name="imageFile" class="form-control"
                           accept="image/x-png" style="float: left; width: 90%"/>

                    <div class="upload"></div>
                    <span class="required" style="float: left; margin-top: 10px">*</span>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 更换图元图标对话框 结束 -->

<!-- 同步线路对话框 开始 -->
<div dialog info="linkSynAddDialog" data="linkSynAddDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <select ng-model="linkSynAddDialog.model.linkType">
                    <option value="">选择类型</option>
                    <option ng-repeat="obj in linkSynAddDialog.model.linkTypeArray" value={{obj.id}}>
                        {{obj.displayName}}
                    </option>
                </select>
            </div>
            <div class="row" style="margin-top: 15px;border:1px solid #DDDDDD;height:380px">
                <div id="linkTreeDiv" style="display: none">
                    <ul id="{{linkSynAddDialog.topoLinkTree.treeId}}"
                        d-topo-dialog-link-tree="linkSynAddDialog.topoLinkTree" class="ztree hztree"></ul>
                </div>
                <div id="relaTreeDiv" style="display: none">
                    <ul id="{{linkSynAddDialog.topoRelaTree.treeId}}"
                        d-topo-dialog-rela-tree="linkSynAddDialog.topoRelaTree" class="ztree hztree"></ul>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 同步线路对话框 结束 -->


<!-- 添加线路对话框 开始 -->
<div dialog info="linkAddDialog" data="linkAddDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-6">
                    <label>名称</label>

                    <div class="row">
                        <input type="text" ng-model="linkAddDialog.model.name" name="name" ng-maxlength="32">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <span class="radio">
                    <label for="x1">
                        <input type="radio" class="ace" name="linkRadio" value="rela" id="x1"
                               ng-model="linkAddDialog.model.linkRadioType"
                               ng-disabled="!linkAddDialog.model.isLinkShow1">
                        <span class="lbl"></span>
                    </label>关系
                </span>
                <span class="radio">
                    <label for="x2">
                        <input type="radio" class="ace" name="linkRadio" value="link" id="x2"
                               ng-model="linkAddDialog.model.linkRadioType"
                               ng-disabled="!linkAddDialog.model.isLinkShow1">
                        <span class="lbl"></span>
                    </label>线路
                </span>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-2" style="margin-left: -15px;width: 90px;">
                    <label>左端图元:</label>
                </div>
                <div class="col-xs-2" style="margin-left: -30px;width: 130px;margin-top: 12px">
                    <input type="text" ng-model="linkAddDialog.model.leftLinkType" name="leftLinkType" ng-maxlength="32"
                           disabled="disabled" style="width:110px">
                </div>
                <div class="col-xs-3" style="width: 200px;margin-top: 12px">
                    <input type="text" ng-model="linkAddDialog.model.leftName" name="leftName" ng-maxlength="32"
                           disabled="disabled" style="width:180px">
                </div>
                <div class="col-xs-2" style="width:60px;margin-left: -20px;" ng-show="linkAddDialog.model.isLinkShow">
                    <label>端口:</label>
                </div>
                <div class="col-xs-3" style="margin-top: 12px;width:200px;" ng-show="linkAddDialog.model.isLinkShow">
                    <select ng-model="linkAddDialog.model.inPort"
                            ng-disabled="linkAddDialog.model.topoNode1PortArray.length <= 0" style="width:200px">
                        <option value=""> 未选择</option>
                        <option ng-repeat="obj in linkAddDialog.model.topoNode1PortArray" value={{obj.value}}>
                            {{obj.ifDescr}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-2" style="margin-left: -15px;width: 90px;">
                    <label>右端图元:</label>
                </div>
                <div class="col-xs-2" style="margin-left: -30px;width: 130px;margin-top: 12px">
                    <input type="text" ng-model="linkAddDialog.model.rightLinkType" name="rightLinkType"
                           ng-maxlength="32" disabled="disabled" style="width:110px">
                </div>
                <div class="col-xs-3" style="width: 200px;margin-top: 12px">
                    <input type="text" ng-model="linkAddDialog.model.rightName" name="rightName" ng-maxlength="32"
                           disabled="disabled" style="width:180px">
                </div>
                <div class="col-xs-2" style="width:60px;margin-left: -20px;" ng-show="linkAddDialog.model.isLinkShow">
                    <label>端口:</label>
                </div>
                <div class="col-xs-3" style="margin-top: 12px;width:200px" ng-show="linkAddDialog.model.isLinkShow">
                    <select ng-model="linkAddDialog.model.outPort"
                            ng-disabled="linkAddDialog.model.topoNode2PortArray.length <= 0" style="width:200px">
                        <option value=""> 未选择</option>
                        <option ng-repeat="obj in linkAddDialog.model.topoNode2PortArray" value={{obj.value}}>
                            {{obj.ifDescr}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 25px" ng-show="linkAddDialog.model.isLinkShow">
                <label style="margin-top: 0px">取值端口：</label>
                <span class="radio">
                    <label for="q1">
                        <input type="radio" class="ace" name="perRadio" value="true" id="q1"
                               ng-model="linkAddDialog.model.perNode">
                        <span class="lbl"></span>
                    </label>左端图元
                </span>
                <span class="radio">
                    <label for="q2">
                        <input type="radio" class="ace" name="perRadio" value="false" id="q2"
                               ng-model="linkAddDialog.model.perNode">
                        <span class="lbl"></span>
                    </label>右端图元
                </span>
            </div>
        </div>
    </form>
</div>
<!-- 添加线路对话框 结束 -->


<!-- 线路样式对话框 开始 -->
<div dialog info="linkStyleDialog" data="linkStyleDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-6">
                    <label>选择线路</label>
                    <ul id="{{linkStyleDialog.tree.treeId}}" d-list-checkbox-dialog-tree="linkStyleDialog.tree"
                        class="ztree"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <label>选择样式：</label>
                    <span class="radio">
                        <label for="s1">
                            <input type="radio" class="ace" name="modeRadio" value="arc" id="s1"
                                   ng-model="linkStyleDialog.styleMode">
                            <span class="lbl"></span>
                        </label>直线
                    </span>
                    <span class="radio">
                        <label for="s2">
                            <input type="radio" class="ace" name="modeRadio" value="flexional" id="s2"
                                   ng-model="linkStyleDialog.styleMode">
                            <span class="lbl"></span>
                        </label>折线
                    </span>
                    <span class="radio">
                        <label for="s3">
                            <input type="radio" class="ace" name="modeRadio" value="orthogonal" id="s3"
                                   ng-model="linkStyleDialog.styleMode">
                            <span class="lbl"></span>
                        </label>正交线
                    </span>
                </div>
                <div class="col-xs-4" style="margin-left: -100px">
                    <label style="margin-top: 0px;">虚线</label>
                    <input class="ace ace-switch ace-switch-4" type="checkbox" name="ifDottedLine"
                           ng-model="linkStyleDialog.ifDottedLine" value=false/>
                    <span class="lbl"></span>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 线路样式对话框 结束 -->

<!-- 图元尺寸对话框 开始 -->
<div dialog info="nodeSizeEditDialog" data="nodeSizeEditDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <label>选择的图元</label>
                <ul id="{{nodeSizeEditDialog.tree.treeId}}" d-list-checkbox-dialog-tree="nodeSizeEditDialog.tree"
                    class="ztree"></ul>
            </div>
            <div class="row">
                <label>输入尺寸<span style="color: #ff0000;">（尺寸范围：大于28）</span></label>

                <div class="row" style="margin-top: -10px">
                    <div class="col-xs-5" style="width:140px">
                        <label>长</label>
                        <input type="text" ng-model="nodeSizeEditDialog.sizeX" name="sizeX" ng-maxlength="32"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-5" style="width:140px;margin-left: 10px">
                        <label>宽</label>
                        <input type="text" ng-model="nodeSizeEditDialog.sizeY" name="sizeY" ng-maxlength="32"
                               style="width:100px">
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 图元尺寸对话框 结束 -->

<!-- 添加拓扑图对话框 开始 -->
<div dialog info="topoViewDialog" data="topoViewDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-6">
                    <label>名称</label>

                    <div class="row">
                        <input type="text" ng-model="topoViewDialog.model.name" name="name" ng-maxlength="32" required>
                        <span class="required">*</span>
                    </div>
                    <div class="warn">
                        <span ng-show="form.name.$error.required">此项不能为空.</span>
                        <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid"
                    ng-click="topoViewDialog.save()">确定
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>
<!-- 添加拓扑图对话框 结束 -->


<!-- 修改拓扑图对话框 开始 -->
<div dialog info="topoViewUpdateDialog" data="topoViewUpdateDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-6">
                    <label>名称</label>

                    <div class="row">
                        <input type="text" ng-model="topoViewUpdateDialog.model.name" name="name" ng-maxlength="32"
                               required>
                        <span class="required">*</span>
                    </div>
                    <div class="warn">
                        <span ng-show="form.name.$error.required">此项不能为空.</span>
                        <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid"
                    ng-click="topoViewUpdateDialog.save()">确定
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>
<!-- 修改拓扑图对话框 结束 -->

<!-- 图元关联拓扑图对话框 开始 -->
<div dialog info="drillConfigDialog" data="drillConfigDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row" style="margin-top: 30px;">
                <span class="radio">
                    <label for="drill1">
                        <input type="radio" class="ace" name="drillRadio" value="delete" id="drill1"
                               ng-model="drillConfigDialog.model.drillMode"/>
                        <span class="lbl"></span>
                    </label>无关联
                </span>
            </div>
            <div class="row" style="margin-top: 30px;">
                <span class="radio">
                    <label for="drill2">
                        <input type="radio" class="ace" name="drillRadio" value="update" id="drill2"
                               ng-model="drillConfigDialog.model.drillMode"/>
                        <span class="lbl"></span>
                    </label>关联拓扑图
                </span>
                <div class="row" style="margin-left: 20px;">
                    <label>图元名称</label>

                    <div class="row">
                        <input type="text" ng-model="drillConfigDialog.model.displayName" name="name"
                               disabled="disabled"/>
                    </div>
                </div>
                <div class="row" style="margin-left: 20px;">
                    <label>选择子图</label>
                    <ul id="{{drillConfigDialog.tree.treeId}}" d-drill-config-dialog-tree="drillConfigDialog.tree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 图元关联拓扑图对话框 结束 -->


<!-- 上传背景图对话框 开始 -->
<div dialog info="uploadBackgroundDialog" data="uploadBackgroundDialog.model">
    <form class="form-horizontal" id="upload-form" method="post" enctype="multipart/form-data">
        <div class="dialog-con">
            <div class="row" style="margin-top: 30px;margin-left: 50px">
                <span class="radio">
                    <label for="r1">
                        <input type="radio" class="ace" name="bgRadio" value="delete" id="r1"
                               ng-model="uploadBackgroundDialog.model.bgMode">
                        <span class="lbl"></span>
                    </label>无背景图
                </span>
            </div>
            <div class="row" style="margin-top: 30px;margin-left: 50px">
                <span class="radio">
                    <label for="r2">
                        <input type="radio" class="ace" name="bgRadio" value="update" id="r2"
                               ng-model="uploadBackgroundDialog.model.bgMode">
                        <span class="lbl"></span>
                    </label>上传背景图 <span style="color: #ff0000;">（仅支持jpg格式的图片，大小不能超过2MB。{{uploadBackgroundDialog.model.elImgPath}}）</span>
                </span>
                <div class="row" ng-show="uploadBackgroundDialog.model.isUpLoad">
                    <div class="row">
                        <div class="col-xs-10">
                            <input type="file" id="backgroundImage" name="imageFile" class="form-control"
                                   accept="image/jpeg"/>

                            <div class="upload"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 0px">
                        <label style="margin-left: 15px;">背景图坐标<span style="color: #ff0000;">（坐标范围：大于等于0）</span></label>

                        <div class="row" style="margin-top: -10px">
                            <div class="col-xs-5" style="width:140px">
                                <label>X轴线</label>
                                <input type="text" ng-model="uploadBackgroundDialog.model.sizeX" name="sizeX"
                                       style="width:100px">
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-5" style="width:150px;margin-left: 10px">
                                <label>Y轴线</label>
                                <input type="text" ng-model="uploadBackgroundDialog.model.sizeY" name="sizeY"
                                       style="width:100px">
                                <span class="required">*</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 上传背景图对话框 结束 -->


<!-- 卸载背景图对话框 开始 -->
<div dialog info="deleteBackgroundDialog" data="deleteBackgroundDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="form-group">
                <label class="row control-label">确认要卸载该拓扑图的背景图吗？</label>
            </div>
        </div>
    </form>
</div>
<!-- 卸载背景图对话框 结束 -->

<!-- 图元更名对话框 开始 -->
<div dialog info="updateCustomNameDialog" data="updateCustomNameDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row" style="margin-top: 30px;margin-left: 50px">
                <span class="radio">
                    <label for="n2">
                        <input type="radio" class="ace" name="customNameRadio" value="update" id="n2"
                               ng-model="updateCustomNameDialog.model.customNameMode">
                        <span class="lbl"></span>
                    </label>更名
                </span>

                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <input type="text" ng-model="updateCustomNameDialog.model.name" name="name"
                                   ng-maxlength="12">
                        </div>
                    </div>
                </div>
                <div class="warn" style="margin-left: 20px;">
                    <span ng-show="form.name.$error.maxlength">超出长度限制.</span>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;margin-left: 50px">
                <span class="radio">
                        <label for="n1">
                            <input type="radio" class="ace" name="customNameRadio" value="delete" id="n1"
                                   ng-model="updateCustomNameDialog.model.customNameMode">
                            <span class="lbl"></span>
                        </label>同资源名
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid"
                    ng-click="updateCustomNameDialog.save()">确定
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>
<!-- 图元更名对话框 结束 -->

<!-- 图元镜像对话框 开始 -->
<div dialog info="elementMirroringDialog" data="elementMirroringDialog.model">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <label>所选的图元</label>
                <ul id="{{elementMirroringDialog.tree.treeId}}"
                    d-list-checkbox-mirroring-dialog-tree="elementMirroringDialog.tree"
                    class="ztree"></ul>
            </div>
            <div class="row" style="margin-top: 15px">
                <label style="margin-top: 0px;">是否镜像机房</label>
                <input class="ace ace-switch ace-switch-4" type="checkbox" name="isMirroringRoom"
                       ng-model="elementMirroringDialog.mirroring" value=false/>
                <span class="lbl"></span>
            </div>
        </div>
    </form>
</div>
<!-- 图元镜像对话框 结束 -->


<!-- 图元定位对话框 开始 -->
<div dialog info="elementPositioningDialog" data="elementPositioningDialog.model">
    <form id="elementPositioningForm" name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="row-header">
                    <div class="col-xs-7">图元</div>
                    <div class="col-xs-5">是否定位</div>
                </div>
                <div class="row-content" style="height: 300px;overflow: auto;border: 1px solid #EEEEE0;padding-top: 0px;">
                    <div class="row data-row" ng-repeat="m in elementPositioningDialog.allElementList" style="height: 27px">
                        <div class="col-xs-7" style="height: 27px"> {{m.displayName}} </div>
                        <div class="col-xs-5" style="height: 27px">
                            <input class="ace ace-switch ace-switch-4" type="checkbox" name="isSelect"
                            ng-model="m.isSelect" value="{{m.isSelect}}"/>
                            <span class="lbl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 图元定位对话框 结束 -->

<!-- 各类左右键菜单 开始 -->
<div ng-include src="'views/topo/twaver/menu/menu.html'"></div>
<!--<ng-include src="'views/topo/dialog/nodedialog.html'"/>-->
<!-- 各类左右键菜单 结束 -->

<!-- 部分公共JS 开始 -->
<!--<script src="js/topo/topo_util.js"></script>-->
<!-- 部分公共JS 结束 -->

<!--<div ng-include src="'views//twaver/discovery/topodiscovery.html'"></div>-->
<div ng-include src="'views/resource/moDiscovery.html'" ng-controller="resourceDiscoveryCtrl"></div>

<!--<div id='linkFlowColorDiv' keepDefault='1'>-->
<!--<p  style='text-align:center;font-size:16px;font-weight:bold;'>Flow Color</p>-->
<!--<p>-->
<!--<input type=radio name=flowColor  value='red'  onclick='changeLinkFlowColor(event)' id='redColor'/><label for='redColor' style='background:red'>RED</label>-->
<!--</p>-->
<!--<p>-->
<!--<input type=radio name=flowColor value='blue' onclick='changeLinkFlowColor(event)' id='blueColor'/><label for='blueColor' style='background:blue'>BLUE</label>-->
<!--</p>-->
<!--<p>-->
<!--<input type=radio name=flowColor value='green' onclick='changeLinkFlowColor(event)' id='greenColor'/><label for='greenColor' style='background:green'>GREEN</label>-->
<!--</p>-->
<!--<p>-->
<!--<input type=radio name=flowColor value='black' checked onclick='changeLinkFlowColor(event)' id='blackColor'/><label for='blackColor' style='background:black;color:White'>BLACK</label>-->
<!--</p>-->
<!--</div>-->






