<div ng-controller="incidentListCtrl">
    <div class="search-head">
        <div class="row">
            <label>故障号：</label>
            <input type="text"  ng-model="incidentSearchPage.data.id"  >
            <label >创建时段：</label>
            <input type="text" ng-model="incidentSearchPage.data.applyTime1" jq-date format="yyyy-mm-dd hh:ii" readonly  />
            <input type="text" ng-model="incidentSearchPage.data.applyTime2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            <div style="display: none">
                <label >操作时间：</label>
                <input type="text" ng-model="incidentSearchPage.data.time1" jq-date format="yyyy-mm-dd hh:ii" readonly />
                <label class="n1">至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" ng-model="incidentSearchPage.data.time2" jq-date format="yyyy-mm-dd hh:ii" readonly />
            </div>
            <label >创建人：</label>
            <select  ng-model="incidentSearchPage.data.applyUser"  >
                <option value="">不限</option>
                <option ng-repeat="type in initData.users" value={{type['name']}}>
                    {{type['realName']}}
                </option>
            </select>
            <label >处理人：</label>
            <select  ng-model="incidentSearchPage.data.resolveUser"  >
                <option value="">不限</option>
                <option ng-repeat="type in initData.users" value={{type['name']}}>
                    {{type['realName']}}
                </option>
            </select>
            <button class="btn" ng-click="incidentList.settings.reload(true)">查询</button>
        </div>
    </div>
    <div>
      <table jq-table="incidentList.settings" class="table"></table>
    </div>
</div>

