<link rel="stylesheet" type="text/css" href="css/itsm/itsm.css">
<div class="content">
    <bread-crumb>
        <a>运维</a>
        <a>查询</a>
        <a class="current">自定义状态显示列表</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <layout-lr>
        <panel-left>
            <div id="sidebar" class="left-sidebar">
                <div class="menu-title"></div>
                <ul class="ztree ztreen" z-tree="{
                    inData:'taskTree',
                    outData:'taskList.childId',
                    outParentData:'taskList.parentId',
                    type:'none',
                    radioCancel : true,
                    description:'displayName',
                    children:'children',
                    value:'id',
                    depth:2}" id="taskTree">
                </ul>
            </div>
            <collapse-left></collapse-left>
        </panel-left>
        <panel-right>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-switch="taskList.parentId">
                            <div ng-switch-when="1">
                                <div ng-include src="'views/itsm/views/incidentList.html'"></div>
                            </div>
                            <div ng-switch-when="2">
                                <div ng-include src="'views/itsm/views/problemList.html'"></div>
                            </div>
                            <div ng-switch-when="3">
                                <div ng-include src="'views/itsm/views/changeList.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </panel-right>
    </layout-lr>
</div>