include /lib/mixins/global
include /lib/mixins/form

.row
  .col-xs-6
    +group("windows","domain","域或计算机名称", "fa-sitemap", "")
      +text("windows","domain")(required)
  .col-xs-6
    +group("windows","user","用户名称", "fa-user", "")
      +text("windows","user")(required)
.row
  .col-xs-6
    +group("windows","password","密码", "fa-key", "")
      +text("windows","password")(required)