<div class="row">
    <div class="col-xs-6" >
        <label>方法</label>
        <div class="row">
            <select ng-model="editPage.access.method" ng-change="editPage.access.url='';
            editPage.access.condition='';
            editPage.access.loginUrl='';
            editPage.access.userNameKey='';
            editPage.access.userName='';editPage.access.password='';editPage.access.passwordKey='';editPage.access.loginCodeKey='';editPage.access.loginCode='';" required>
                <option value="POST">POST</option>
                <option value="GET">GET</option>
            </select>
            <span class="required">*</span>
        </div>
    </div>
    <div class="col-xs-6" >
        <label>URL</label>
        <div class="row">
            <input type="text" name="url" ng-model="editPage.access.url" ng-pattern="editPage.emptyValidate" required/>
            <span class="required">*</span>
            <div class="warn" ng-show="editMoForm.url.$invalid && editMoForm.url.$dirty">
                <span>请输入URL.</span>
            </div>
        </div>
    </div>
</div>

<div ng-show="editPage.access.method == 'GET'">
    <div class="row">
        <div class="col-xs-12" >
            <label>匹配条件</label>
            <div class="row">
                <textarea maxlength="200" name="condition" ng-model="editPage.access.condition" ng-pattern="editPage.emptyValidate" required></textarea>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.condition.$invalid && editMoForm.condition.$dirty">
                    <span>请输入匹配条件.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="editPage.access.method == 'POST'">
    <div class="row">
        <div class="col-xs-6" >
            <span class="checkbox" style="padding-left: 0;">
              <label><input id="switch-login" class="ace" type="checkbox" name="login" value="{{editPage.isLoginChecked}}" ng-model="editPage.isLoginChecked">
                  <span class="lbl"></span>
              </label>  登录
            </span>
        </div>
    </div>
    <div ng-show="editPage.isLoginChecked == true">
    <div class="row">
        <div class="col-xs-6" >
            <label>口令验证URL</label>
            <div class="row">
                <input type="text" name="loginUrl" ng-model="editPage.access.loginUrl" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.loginUrl.$invalid && editMoForm.loginUrl.$dirty">
                    <span>请输入验证URL.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" >
            <label>用户名key</label>
            <div class="row">
                <input type="text" name="userNameKey" ng-model="editPage.access.userNameKey" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.userNameKey.$invalid && editMoForm.userNameKey.$dirty">
                    <span>请输入用户名key.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6" >
            <label>用户名</label>
            <div class="row">
                <input type="text" name="userName" ng-model="editPage.access.userName" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.userName.$invalid && editMoForm.userName.$dirty">
                    <span>请输入用户名.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" >
            <label>口令key</label>
            <div class="row">
                <input type="text" name="passwordKey" ng-model="editPage.access.passwordKey" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.passwordKey.$invalid && editMoForm.passwordKey.$dirty">
                    <span>请输入口令key.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6" >
            <label>口令</label>
            <div class="row">
                <input type="text" name="password" ng-model="editPage.access.password" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.password.$invalid && editMoForm.password.$dirty">
                    <span>请输入口令.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" >
            <label>校验码key</label>
            <div class="row">
                <input type="text" name="loginCodeKey" ng-model="editPage.access.loginCodeKey" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.loginCodeKey.$invalid && editMoForm.loginCodeKey.$dirty">
                    <span>请输入校验码key.</span>
                </div>
            </div>
        </div>
        <div class="col-xs-6" >
            <label>校验码</label>
            <div class="row">
                <input type="text" name="loginCode" ng-model="editPage.access.loginCode" ng-pattern="editPage.emptyValidate" required/>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.loginCode.$invalid && editMoForm.loginCode.$dirty">
                    <span>请输入校验码.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <label>匹配条件</label>
            <div class="row">
                <textarea maxlength="200" name="condition" ng-model="editPage.access.condition" ng-pattern="editPage.emptyValidate" required></textarea>
                <span class="required">*</span>
                <div class="warn" ng-show="editMoForm.condition.$invalid && editMoForm.condition.$dirty">
                    <span>请输入匹配条件.</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>