<div class="row">
    <div class="col-xs-6">
        <label>管理IP</label>
        <div class="row">
            <input type="text" name="ip" ng-pattern="editPage.ipValidate" ng-model="editPage.data.ip"/>
        </div>
        <div class="warn" ng-show="editMoForm.ip.$invalid && editMoForm.ip.$dirty">
            <span>请输入有效的IP地址.</span>
        </div>
    </div>
    <div class="col-xs-6">
        <label>端口</label>
        <div class="row">
            <input type="text" name="port"  ng-pattern="editPage.portValidate" ng-model="editPage.access.port"/>
        </div>
        <div class="warn" ng-show="editMoForm.port.$invalid && editMoForm.port.$dirty">
            <span>请输入有效的端口号.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>版本</label>
        <div class="row">
            <select ng-model="editPage.access.version">
                <option value="V1" selected> V1 </option>
                <option value="V2C" selected> V2C </option>
            </select>
        </div>
    </div>
    <div class="col-xs-6">
        <label>共同体</label>
        <div class="row">
            <input type="text" name="public" ng-pattern="editPage.emptyValidate" ng-model="editPage.access.community"/>
            <div class="warn" ng-show="editMoForm.public.$invalid && editMoForm.public.$dirty">
                <span>请输入共同体.</span>
            </div>
        </div>
    </div>
</div>