<div class="row">
    <div class="col-xs-6">
        <label>管理IP</label>
        <div class="row">
            <input type="text" name="ip" ng-pattern="editPage.ipValidate" ng-model="editPage.data.ip"  required/>
            <span class="required">*</span>
        </div>
        <div class="warn" ng-show="editMoForm.ip.$invalid && editMoForm.ip.$dirty">
            <span>请输入有效的IP地址.</span>
        </div>
    </div>
    <div class="col-xs-6">
        <label>端口</label>
        <div class="row">
            <input type="text" name="port"  ng-pattern="editPage.portValidate" ng-model="editPage.access.port" required/>
            <span class="required">*</span>
        </div>
        <div class="warn" ng-show="editMoForm.port.$invalid && editMoForm.port.$dirty">
            <span>请输入有效的端口号.</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>用户名</label>
        <div class="row">
            <input type="text" name="user" ng-pattern="editPage.emptyValidate" ng-model="editPage.access.user" required/>
            <span class="required">*</span>
            <div class="warn" ng-show="editMoForm.user.$invalid && editMoForm.user.$dirty">
                <span>请输入用户名.</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <label>密码</label>
        <div class="row">
            <input type="password" ng-model="editPage.access.password"/>
        </div>
    </div>
</div>

<div class="row" ng-show="editPage.data.mocId==12">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6">
                <label>网卡带宽设置</label>
            </div>
            <div class="col-xs-6">
                <button class="btn" ng-click="listPage.action.getInterfaceList();" style="margin-top:10px"> 获取网卡信息 </button>
            </div>
        </div>
        <div class="row" ng-show="!editPage.interfaceList.length">
            <label style="margin-left:20px">无网卡信息</label>
        </div>
        <div class="row" ng-repeat="type in editPage.interfaceList track by $index">
            <div class="col-xs-6">
                <label>{{type}}</label>
            </div>
            <div class="col-xs-6">
                <select ng-model="editPage.bandWidthList[$index]" style="margin-top:12px">
                    <option value=2 >2M</option>
                    <option value=10 >10M</option>
                    <option value=100 >100M</option>
                    <option value=1000 >1000M</option>
                </select>
            </div>
        </div>
    </div>
</div>