<div class="row">
    <div class="col-xs-6">
        <label>管理IP</label>
        <div class="row">
            <input type="text" name="ip" ng-pattern="editPage.ipValidate" ng-model="editPage.data.ip"  required/>
            <span class="required">*</span>
        </div>
        <div class="warn" ng-show="editMoForm.ip.$invalid && editMoForm.ip.$dirty">
            <span>请输入有效的IP地址.</span>
        </div>
    </div>
    <div class="col-xs-6" ng-show="editPage.accessCtr.mocName != 'iis'">
        <label>端口</label>
        <div class="row">
            <input type="text"  name="port" ng-pattern="editPage.portValidate" ng-model="editPage.access.port"  required/>
            <span class="required">*</span>
            <div class="warn" ng-show="editMoForm.port.$invalid && editMoForm.port.$dirty">
                <span>请输入有效的端口号.</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>用户名</label>
        <div class="row">
            <input type="text" name="user" ng-pattern="editPage.emptyValidate" ng-model="editPage.access.user" required/>
            <span class="required">*</span>
            <div class="warn" ng-show="editMoForm.user.$invalid && editMoForm.user.$dirty">
                <span>请输入用户名.</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <label>密码</label>
        <div class="row">
            <input type="password" ng-model="editPage.access.password"/>
        </div>
    </div>
</div>
<div class="row" ng-show="editPage.data.mocId == 32">
    <label>Server</label>
    <div class="row">
        <input type="text" ng-model="editPage.access.server" readonly ng-show="!editPage.editServerName" />
        <select ng-show="editPage.editServerName" name="server" ng-pattern="editPage.emptyValidate" ng-model="editPage.access.server" required>
            <option ng-repeat="serverName in listPage.serverNameList" value="{{serverName.ServerName}}">{{serverName.ServerName}}</option>
        </select>
        <span class="required">*</span>
        <button class="btn" ng-click="listPage.action.getServerName();"> 获取名称列表 </button>
        <div class="warn" ng-show="editMoForm.server.$invalid && editMoForm.server.$dirty">
            <span>请选择Server.</span>
        </div>
    </div>
</div>
<div class="row" ng-show="editPage.data.mocId == 67">
        <label>集群名称</label>
        <div class="row">
            <input type="text" ng-model="editPage.access.server" readonly ng-show="!editPage.editClusterName" />
            <select ng-show="editPage.editClusterName" name="server" ng-pattern="editPage.emptyValidate" ng-model="editPage.access.server" required>
                <option ng-repeat="clusterName in listPage.clusterNameList" value="{{clusterName.ClusterName}}">{{clusterName.ClusterName}}</option>
            </select>
            <span class="required">*</span>
            <button class="btn" ng-click="listPage.action.getClusterName();"> 获取名称列表 </button>
            <div class="warn" ng-show="editMoForm.server.$invalid && editMoForm.server.$dirty">
                <span>请选择集群名称.</span>
            </div>
        </div>
</div>