<!-- 图元右键菜单 开始 -->
<ul id="menu">
    <li><a href="javascript:void(0)" nodecid="?" nodetype="?" nodeclassify="?" mirroring="?" ng-click="showDashboard($event.target)">仪表盘</a>
    </li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlarm($event.target)">实时告警</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlarmRule($event.target)">告警规则</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showHistoryRule($event.target)">采集规则</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showMalfunctionItsm($event.target)">故障工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showIssueItsm($event.target)">问题工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlterationItsm($event.target)">变更工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createMalfunctionItsm($event.target)">新建故障</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createIssueItsm($event.target)">新建问题</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createAlterationItsm($event.target)">新建变更</a></li>
</ul>

<ul id="apacheMenu">
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlarm($event.target)">实时告警</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlarmRule($event.target)">告警规则</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showHistoryRule($event.target)">采集规则</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showMalfunctionItsm($event.target)">故障工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showIssueItsm($event.target)">问题工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlterationItsm($event.target)">变更工单</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createMalfunctionItsm($event.target)">新建故障</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createIssueItsm($event.target)">新建问题</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="createAlterationItsm($event.target)">新建变更</a></li>
</ul>

<ul id="linkmenu">
    <li><a href="javascript:void(0)" nodecid="?" ng-click="showLinkFlow($event.target)">流量分析</a></li>
</ul>

<ul id="link30menu">
    <li><a href="javascript:void(0)" nodecid="?" ng-click="showLinkHighFlow($event.target)">高频流量分析</a></li>
    <li><a href="javascript:void(0)" nodecid="?" ng-click="showLinkFlowStatistics($event.target)">流量统计</a></li>
</ul>


<ul id="jfmenu">
    <li><a href="javascript:void(0)" nodecid="?" mirroring="?" ng-click="showAlarm($event.target)">实时告警</a></li>
</ul>
<!-- 图元右键菜单 结束 -->

<!-- 图元左键Tip 开始 -->
<!--<div id="tipNodeTwaver">-->
    <!--<ul>-->
        <!--<li><a href="javascript:void(0)">-->
            <!--<div class="tip-lable">名称:</div>-->
            <!--<div class="tip-content" elName="?"></div>-->
        <!--</a></li>-->
        <!--<li><a href="javascript:void(0)">-->
            <!--<div class="tip-lable">IP:</div>-->
            <!--<div class="tip-content" elIp="?"></div>-->
        <!--</a></li>-->
        <!--<li><a href="javascript:void(0)">-->
            <!--<div class="tip-lable">CPU:</div>-->
            <!--<div class="Bar">-->
                <!--<div indicatorName="CPU" style="width: 0%;">-->
                    <!--<span>0%</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a></li>-->
        <!--<li><a href="javascript:void(0)">-->
            <!--<div class="tip-lable">MEM:</div>-->
            <!--<div class="Bar">-->
                <!--<div indicatorName="MEM" style="width: 0%;">-->
                    <!--<span>0%</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!-- 图元左键Tip 结束 -->


<!-- 线路左键Tip 开始 -->
<!--<ul id="tipLink">-->
    <!--<li><a title=\"?\" href="javascript:void(0)">-->
        <!--<div class="tip-lable">名称:</div>-->
        <!--<div class="tip-content" elName="?"></div>-->
    <!--</a></li>-->
    <!--<li><a href="javascript:void(0)">-->
        <!--<div class="tip-lable">流量:</div>-->
        <!--<div class="tip-content" elFlow="?">0</div>-->
    <!--</a></li>-->
<!--</ul>-->

<!--<ul id="tipRela">-->
    <!--<li><a title=\"?\" href="javascript:void(0)">-->
        <!--<div class="tip-lable">名称:</div>-->
        <!--<div class="tip-content" elName="?"></div>-->
    <!--</a></li>-->
<!--</ul>-->
<!-- 线路左键Tip 结束 -->
