<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label>所属区域</label>
            <ul class="ztree" z-tree="{
                        inData:'locations',
                        outData:'editPage.data.locId',
                        outParentData:'',
                        type:'all_radio',
                        description:'name',
                        children:'children',
                        value:'id',
                        depth:10,
                        radioCancel:true
                        }" id="locationTree">
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>所属机房</label>
            <ul class="ztree"  z-tree="{
                        inData:'locationsForJF',
                        outData:'editPage.data.jfId',
                        outParentData:'',
                        type:'radio',
                        description:'name',
                        children:'children',
                        value:'id',
                        depth:2,
                        radioCancel:true,
                        inputWidth:223
                      }" id="relationshipJF">
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>机柜</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.cabinet" maxlength="50"/>
        </div>
    </div>
    <div class="col-xs-6">
        <label>机架</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.rack" maxlength="50"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>负责人</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.user"  maxlength="50"/>
        </div>
    </div>
    <div class="col-xs-6">
        <label>联系方式</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.userContact"  maxlength="50"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>资源描述</label>
        <div class="row">
            <textarea ng-model="editPage.data.remark" maxlength="250"></textarea>
        </div>
    </div>
</div>
