<div class="row">
    <div class="col-xs-6">
        <label>负责人</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.user"  maxlength="50"/>
        </div>
    </div>
    <div class="col-xs-6">
        <label>联系方式</label>
        <div class="row">
            <input type="text" ng-model="editPage.data.userContact"  maxlength="50"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <label>资源描述</label>
        <div class="row">
            <textarea ng-model="editPage.data.remark" maxlength="250"></textarea>
        </div>
    </div>
</div>