
<!doctype html>
<html>
<head>
    <title>机房监控</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/css/font-awesome.min.css">
    <script type="text/javascript">

        var Request = new  Object();
        Request = GetRequest ();
        var username = Request['u'];
        var password = decodeURIComponent(Request['p']);
        var ip = Request['ip'];
        var server = Request['s'];
        var user = Request['dbu'];
        var pass = Request['dbp'];
        function GetRequest()
        {
            var url  =  location.search;
            var theRequest  =  new  Object();
            if(url.indexOf("?") != -1)
            {
                var str  =  url .substr(1);
                var strs  = str.split("&");
                for(var i  =  0 ; i  <   strs.length ; i ++)
                {
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

    </script>

</head>

<body>

<div class="page-content">
    <OBJECT
            id="MyActivex"
            classid="clsid:D67109FA-5093-4302-B31E-11DFB9A40AC5"
            codebase="ok.cab#version=1,0,0,0"
            align=left
            hspace=0
            vspace=0>
        <param name="UserName" value="">
        <param name="UserPass" value="">
        <param name="SHMenu" value="0">
        <param name="LocalIp" value="172.16.1.10">
        <param name="sjkname" value="myserver">
        <param name="sjkuser" value="sa">
        <param name="sjkpass" value="sa">
        <param name="Enabled" value="-1">
    </OBJECT>
    <script type="text/javascript">



        document.getElementsByName("UserName")[0].value = username;
        document.getElementsByName("UserPass")[0].value = password;
        document.getElementsByName("LocalIp")[0].value = ip;
        document.getElementsByName("sjkname")[0].value = server;
        document.getElementsByName("sjkuser")[0].value = user;
        document.getElementsByName("sjkpass")[0].value = pass;
        



    </script>


</div>
</body>
</html>