<link rel="stylesheet" type="text/css" href="css/alarm/alarm.css">
<style>
    .td-text {
        padding: 0px;
        float: left;
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="content">
    <bread-crumb>
        <a>机房</a>
        <a class="current">机房告警规则</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>

        <div class="page-content">
            <div class="search-head">
                <div class="row">
                    <label>资源类型：</label>
                    <select id="jmocid1" ng-model="searchPage.data.mocId">
                        <option value="">不限</option>
                        <option ng-repeat="type in searchPage.datas.mocs"
                                value={{type.id}}>
                            {{type.displayName}}
                        </option>
                    </select>
                    <label>资源实例：</label>
                    <input type="text" ng-model="searchPage.data.moName" maxlength="30"/>
                    <label>指标类型：</label>
                    <select ng-model="searchPage.data.indicatorId">
                        <option value=""> 不限</option>
                        <option ng-repeat="type in searchPage.datas.indicators"
                                value={{type.id}}>
                            {{type.displayName}}
                        </option>
                    </select>
                    <label></label>
                    <select ng-model="searchPage.data.metricsId">
                        <option value=""> 不限</option>
                        <option ng-repeat="type in searchPage.datas.metrics"
                                value={{type.id}}>
                            {{type.displayName}}
                        </option>
                    </select>
                    <label>更新时段：</label>
                    <input type="text" ng-model="searchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                    <!--<label class="n1">至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                    <input type="text" ng-model="searchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                </div>
                <div class="row">
                    <label> 规则状态：</label>
                    <select ng-model="searchPage.data.active">
                        <option value=""> 不限</option>
                        <option value=true> 启用</option>
                        <option value=false> 停用</option>
                    </select>
                    <label> 规则名称：</label>
                    <input type="text" ng-model="searchPage.data.name" maxlength="30"/>
                    <label>所属机房：</label>
                    <input type="text" readonly z-tree="{
                                                inData:'locationsForJFSearch',
                                                outData:'searchPage.data.jfId',
                                                outParentData:'',
                                                type:'radio',
                                                description:'name',
                                                children:'children',
                                                value:'id',
                                                depth:2,
                                                radioCancel:true,
                                                isLeaf:'isLeaf'
                                              }" id="jfsText2"/>
                    <label> 告警级别：</label>

                    <div class="checkbox" ng-repeat="l in $root.alarm.const.levels"><label><input type="checkbox"
                                                                                                  checklist-model="searchPage.data.level"
                                                                                                  checklist-value="l.value"><i></i></label><span
                            compile="l.label"></span></div>
                    <button type="button" class="btn" ng-click="search()">查询</button>
                </div>
            </div>
            <!-- 数据列表 -->
            <div class="pr">
                <div class="list_button">
                    <button type="button" class="btn" ng-click="roomListPage.action.add()"
                            ng-disabled="loginUserMenuMap[currentView]">同步
                    </button>
                    <button type="button" class="btn" ng-click="roomListPage.action.batchActive(true)"
                            ng-disabled="loginUserMenuMap[currentView]">启用
                    </button>
                    <button type="button" class="btn" ng-click="roomListPage.action.batchActive(false)"
                            ng-disabled="loginUserMenuMap[currentView]">停用
                    </button>
                    <!--<button type="button" class="btn btn-primary"-->
                            <!--onclick="javascript:document.body.innerHTML=$('#print2').html();window.print();location.reload();">-->
                        <!--导出-->
                    <!--</button>-->
                </div>
                <div id="print2">
                    <table jq-table="roomListPage.settings" class="table"></table>
                </div>
            </div>
            <div ng-include src="'views/resource/roomSync.html'" ng-controller="resourceRoomSyncCtrl"></div>
            <div ng-include src="'views/room/roomRuleEdit.html'"></div>
        </div>

</div>
