<div dialog info="alarmEditDialog" data="model">
    <form name="form" novalidate>

        <div class="dialog-con" style="height:400px;overflow: auto;">
            <table class="modal-table">
                <tr>
                    <td class="row-lable"> 规则名称 </td>
                    <td>
                        <input type="text" value="[资源实例][指标]" ng-model="model.displayName" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 告警级别 </td>
                    <td>
                        <span class="radio" ng-repeat="l in $root.alarm.const.levels">
                            <label>
                                <input class="ace" type="radio" ng-model="model.level" value={{l.value}}>
                                <span class="lbl"></span>
                            </label>
                            <span compile="l.label"></span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 规则状态 </td>
                    <td>
                        <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="model.active" />
                        <span class="lbl"></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 告警/恢复延迟 </td>
                    <td>
                        <input  ng-model="model.occursDelay" required  type="number" min="1" max="1000"/>
                        <span>次</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="table" style="border: 1px solid #ccc;">
                            <thead>
                            <tr>
                                <th>资源类型</th>
                                <th>资源实例</th>
                                <th>指标</th>
                                <th>阈值条件</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{model.mocName}}</td>
                                <td>{{model.moName}}</td>
                                <td>{{model.metricName}}</td>
                                <td>
                            <span ng-show="roomListPage.modelPlus.enum">
                                ==
                                <select ng-model="model.low" style="width:120px">
                                    <option ng-repeat="(key,value) in roomListPage.modelPlus.enumMap" value={{value[0]}}> {{key}} </option>
                                </select>
                            </span>
                            <span ng-show="!roomListPage.modelPlus.enum">
                                {{$root.opValue=='gt'?'高限:':'低限:'}}
                                <select ng-model="$root.opValue" style="width:50px">
                                    <option value="gt">&gt;=</option>
                                    <option value="lt">&lt;=</option>
                                </select>
                                <input type="text" ng-model="model.low" style="width:60px" />
                                &nbsp;&nbsp;
                                {{$root.opValue=='gt'?'超高限:':'超低限:'}}
                                <select ng-model="$root.opValue" style="width:50px">
                                    <option value="gt">&gt;=</option>
                                    <option value="lt">&lt;=</option>
                                </select>
                                <input type="text" ng-model="model.high" style="width:60px" />
                            </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="row" style="padding-left: 0px;">
                <i id="downedit" class="fa fa-plus" ng-click="editsd()">&nbsp;高级设置</i>
                <i id="upedit" class="fa fa-minus" style="display: none" ng-click="editsd()">&nbsp;高级设置</i>
            </div>

            <div id="ccc" style="display: none">
                <table class="modal-table">
                    <tr>
                        <td class="row-lable"> 检测时间 </td>
                        <td>
                            <div class="checkbox" ng-repeat="d in $root.alarm.const.weekdays">
                                <label>
                                    <input name="week" type="checkbox" checklist-model="roomListPage.modelPlus.workingDay" checklist-value="d.value"><i></i>
                                </label>
                                {{d.label}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 检测时段 </td>
                        <td>
                            <select ng-model="roomListPage.modelPlus.startTime" style="width: 100px">
                                <option ng-repeat="i in [] | loop:0:23:1" value={{i}}> {{i}} </option>
                            </select>
                            时
                            ---
                            <select id="endT" ng-model="roomListPage.modelPlus.endTime" style="width: 100px">
                                <option ng-repeat="i in roomListPage.modelPlus.endTimes" value={{i}}> {{i}} </option>
                            </select>
                            时
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 通知用户组 </td>
                        <td>
                            <ul class="ztree" id="usersText"
                                z-tree="{
                            inData:'roomListPage.modelPlus.notifyUserGroups',
                            outData:'model.notifier',
                            outParentData:'',
                            type:'radio',
                            radioCancel : true ,
                            description:'name',
                            children:'children',
                            value:'id',
                            depth:1}">
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"  ng-click="alarmEditDialog.save()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>