<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>资源</a>
        <a class="current">资源库</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <layout-lr>
        <panel-left>
            <div id="sidebar" class="left-sidebar">
                <div class="menu-title">
                    <button type="button" class="btn discoveryBtn" ng-click="listPage.action.showDiscoveryPage()" ng-disabled="$root.loginUserMenuMap[$root.currentView]">自动发现 </button>
                </div>
                <ul class="ztree ztreen" z-tree="{
                    inData:'$root.resource.moc',
                    outData:'searchPage.data.mocpId',
                    outParentData:'',
                    type:'none',
                    radioCancel : true,
                    description:'displayName',
                    nodeDom:'listPage.action.mocNodeDom',
                    children:'children',
                    value:'id',
                    depth:1}" id="moTree">
                </ul>
            </div>
            <collapse-left></collapse-left>
        </panel-left>
        <panel-right>
            <div class="page-content">
                <div id="resource_manage_div">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div ng-include src="'views/resource/moSearch.html'"></div>
                            <div ng-include src="'views/resource/moList.html'"></div>

                            <!-- edit page -->
                            <div ng-include src="'views/resource/moEdit.html'"></div>
                            <!-- room sync page -->
                            <div ng-include src="'views/resource/roomSync.html'" ng-controller="resourceRoomSyncCtrl"></div>
                            <!-- discovery page -->
                            <div ng-include src="'views/resource/moDiscovery.html'" ng-controller="resourceDiscoveryCtrl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </panel-right>
    </layout-lr>

    <div modal-alert settings="common.alertSettings"></div>
    <div modal-confirm settings="common.confirmSettings"></div>
</div>