<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<link rel="stylesheet" type="text/css" href="css/resource/colorbar.css">
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>资源</a>
        <a class="current">资源模型</a>
    </bread-crumb>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-6">
                <widget-box>
                    <widget-header>
                        <h5>资源类型</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div class="scrollDiv" style="height:475px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="330">资源名称</th>
                                    <th width="100" class="center">系统内置</th>
                                    <th style="padding-left: 95px!important">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div class="ztree" style="overflow-x: hidden;" z-tree="{
                                    inData:'$root.resource.moc',
                                    outData:'treePage.mocId',
                                    outParentData:'',
                                    type:'radio',
                                    description:'displayName',
                                    children:'children',
                                    value:'id',
                                    depth:2,
                                    nodeDom:'treePage.mocNodeDom',
                                    icon:'img',
                                    iconPath:'img/topo/'
                                  }" id="resourceTypeTree">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </widget-body>
                </widget-box>
            </div>
            <div class="col-xs-6">
                <widget-box>
                    <widget-header>
                        <h5>指标类型</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div class="scrollDiv">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="180">指标名称</th>
                                    <th width="85">指标类型</th>
                                    <th width="75">单位</th>
                                    <th width="100">数值类型</th>
                                    <th width="100">可采集</th>
                                    <th>可告警</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="6">
                                        <div class="ztree" style="overflow-x: hidden;" z-tree="{
                        inData:'treePage.metricData',
                        outData:'treePage.metricId',
                        outParentData:'treePage.metricGroupId',
                        type:'radio',
                        description:'displayName',
                        children:'children',
                        value:'id',
                        depth:2,
                        nodeDom:'treePage.metricNodeDom'
                      }" id="metricTypeTree"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </widget-body>
                </widget-box>
                <widget-box>
                    <widget-header>
                        <h5>适用访问方式</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div class="scrollDiv" style="height:125px;line-height: 24px;">
                            <div class="row-header">
                                <div class="col-xs-2">协议</div>
                                <div class="col-xs-3">厂商</div>
                                <div class="col-xs-7">设备型号</div>
                            </div>
                            <div class="row small-data-row" ng-repeat="row in treePage.probeData">
                                <div class="col-xs-2">{{row.accessType}}</div>
                                <div class="col-xs-3">{{row.manufacturer}}</div>
                                <div class="col-xs-7">{{row.model}}</div>
                            </div>
                        </div>
                    </widget-body>
                </widget-box>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <widget-box>
                    <widget-header>
                        <h5>指标值颜色配置</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <form name="editColorForm" id="editColorForm">
                            <div ng-if="rowType=='node'">
                                <div class="row-header">
                                    <div class="col-xs-2">指标组名称</div>
                                    <div class="col-xs-3">指标名称</div>
                                    <div class="col-xs-5">颜色阈值设置</div>
                                    <div class="col-xs-1">颜色反转</div>
                                    <div class="col-xs-1">拓扑图阈值</div>
                                </div>
                                <div class="row small-data-row" ng-if="metricColorList.length==0">
                                    <div class="col-xs-12">无</div>
                                </div>
                                <div class="row-content">
                                <div class="row data-row" ng-repeat="m in metricColorList">
                                    <div class="col-xs-2"> {{m.indicatorDisplayName}} </div>
                                    <div class="col-xs-3"> {{m.metricDisplayName}} </div>
                                    <div class="col-xs-5"><div color-bar></div></div>
                                    <div class="col-xs-1">
                                        <span class="checkbox">
                                          <label>
                                              <input class="ace reverse" type="checkbox" name="reverse" value="{{m.reverse}}" ng-model="m.reverse">
                                              <span class="lbl"></span>
                                          </label>
                                        </span>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="radio">
                                          <label>
                                              <input class="ace topoNodeTag" type="radio" name="topoNodeTag" value="1" ng-model="m.topoTag" ng-disabled="m.topoTag==0">
                                              <span class="lbl"></span>
                                          </label>
                                        </span>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div ng-if="rowType=='line'" id="line-div">
                                <div class="row-header">
                                    <div class="col-xs-1">资源类型组</div>
                                    <div class="col-xs-1">资源类型</div>
                                    <div class="col-xs-1">指标组名称</div>
                                    <div class="col-xs-2">指标名称</div>
                                    <div class="col-xs-5">颜色阈值设置</div>
                                    <div class="col-xs-1">颜色反转</div>
                                    <div class="col-xs-1">拓扑图阈值</div>
                                </div>
                                <div class="row small-data-row" ng-if="metricColorList.length==0">
                                    <div class="col-xs-12">无</div>
                                </div>
                                <div class="row-content">
                                  <div ng-repeat="moc in listColor">
                                    <div class="row data-row" ng-repeat="m in moc">
                                        <div class="col-xs-1">{{m.mocpDisplayName}}</div>
                                        <div class="col-xs-1">{{m.mocDisplayName}}</div>
                                        <div class="col-xs-1"> {{m.indicatorDisplayName}}</div>
                                        <div class="col-xs-2"> {{m.metricDisplayName}}</div>
                                        <div class="col-xs-5"><div color-bar></div></div>
                                        <div class="col-xs-1">
                                            <span class="checkbox">
                                              <label><input class="ace reverse" type="checkbox" name="reverse" value="{{m.reverse}}" ng-model="m.reverse">
                                                  <span class="lbl"></span>
                                              </label>
                                            </span>
                                        </div>
                                        <div class="col-xs-1">
                                            <span class="radio">
                                              <label><input class="ace topoLineTag" type="radio" name="{{m.mocName}}_topoLineTag" value="3" ng-model="m.topoTag">
                                                  <span class="lbl"></span>
                                              </label>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="sepline"></span>
                                  </div>
                                </div>
                            </div>
                            <div class="saveColorBtn-wrap">
                                <button ng-disabled="$root.loginUserMenuMap[$root.currentView]" id="saveColorBtn" class="btn right" ng-click="saveMetricColor();">保存</button>
                            </div>
                        </form>
                    </widget-body>
                </widget-box>
            </div>
        </div>
    </div>

    <!-- 更换图标对话框 开始 -->
    <div modal-dialog settings="treePage.modal.settings">
        <form name="mocIconUploadForm" novalidate>
            <div class="dialog-con">
                <input type="file" name="imageFile" id="mocIconUploadInput" accept="image/x-png" />
                <label class="red">仅支持png格式的图片，大小不能超过2MB</label>
            </div>
        </form>
    </div>
    <!-- 更换图标对话框 结束 -->

</div>
