<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<div class="content">
    <bread-crumb>
        <a>资源管理</a>
        <a class="current">资源统计</a>
    </bread-crumb>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-6 widget-container-span">
                <widget-box>
                    <widget-header>
                        <h5>按类型统计</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div>
                            <highchart id="typeChart" config="typeChart.config"></highchart>
                        </div>
                    </widget-body>
                </widget-box>
                <widget-box>
                    <widget-header>
                        <h5>按业务统计</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div>
                            <highchart id="businessChart" config="businessChart.config"></highchart>
                        </div>
                    </widget-body>
                </widget-box>
            </div>

            <div class="col-xs-6 widget-container-span">
                <widget-box>
                    <widget-header>
                        <h5>按区域统计</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <div>
                            <highchart id="locationChart" config="locationChart.config"></highchart>
                        </div>
                    </widget-body>
                </widget-box>
            </div>
        </div>
    </div>
</div>