.page-content{
    background: #fff;
    padding-bottom: 1px;
}

#linkAddDialog .modal-dialog{
    width: 700px;
    margin-left: -350px;
}

#linkAddDialog .modal-content{
    width: 700px;
}
#linkAddDialog .dialog-con{
    width: 700px;
}

#linkAddDialog .ztree{
    height: 150px;
}

#topoViewDialog .modal-content{
    height: 170px;
}
#topoViewDialog .dialog-con{
    height: 100px;
}

#topoViewDialog .modal-dialog{
    margin-top: -100px;
}

#topoViewUpdateDialog .modal-content{
    height: 170px;
}
#topoViewUpdateDialog .dialog-con{
    height: 100px;
}

#topoViewUpdateDialog .modal-dialog{
    margin-top: -100px;
}



#elementDelDialog .modal-dialog{
    width: 400px;
    margin-left: -220px;
    margin-top: -100px;
}

#elementDelDialog .modal-content{
    width: 400px;
    height: 170px;
}
#elementDelDialog .dialog-con{
    width: 400px;
    height: 100px;
}

#uploadBackgroundDialog .modal-dialog{
    width: 650px;
    margin-left: -320px;
}

#uploadBackgroundDialog .modal-content{
    height: 357px;
    width: 650px;
}
#uploadBackgroundDialog .dialog-con{
    height: 300px;
    width: 650px;
}

#updateCustomNameDialog .modal-dialog{
    width: 500px;
    margin-left: -220px;
}

#updateCustomNameDialog .modal-content{
    height: 357px;
    width: 500px;
}
#updateCustomNameDialog .dialog-con{
    height: 260px;
    width: 500px;
}


#drillConfigDialog .ztree{
    height: 150px;
}

#dummyNodeDialog .modal-dialog{
    width: 520px;
    margin-left: -250px;
}

#dummyNodeDialog .dialog-con{
    width: 520px;
    height: 320px;
}
#dummyNodeDialog .modal-content{
    width: 520px;
    height:370px;
}

#dummyNodeEditDialog .modal-dialog{
    width: 520px;
    margin-left: -250px;
}

#dummyNodeEditDialog .dialog-con{
    width: 520px;
    height: 320px;
}
#dummyNodeEditDialog .modal-content{
    width: 520px;
    height:370px;
}



#linkStyleDialog .modal-content{
    height: 500px;
}
#linkStyleDialog .dialog-con{
    height: 450px;
}
#linkStyleDialog .col-xs-6{
    width: 100%;
    height: 380px;
}
#linkStyleDialog ul{
    height: 330px;
}

#nodeSizeEditDialog .modal-content{
    height: 400px;
}
#nodeSizeEditDialog .dialog-con{
    height: 350px;
}
#nodeSizeEditDialog .col-xs-6{
    width: 100%;
}

#nodeSynAddDialog .modal-dialog{
    width: 1050px;
    margin-left: -520px;
}
#nodeSynAddDialog .modal-content{
    width: 1050px;
    height: 500px;
}
#nodeSynAddDialog .dialog-con{
    width: 1050px;
    height: 450px;
}
#nodeSynAddDialog .modal-content .modal-body .ztree {
    border: 0px;
    padding-left: 0px;
}
#nodeSynAddDialog .modal-content .modal-body .ztree.lhztree {
    height: 345px;
}
#nodeSynAddDialog .modal-content .modal-body .ztree.rhztree {
    height: 392px;
}

#nodeSynAddDialog .modal-content .modal-body .ztree label {
     padding: 0;
     line-height: 16px;
     margin-bottom: 0;
     margin-top: 0px;
}

#linkSynAddDialog .modal-dialog{
    width: 850px;
    margin-left: -410px;
}
#linkSynAddDialog .modal-content{
    width: 850px;
    height: 500px;
}
#linkSynAddDialog .dialog-con{
    width: 850px;
    height: 450px;
}

#linkSynAddDialog .modal-content .modal-body .ztree.hztree {
    height: 380px;
    border: 0px solid #ccc;
}


.level0 .line {
    overflow: visible !important;
}

.level0 {
    overflow: visible !important;
}

#topoStatusConfigDialog .modal-content .modal-body .ztree {
    border: 0px;
    padding-left: 0px;
}
#topoStatusConfigDialog .modal-content .modal-body .ztree.hztree {
    height: 260px;
}
#topoStatusConfigDialog .modal-content .modal-body .ztree label {
    padding: 0;
    line-height: 0px;
    margin-bottom: 0;
    margin-top: 0px;
}

#linkStyleDialog .modal-content .modal-body label {
    margin-top: 0px;
}

#deleteBackgroundDialog .modal-content{
    height: 170px;
}
#deleteBackgroundDialog .dialog-con{
    height: 100px;
}

#updateTypeBackground .modal-content{
    height: 275px;
}
#updateTypeBackground .dialog-con{
    height: 225px;
}


#elementMirroringDialog .modal-content{
    height: 400px;
}
#elementMirroringDialog .dialog-con{
    height: 350px;
}

#elementPositioningDialog .modal-content{
    height: 400px;
}
#elementPositioningDialog .dialog-con{
    height: 350px;
}

/*:-webkit-full-screen canvas    { width:100%; height: 100%; }*/
/*:-moz-full-screen canvas       { width:100%; height: 100%; }*/
/*:-ms-full-screen canvas        { width:100%; height: 100%; }*/
/*:-o-full-screen canvas         { width:100%; height: 100%; }*/
/*:full-screen canvas            { width:100%; height: 100%; }*/


#menu{position:absolute;top:-9999px;left:-9999px;width:166px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#menu li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
#menu li:last-child{border-bottom: none;}
#menu li a{display:block;color:#333;padding:5px 20px ;text-decoration:none;}
#menu li a:hover{color: #fff;background:#3276b1;}

#apacheMenu{position:absolute;top:-9999px;left:-9999px;width:166px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#apacheMenu li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
#apacheMenu li:last-child{border-bottom: none;}
#apacheMenu li a{display:block;color:#333;padding:5px 20px ;text-decoration:none;}
#apacheMenu li a:hover{color: #fff;background:#3276b1;}

#jfmenu{position:absolute;top:-9999px;left:-9999px;width:166px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#jfmenu li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
#jfmenu li:last-child{border-bottom: none;}
#jfmenu li a{display:block;color:#333;padding:5px 20px ;text-decoration:none;}
#jfmenu li a:hover{color: #fff;background:#3276b1;}

#linkmenu{position:absolute;top:-9999px;left:-9999px;width:166px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#linkmenu li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
#linkmenu li:last-child{border-bottom: none;}
#linkmenu li a{display:block;color:#333;padding:5px 20px ;text-decoration:none;}
#linkmenu li a:hover{color: #fff;background:#3276b1;}

#link30menu{position:absolute;top:-9999px;left:-9999px;width:166px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#link30menu li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
#link30menu li:last-child{border-bottom: none;}
#link30menu li a{display:block;color:#333;padding:5px 20px ;text-decoration:none;}
#link30menu li a:hover{color: #fff;background:#3276b1;}

#tipNodeTwaverAll{position:absolute;width:250px;border-radius:3px;list-style-type:none;border:0px solid #DDDDDD}
#tipNodeTwaverAll li{position:relative;padding:5px 10px;vertical-align:top;}
#tipNodeTwaverAll li .tip-lable{display: inline-block;line-height: 20px;vertical-align: top;width: 33px;}
#tipNodeTwaverAll li .tip-content{position: relative; width: 190px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipNodeTwaverAll li .tip-lable-3{display: inline-block;line-height: 20px;vertical-align: top;width: 53px;}
#tipNodeTwaverAll li .tip-content-3{position: relative; width: 170px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipNodeTwaverAll li .tip-lable-4{display: inline-block;line-height: 20px;vertical-align: top;width: 63px;}
#tipNodeTwaverAll li .tip-content-4{position: relative; width: 160px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipNodeTwaverAll li .tip-lable-5{display: inline-block;line-height: 20px;vertical-align: top;width: 68px;}
#tipNodeTwaverAll li .tip-content-5{position: relative; width: 155px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipNodeTwaverAll li .tip-lable-7{display: inline-block;line-height: 20px;vertical-align: top;width: 88px;}
#tipNodeTwaverAll li .tip-content-7{position: relative; width: 135px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

#tipSimulationNodeTwaver{position:absolute;width:250px;border-radius:3px;list-style-type:none;border:0px solid #DDDDDD}
#tipSimulationNodeTwaver li{position:relative;padding:5px 10px;vertical-align:top;}
#tipSimulationNodeTwaver li .tip-lable-alarm{display: inline-block;line-height: 20px;vertical-align: top;width: 0px;}
#tipSimulationNodeTwaver li .tip-content-alarm{position: relative; width: 190px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipSimulationNodeTwaver li .tip-lable{display: inline-block;line-height: 20px;vertical-align: top;width: 33px;}
#tipSimulationNodeTwaver li .tip-content{position: relative; width: 190px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipSimulationNodeTwaver li .tip-lable-3{display: inline-block;line-height: 20px;vertical-align: top;width: 53px;}
#tipSimulationNodeTwaver li .tip-content-3{position: relative; width: 170px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipSimulationNodeTwaver li .tip-lable-4{display: inline-block;line-height: 20px;vertical-align: top;width: 63px;}
#tipSimulationNodeTwaver li .tip-content-4{position: relative; width: 160px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipSimulationNodeTwaver li .tip-lable-5{display: inline-block;line-height: 20px;vertical-align: top;width: 68px;}
#tipSimulationNodeTwaver li .tip-content-5{position: relative; width: 155px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipSimulationNodeTwaver li .tip-lable-7{display: inline-block;line-height: 20px;vertical-align: top;width: 88px;}
#tipSimulationNodeTwaver li .tip-content-7{position: relative; width: 135px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

#tipNode{position:absolute;top:-9999px;left:-9999px;width:200px;border-radius:3px;list-style-type:none;border:1px solid #DDDDDD;background:#e9f1fe;z-index: 2147483647}
#tipNode li{position:relative;padding:5px 10px;vertical-align:top;}
#tipNode li .tip-lable{display: inline-block;line-height: 20px;vertical-align: top;width: 33px;}
#tipNode li .tip-content{position: relative; width: 140px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

#tipLink{position:absolute;width:250px;border-radius:3px;list-style-type:none;border:0px solid #DDDDDD;}
#tipLink li{position:relative;padding:5px 10px 0px;}
#tipLink li .tip-lable{display: inline-block;line-height: 20px;vertical-align: top;width: 33px;}
#tipLink li .tip-content{line-height: 20px;position: relative; width: 190px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipLink li .tip-lable-4{display: inline-block;line-height: 20px;vertical-align: top;width: 63px;}
#tipLink li .tip-content-4{line-height: 20px;position: relative; width: 160px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipLink li .tip-lable-6{display: inline-block;line-height: 20px;vertical-align: top;width: 83px;}
#tipLink li .tip-content-6{line-height: 20px;position: relative; width: 140px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#tipLink li .tip-lable-7{display: inline-block;line-height: 20px;vertical-align: top;width: 93px;}
#tipLink li .tip-content-7{line-height: 20px;position: relative; width: 130px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

#tipRela{position:absolute;width:250px;border-radius:3px;list-style-type:none;border:0px solid #DDDDDD;}
#tipRela li{position:relative;padding:5px 10px 0px;}
#tipRela li .tip-lable{display: inline-block;line-height: 20px;vertical-align: top;width: 33px;}
#tipRela li .tip-content{line-height: 20px;position: relative; width: 190px;display: inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}

#n a { padding:0 4px; color:#333 }
.Bar ,.Bars { position: relative; width: 120px;background: #FFFFFF;display: inline-block;}
.Bar div,.Bars div { display: block; position: relative;background:#3276b1; color: #333333;height: 20px;line-height: 20px;}
.Bars div{ background:#090}
.Bar div span,.Bars div span { position: absolute; width: 100%;text-align: right;}

/* 百分比色条*/
.bar-label{width:38px;text-align: left;float:right;position: relative;top: 9px;}
.bar-wrap{margin-right: 45px; position: relative; top:12px}
.BarOverView{ position: relative;border:1px solid #D3CDCD;border-radius: 10px;height:10px;}
.BarOverView div { display: block; position: relative; color: #333333;height: 100%;border-radius: 10px}
.BarOverView div.green{background:#0fa460;}
.BarOverView div.yellow{background:#f8c63d;}
.BarOverView div.red{background:#de4e43;}
.BarOverView div.gray{background:#BEBEBE;}
.BarOverView div span { position: absolute; width: 99%;text-align: right;color:#fff;}

.menu-list{padding:0;border-radius:0!important;}
.menu-list ul{background:#e9f1fe;}
.menu-list ul li{position:relative;vertical-align:top;border-bottom: 1px solid #ddd;}
.menu-list ul li:last-child{border-bottom: none;}
.menu-list ul li a{display:block;color:#333;padding:5px 30px ;text-decoration:none;}
.menu-list ul li a:hover{color: #fff;background:#3276b1;}

.tip_line{
    padding: 0 5px 0;
    margin: 5px 0;
    line-height: 2px;
    border-left: 50px solid #ddd;
    border-right: 50px solid #ddd;
    text-align: center;
}

.button-icon{
    float:left;
    border-radius: 4px;
    background: #1687ce;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor:pointer;
    font-size:15px;
}
.button-icon i{
  color:#fff;
}
.button-icon .menu-list {
    line-height: 18px!important;
    text-align: left!important;
}
.button-icon label{
    cursor: pointer;
    font-size: 15px;
    border-radius: 2px;
    width: 28px;
    height: 28px;
}
.button-icon input[type="checkbox"],.button-icon input[type="radio"]{
  display:none;
}
.button-icon input[type="checkbox"]:checked + label,.button-icon input[type="radio"]:checked + label{
    background-color: #1d5686;
}
.button-icon .mouse-icon{
    background: url("../../img/topo/mouse.png") no-repeat;
    display: block;
    height: 22px;
    width: 14px;
    position: relative;
    left: 4px;
    top: 2px;
    margin-bottom: 6px;
}
.button-icon .select-icon{
    background: url("../../img/topo/select.png") no-repeat;
    display: block;
    height: 17px;
    left: 4px;
    margin-bottom: 6px;
    position: relative;
    top: 6px;
    width: 15px;
}

form[disabled] a, form[disabled] label,  form[disabled] i{
    pointer-events:none;
}
form[disabled] .button-icon{
    border: 1px solid #ddd;
    background: #fafafa;
}
form[disabled] .button-icon i{
    color:#6d6a69;
}
form[disabled] .button-icon .mouse-icon{
    background: url("../../img/topo/mouse_disabled.png") no-repeat;
}
form[disabled] .button-icon .select-icon{
    background: url("../../img/topo/select_disabled.png") no-repeat;
}


.layout{
    position: relative;
    width: 167px;
    height: 18px;
    display: inline-block;
}


.fullScreenClass{
    position: absolute;
    left: 0px;
}

.topo-menu-title{
    padding-left:20px;
    position:relative;
    background: #dedede;
    height:36px;
}
.topo-menu-title i{
    padding-left: 7px;
    width:20px;
    top:0px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-left:1px solid #d0d0d0;
    cursor:pointer;
}


.status-icon{
    font-size: 14px;
    text-align: center;
    display: block;
}
.statusOn{
    color: #3276b1;
}
.statusOn:hover{
    color: #3276b1!important;
}
.statusOff{
    color: #a90329;
}
.statusOff:hover{
    color:  #a90329!important;
}
.statuNull{
    color:#b2b2b2;
}
.statuNull:hover{
    color:  #b2b2b2!important;
}

/* new left-right layout begin */
.lr-content{
    position: fixed;
    top: 126px;
    bottom: 0;
    left: 0;
    right: 0;
}
.left-content{
    width: 210px;
    position: absolute;
    background: #eee;
    height: 100%;
}
.left-content > .topo-menu-title{
    position: fixed;
    width: 210px;
}
.left-content > .content-area{
    overflow: auto;
    position: fixed;
    width: 210px;
    bottom: 0;
    top: 130px;
}
.right-content{
    position: absolute;
    margin-left: 210px;
    width: 100%;
}
/* new left-right layout end*/



