//
   Created by StoneThink on 2015/1/4.

include /lib/mixins/list
include /index/panels/tab

.tabbable(ng-tabs='')
  ul#credentialTab.nav.nav-tabs
    +tab_nav("", "tab", "#{{credential}}", "$event.preventDefault()", "{{credential}}")(ng-repeat="credential in categories.credentials",ng-init="tabs.index = tabs.count+1")
    li.dropdown.pull-right.active(ng-if="credentials!=null || credentials.length>0")
      a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
        i.ace-icon.fa.fa-certificate.bigger-130
        span.bigger-110
          | 认证方式
          i.ace-icon.fa.fa-caret-down
      ul.dropdown-menu.dropdown-light-blue.dropdown-125
        li(ng-repeat='credential in credentials')
          .checkbox
            label
              input.ace(type='checkbox', class="check-group", checklist-model='categories.credentials', checklist-value='credential')
              span.lbl {{credential}}
  .tab-content(style='overflow: hidden',ng-if="categories!=null && categories.credentials!=null && categories.credentials.length>0")
    +tab_pane(ng-repeat="credential in categories.credentials")
      div(id="{{credential}}", ng-if="credential=='snmp'")
        include /credentials/snmp/new.jade
      div(id="{{credential}}", ng-if="credential=='windows'")
        include /credentials/windows/new.jade
      div(id="{{credential}}", ng-if="credential=='ssh'")
        include /credentials/ssh/new.jade

