<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<div class="content">
    <bread-crumb>
        <a class="current">关于</a>
    </bread-crumb>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-6 widget-container-span">
                <widget-box>
                    <widget-header>
                        <h5>软件信息</h5>
                        <widget-toolbar></widget-toolbar>
                    </widget-header>
                    <widget-body>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <b>版本</b>
                                </td>
                                <td>{{about.version}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>发布时间</b>
                                </td>
                                <td>{{about.date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>版权所有</b>
                                </td>
                                <td>上海天玑科技股份有限公司</td>
                            </tr>
                            </tbody>
                        </table>
                    </widget-body>
                </widget-box>
            </div>
        </div>
    </div>
</div>