<div dialog info="historyEditDialog" data="editPage.data" class="ldialog">
    <form name="form" novalidate>
        <div class="dialog-con">
            <div class="row">
                <div class="col-xs-12">
                    <label>规则名称</label>
                    <div class="row">
                        <!--ng-pattern="/^[^<>]*$/"-->
                        <input type="text" name="displayName" ng-model="editPage.data.displayName"  placeholder="规则名称" ng-maxlength="80" required />
                        <span class="required">*</span>
                    </div>
                    <div class="warn" ng-show="form.displayName.$dirty && form.displayName.$invalid">
                        <span ng-show="form.displayName.$error.required">此项不能为空.</span>
                        <span ng-show="!form.displayName.$error.required && form.displayName.$error.maxlength">超出长度限制.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>规则状态</label>
                    <div class="row">
                            <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="editPage.data.active" />
                            <span class="lbl middle"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>采集间隔</label>
                    <div class="row">
                        <select ng-model="editPage.data.sampleInterval">
                            <option ng-repeat="i in $root.history.const.intervals" value={{i.value}}> {{i.label}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <br/>
            </div>
            <div class="row">
            <table class="table" style="border: 1px solid #ccc;">
                <thead>
                <tr>
                    <th>资源类型</th>
                    <th>指标类型</th>
                    <th>资源名称</th>
                    <th width="150">索引值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{editPage.data.mocp}}-{{editPage.data.moc}}</td>
                    <td> {{editPage.data.indicator}}-{{editPage.data.metric}}</td>
                    <td>{{editPage.data.moName}}</td>
                    <td>{{editPage.metricsArgs}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="historyEditDialog.save()">确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </form>
</div>