<link rel="stylesheet" type="text/css" href="css/history/history.css">
<div class="content">
    <bread-crumb>
        <a>数据分析</a>
        <a class="current">实时分析</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div class="search-head">
           <div class="row">
               <div class="col-xs-6">
                <label>数据时段：</label>
                       <input type="text" ng-model="searchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                       <label class="n1">至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                       <input type="text" ng-model="searchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                   </div>
               <div class="col-xs-6">
                   <label>数据新鲜度：</label>
                   <select>
                       <option selected="selected">即时</option>
                   </select>
                </div>
          </div>
           <div class="row">
               <div class="col-xs-3">
                   <label>资源类型</label>
               </div>
                <div class="col-xs-3">
                    <label>指标类型</label>
                    </div>
                <div class="col-xs-6">
                    <label>历史记录规则</label>
                    </div>
            </div>
           <div class="row">
               <div class="col-xs-3">
                   <ul style="border: 1px solid #ccc;height: 200px;width: 200px;overflow: auto;padding: 10px 0 10px 15px;" class="ztree" class="ztree" z-tree="{
                inData:'$root.history.mocTree',
                outData:'searchPage.data.mocId',
                outParentData:'',
                type:'radio',
                description:'displayName',
                children:'children',
                value:'id',
                depth:2
              }" id="mocTree"></ul>
               </div>
              <div class="col-xs-3">
                  <ul style="border: 1px solid #ccc;height: 200px;width: 200px;overflow: auto;padding: 10px 0 10px 15px;" class="ztree" class="ztree" z-tree="{
                inData:'searchPage.datas.metricTree',
                outData:'searchPage.data.metrics',
                outParentData:'',
                type:'all_checkbox',
                description:'displayName',
                children:'children',
                value:'id',
                depth:2
              }" id="metricTree"></ul>
              </div>
              <div class="col-xs-6">
                  <ul style="border: 1px solid #ccc;height: 200px;width: 500px;overflow: auto;padding: 10px 0 10px 15px;" class="ztree" z-tree="{
                inData:'searchPage.datas.ruleTree',
                outData:'searchPage.data.rules',
                outParentData:'',
                type:'checkbox',
                description:'displayName',
                children:'children',
                value:'id',
                depth:1
              }" id="moTree"></ul>
            </div>
        </div>
            <div class="row">
                <br/>
                <div class="col-xs-12">
                    <button class="btn"  ng-click="listPage.action.search()">查询</button>
                </div>
            </div>
        </div>
        <!-- 数据列表 -->
        <div class="pr">
           <div class="list_button" >
                <button id="ex" class="btn"  ng-click="listPage.action.export();" style="display:none;">导出数据</button>
           </div>
             <div style="overflow: auto;">
                <div id="aabb" >
                    <table id="datatable" class="table" style="border: 1px solid #ccc;"></table>
                </div>
             </div>
            <!--<div style="overflow: auto;" >
                <div id="aabb" style="width:1700px">
                <table  class="table"><tbody><tr><th>资源实例</th><th>资源类型组</th><th>资源类型</th><th>虚拟内存使用大小(MB)</th><th>虚拟内存可用大小(MB)</th><th>用户使用率(%)</th><th>物理内存可用大小(MB)</th><th>系统使用率(%)</th><th>物理内存使用率(%)</th><th>空闲率(%)</th><th>IO等待率(%)</th><th>状态()</th><th>虚拟内存总大小(MB)</th><th>虚拟内存使用率(%)</th><th>总使用率(%)</th><th>物理内存使用大小(MB)</th><th>总使用率(%)</th></tr></tbody></table>
                </div>
            </div>-->
        </div>
    </div>
</div>
