<div dialog info="historyAddDialog" data="addPage.data" class="ldialog">
        <div id="dlg" class="dialog-con" style="height:400px;overflow: auto;">
            <table class="modal-table">
                <tr>
                    <td class="row-lable"> 规则名称 </td>
                    <td><input type="text" value="[资源实例][指标组-指标][索引值]" ng-maxlength="30" readonly /></td>
                </tr>
                <tr>
                    <td class="row-lable"> 规则状态 </td>
                    <td>
                        <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="addPage.data.active" checked/>
                        <span class="lbl"></span>
                    </td>
                </tr>
                <tr>
                    <td class="row-lable"> 采集间隔 </td>
                    <td>
                        <select ng-model="addPage.data.sampleInterval" class="yinput">
                            <option ng-repeat="i in $root.history.const.intervals" value={{i.value}}> {{i.label}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="vt row-lable"> 资源选择 </td>
                    <td class="pt10">
                        <div class="sour_choose_box di" style="width:705px">
                            <div class="sour_choose_boxt pr">
                                <span>资源类型</span>
                                <select id="jmocid" ng-model="addPage.data.mocId" class="yinput">
                                    <option ng-repeat="type in addPage.datas.mocs" value={{type[$root.history.const.json.moType.value]}}>
                                        {{type[$root.history.const.json.moType.description]}}
                                    </option>
                                </select>
                            </div>
                            <div class="sour_choose_boxm clearfix">
                                <div class="sour_choose_boxm_l left" style="width:444px;">
                                    <div class="sour_choose_boxm_head"> 指标类型</div>
                                    <div class="sour_choose_boxm_lcon">
                                                            <ul class="ztree" z-tree="{
                                        inData:'addPage.datas.metricTree',
                                        outData:'addPage.data.metricsId',
                                        outParentData:'',
                                        type:'all_checkbox',
                                        description:'displayName',
                                        children:'children',
                                        value:'id',
                                        depth:2
                                      }" id="metricTree"></ul>
                                    </div>
                                </div>
                                <div class="sour_choose_boxm_r right">
                                    <div class="sour_choose_boxm_head">资源实例</div>
                                    <div class="sour_choose_boxm_rcon">
                                                        <ul id="moTree" class="ztree" z-tree="{
                                        inData:'addPage.datas.moTree',
                                        outData:'addPage.data.mosId',
                                        outParentData:'',
                                        type:'all_checkbox',
                                        description:'displayName',
                                        children:'children',
                                        value:'id',
                                        depth:2}">
                                      </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sour_choose_boxb">
                                <form name="formcreate" novalidate>
                                    <input type="hidden" ng-model="addPage.hidden.metric" required/>
                                    <input type="hidden" ng-model="addPage.hidden.mo" required/>
                                    <button class="btn btn-primary" ng-disabled="formcreate.$invalid" ng-click="listPreparePage.action.getData()" >命中规则</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="aaa" style="display: none">
                <table class="modal-table mt20">
                    <tr>
                        <td class="vt row-lable"> 命中的规则 </td>
                        <td>
                            <div class="sour_choose_box mt10" style="width:705px">
                                <div class="sour_choose_boxt pr">
                                    <span>资源实例</span>
                                    <select ng-model="addPage.data.molistId" style="width: 150px">
                                        <option value=""> 不限</option>
                                        <option ng-repeat="type in addPage.datas.molist" value={{type['id']}}>
                                            {{type['displayName']}}
                                        </option>
                                    </select>
                                    <span>指标组</span>
                                    <select ng-model="addPage.data.indicatorlistId" style="width: 150px">
                                        <option value=""> 不限</option>
                                        <option ng-repeat="type in addPage.datas.indicatorlist" value={{type['id']}}>
                                            {{type['displayName']}}
                                        </option>
                                    </select>
                                    <span>指标</span>
                                    <select ng-model="addPage.data.metriclistId" style="width: 150px">
                                        <option value=""> 不限</option>
                                        <option ng-repeat="type in addPage.datas.metriclist" value={{type['id']}}>
                                            {{type['displayName']}}
                                        </option>
                                    </select>
                                    <button class="btn btn-primary" ng-click="listPreparePage.settings.reload(true)">查询</button>
                                </div>
                                <table jq-table="listPreparePage.settings" class="table"></table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <form name="form" novalidate>
            <div class="modal-footer">
                <input type="hidden" ng-model="addPage.hidden.checkedList" required/>
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="historyAddDialog.save()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </form>
</div>