<link rel="stylesheet" type="text/css" href="css/history/history.css">
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>数据分析</a>
        <a class="current">趋势分析</a>
    </bread-crumb>
    <div class="page-content">
        <div class="mellow-wrapper">
            <button class="btn" ng-click="listPage.action.add();">
                添加
            </button>
        </div>
        <div class="mellow-wrapper mt20">
            <div id="container" style="height: 700px;border:1px solid #ccc;"></div>
        </div>
        <div id="tbl" class="pr mt20" style="display: none">
            <table jq-table="listPageTrend.settings" class="table"></table>
        </div>
    </div>
</div>

<!-- 弹出框 历史记录规则-->
<div dialog info="historyRuleDialog" class="ldialog">
    <div class="dialog-con">
        <div class="search-head" style="display:block">
        <div class="row">
            <label>资源类型：</label>
            <select ng-model="searchPage.pmocId">
                <option value="">不限</option>
                <option ng-repeat="type in $root.history.mocTree"
                        value={{type[$root.history.const.json.moType.value]}}>
                    {{type[$root.history.const.json.moType.description]}}
                </option>
            </select>
            <select id="jmocid" ng-model="searchPage.mocId">
                <option value="">不限</option>
                <option ng-repeat="type in searchPagedata.mocs"
                        value={{type[$root.history.const.json.moType.value]}}>
                    {{type[$root.history.const.json.moType.description]}}
                </option>
            </select>


            <label>资源实例：</label>
            <input type="text" ng-model="searchPage.moName" maxlength="30"/>
            <label>规则状态：</label>
            <select ng-model="searchPage.active">
                <option value="">不限</option>
                <option value=true>启用</option>
                <option value=false>停用</option>
            </select>
        </div>
        <div class="row">
            <label>指标类型：</label>
            <select ng-model="searchPage.indicatorId">
                <option value=""> 不限</option>
                <option ng-repeat="type in searchPagedata.indicators"
                        value={{type[$root.history.const.json.metric.value]}}>
                    {{type[$root.history.const.json.metric.description]}}
                </option>
            </select>
            <select ng-model="searchPage.metricId">
                <option value=""> 不限</option>
                <option ng-repeat="type in searchPagedata.metrics"
                        value={{type[$root.history.const.json.metric.value]}}>
                    {{type[$root.history.const.json.metric.description]}}
                </option>
            </select>

            <label>规则名称：</label>
            <input type="text" ng-model="searchPage.displayName" maxlength="30"/>
            <button class="btn" ng-click="listPage.settings.reload(true)">查询</button>
        </div>
        </div>
        <div class="mt20">
            <table jq-table="listPage.settings" class="table" style="width: 1000px"></table>
        </div>
    </div>
</div>
