/* 颜色阈值设置 */
.xntp_aca_conb_box span {
    display: inline-block;
    font-size: 12px;
    margin: 0 2px;
    color: #69696b;
    vertical-align: 3px;
}

.xntp_aca_conb_linebox {
    width: 85%;
    height: 12px;
    display: inline-block;
    background: #e1dddc;
    border-radius: 14px;
    -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

.xntp_aca_conb_linebox > div {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

/* 阀值刻度线 */
.xntp_aca_conb_line, .xntp_aca_conb_linea, .xntp_aca_conb_lineb {
    position: absolute;
    top: 5px;
    height: 3px;
}
.line-red{
    background: #de4e43;
}
.line-green{
    background: #0fa460;
}
.line-yellow{
    background: #f8c63d;
}
.xntp_aca_conb_line {
    width: 100%;
    z-index: 1;
}
.xntp_aca_conb_linea {
    z-index: 3;
}
.xntp_aca_conb_lineb {
    z-index: 2;
}

/* 阀值输入框 */
.xntp_aca_conb_linea_box {
    position: absolute;
    top: -35px;
}

.xntp_aca_conb_linea_box .text {
    display: inline-block;
    position: absolute;
    text-align: center;
}

.xntp_aca_conb_linea_box input {
    display: inline-block;
    height: 20px;
    width: 30px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    color: #424242;
    background: #fff;
    border: 0 none;
    border: 1px solid #aaa;
    position: absolute;
    right: -20px;
    border-radius: 5px !important;
}

.xntp_aca_conb_linea_box em {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    position: absolute;
    top: 16px;
    right: -6px;
    z-index: 2;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.xntp_aca_conb_linea_box p {
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    right: -12px;
    cursor: pointer;
    top: 28px;
    z-index: 5;
    background: url(wlgl_icone.png) no-repeat;
}



