<link rel="stylesheet" type="text/css" href="css/dashboard/dashboard.css"/>
<div class="content" ng-controller="eventRoleCtrl">
    <bread-crumb>
        <a>监控</a>
        <a>日志监控</a>
        <a class="current">日志规则</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div class="search-head">
            <form name="sform" novalidate>
            <div class="row">
                <label>资源类型：</label>
                <select ng-model="searchPage.data.mocpId" name="mocpId" ng-change="searchPage.data.mocId=''">
                    <option value="">不限</option>
                    <option ng-value="moc.id" ng-repeat="moc in $root.history.mocTree | filter:funcFilter">{{moc.displayName}}</option>
                </select>
                <select ng-model="searchPage.data.mocId" name="mocId">
                    <option value="">不限</option>
                    <option value="{{moc.id}}" ng-if="moc.parentId==searchPage.data.mocpId"
                            ng-repeat="moc in searchPage.mocs">{{moc.displayName}}</option>
                </select>
                <label> 规则名称：</label>
                <!--<input type="text" ng-model="searchPage.data.name"  ng-maxlength="255"  ng-pattern="/^[^'']*$/"/>-->
                <input type="text" ng-model="searchPage.data.name"  ng-maxlength="255" />
                <label> 规则状态：</label>
                <select ng-model="searchPage.data.active">
                    <option value="">不限</option>
                    <option value="1"> 启用</option>
                    <option value="0"> 停用</option>
                </select>
                <label>更新时段：</label>
                <input type="text" ng-model="searchPage.data.starttime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                <!--<label class="n1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>-->
                <input type="text" ng-model="searchPage.data.endtime" jq-date format="yyyy-mm-dd hh:ii" readonly/>
                <button class="btn" ng-click="searchPage.action.search()" ng-disabled="sform.$invalid">查询</button>
            </div>
            </form>
        </div>
        <!-- 数据列表 -->
        <div class="pr">
            <div class="list_button">
                <button type="button" class="btn" ng-click="listPage.action.add()" ng-disabled="loginUserMenuMap[currentView]">新增</button>
                <button type="button" class="btn" ng-click="listPage.action.removeAll()" ng-disabled="loginUserMenuMap[currentView]">删除</button>
                <button type="button" class="btn" ng-click="listPage.action.active(true)" ng-disabled="loginUserMenuMap[currentView]">启用</button>
                <button type="button" class="btn" ng-click="listPage.action.active(false)" ng-disabled="loginUserMenuMap[currentView]">停用</button>
            </div>
            <table jq-table="listPage.settings" class="table"></table>
        </div>
    </div>

    <div dialog info="roleDailog" data="roleDailog.model">
        <form name="form" novalidate>
            <div class="dialog-con" style="overflow: auto">
                <table class="modal-table">
                    <tr>
                        <td class="row-lable"> 规则名称 </td>
                        <td>
                            <input type="text" id="name" ng-model="roleDailog.model.name"  style="width:330px" name="name"
                                   maxlength="100" required  ng-pattern="/^[^<>]*$/"/>
                            <span class="required">*</span>
                            <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                                <span ng-show="form.name.$error.required">此项不能为空.</span>
                                <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                                <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">不能输入‘<’或‘>’.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 规则状态</td>
                        <td>
                            <label style="margin-top: -5px;">
                                <input type="checkbox" id="active" class="ace ace-switch ace-switch-4" ng-model="addPage.data.active" value=true/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 事件等级</td>
                        <td>
                            <span class="radio" ng-repeat="l in  $root.alarm.const.levels">
                                <label>
                                    <input class="ace" type="radio" ng-model="roleDailog.model.level" value={{l.value}}>
                                    <span class="lbl"></span>
                                </label>
                                <span compile="l.label"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 检测间隔</td>
                        <td>
                            <select ng-model="roleDailog.model.interval" style="width:330px" required>
                                <option value="{{l.name}}" ng-repeat="l in intervalList">{{l.value}}</option>
                            </select>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td class="row-lable"> 事件类型</td>-->
                        <!--<td>-->
                            <!--<div class="inline-group">-->
                                <!--<span class='radio'><label><input class="ace" type='radio' name="type" ng-model="roleDailog.model.type" ng-disabled="roleDailog.model.id" ng-change="roleDailog.change()" value="0"/><span class="lbl"></span></label>日志</span>-->
                                <!--<span class='radio'><label><input class="ace" type='radio' name="type" ng-model="roleDailog.model.type" ng-disabled="roleDailog.model.id" ng-change="roleDailog.change()" value="1"/><span class="lbl"></span></label>告警</span>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr  ng-show="roleDailog.moHidden">
                        <td class="row-lable"> 资源类型</td>
                        <td>
                            <input type="text" ng-model="roleDailog.mocName"  style="width:330px" name="name" ng-disabled="true"/>
                            <span class="required">*</span>
                        </td>
                    </tr>
                    <tr  ng-show="roleDailog.moHidden">
                        <td class="row-lable"> 资源实例</td>
                        <td>
                            <input type="text" ng-model="roleDailog.moName"  style="width:330px" name="name" ng-disabled="true"/>
                            <span class="required">*</span>
                        </td>
                    </tr>
                    <tr  ng-show="!roleDailog.moHidden">
                        <td class="vt row-lable"> 资源选择</td>
                        <td class="pt10">
                            <div class="sour_choose_box di" style="width:500px">
                                <div class="sour_choose_boxm clearfix" style="border-bottom: 0;">
                                    <div class="sour_choose_boxm_l left" style="width:249px;">
                                        <div class="sour_choose_boxm_head"> 资源类型</div>
                                        <div class="sour_choose_boxm_lcon" ng-disabled="true">
                                            <ul id="{{roleDailog.mocTree.treeId}}" user-ztree="roleDailog.mocTree" class="ztree"></ul>
                                        </div>
                                    </div>
                                    <div class="sour_choose_boxm_r right">
                                        <div class="sour_choose_boxm_head">资源实例</div>
                                        <div class="sour_choose_boxm_rcon" ng-disabled="true">
                                            <ul id="{{roleDailog.moTree.treeId}}" user-ztree="roleDailog.moTree" class="ztree"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="required di vt">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 规则表达式</td>
                        <td>
                            <input type="hidden" ng-model="roleDailog.model.mocId" required/>
                            <input type="hidden" ng-model="roleDailog.model.moId" required/>
                            <input type="text"  name="rule" ng-model="roleDailog.model.rule" style="width:330px" ng-maxlength="255" placeholder="+message:用户 +message:admin" required/>
                            <span class="required">*</span>
                            <div class="required" ng-show="form.rule.$dirty && form.rule.$invalid">
                                <span ng-show="form.rule.$error.required">此项不能为空.</span>
                                <span ng-show="!form.rule.$error.required && form.rule.$error.maxlength">超出长度限制.</span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="row-lable"> 事件内容 </td>
                        <td class="row">
                            <textarea ng-model="roleDailog.model.content" name="content" style="width:330px" ng-maxlength="255" required
                                      ng-pattern="/^[^<>]*$/"></textarea>
                            <div class="required">
                                <span ng-show="form.content.$error.maxlength">超出长度限制.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 通知方式</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checklist-value="'sms'" checklist-model="roleDailog.data.notifyMethod">
                                    <i></i>
                                </label>
                                短信
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checklist-value="'email'" checklist-model="roleDailog.data.notifyMethod">
                                    <i></i>
                                </label>
                                邮件
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="vt row-lable"> 通知人 </td>
                        <td class="pt10">
                            <input type="hidden" ng-model="roleDailog.model.notifier" name="notifier"/>
                            <ul id="{{roleDailog.userTree.treeId}}" user-ztree="roleDailog.userTree" class="ztree" ></ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-lable"> 备注 </td>
                        <td>
                            <textarea ng-model="roleDailog.model.remark" name="remark" style="width:330px" ng-maxlength="255" ng-pattern="/^[^<>]*$/"></textarea>
                            <div class="warn">
                                <span ng-show="form.remark.$error.maxlength">超出长度限制.</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="roleDailog.save();form.$setPristine();">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="form.$setPristine();">取消</button>
            </div>
        </form>
    </div>
</div>

