<style>
    .td-text{
        padding: 0px;
        float:left;
        width:85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="content" ng-controller="logCtrl">
    <bread-crumb>
        <a>监控</a>
        <a>日志监控</a>
        <a class="current">日志分析</a>
    </bread-crumb>
    <div class="page-content" >
        <div class="mellow-wrapper hd">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list_button">
                        <button class="btn" ng-click="addDiv.add()" >添加</button>
                        <button class="btn" ng-click="searchPage.action.remove(-1)" >删除</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="!addDiv.show">
                <div class="col-xs-12">
                    <table class="table" style="border: 1px solid #ccc;margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th width="10%"><input type="checkbox" ng-model="searchPage.checkAllRow" style="width: 40px;margin: 10px;"/></th>
                            <th width="40%">搜索条件</th>
                            <th width="20%">开始时段</th>
                            <th width="20%">结束时段</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="searchPage.rules.length==0">
                            <td colspan="5">请添加搜索条件</td>
                        </tr>
                        <tr ng-repeat="l in searchPage.rules">
                            <td><input type="checkbox" ng-model="l.checked" style="width: 40px;margin: 10px;"/></td>
                            <td><label class="td-text" title={{l.query}} style="text-align: left;margin-top:10px;">{{l.query}}</label></td>
                            <td>{{l.begin}}</td>
                            <td>{{l.end}}</td>
                            <td style="text-align: center"><div style="width: 60px;margin:0px;padding: 0px;"><i title="编辑" class="fa fa-pencil" ng-click="addDiv.add($index)"></i><i title="删除" class="fa fa-trash-o" style="margin-left: 10px;" ng-click="searchPage.action.remove($index)"></i></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="addDiv.show">
                <div class="col-xs-12" >
                    <div style="border: 1px solid #ccc;padding: 10px;">
                      <div class="row">
                        <div class="col-xs-12">
                        <label>数据时段：</label>
                        <label style="width: 30px;">&nbsp;</label>
                        <input type="text" ng-model="addDiv.begin" format="yyyy-mm-dd hh:ii"
                               min-date="2014-01-01"
                               allow-clear="false"
                               jq-date
                               style="width: 120px;"
                               readonly/>
                        <label class="n1">至</label>
                        <input type="text" ng-model="addDiv.end" format="yyyy-mm-dd hh:ii"
                               min-date="2014-01-01" allow-clear="false"
                               jq-date style="width: 120px;" readonly/>
                        </div>
                    </div>
                      <div class="row mt10">
                        <div class="col-xs-12">
                          <label>数据字段：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增加日志分析规则</label>
                          <label><i title="增加" class="fa fa-plus-square" style="margin-left: 175px;" ng-click="addDiv.next()" ></i></label>
                        </div>
                        <div class="col-xs-12" ng-repeat="m in addDiv.models">
                            <!--<label ng-show="$index==0" >数据字段：</label>-->
                            <label ng-show="$index==0"  style="width: 94px;">&nbsp;</label>
                            <input ng-show="$index>0" type="checkbox" ng-model="m.checked" style="width: 20px;margin-top: 10px;margin-right: 10px;"/>
                            <select ng-show="$index>0" ng-model="m.t1" style="width: 50px;margin-right: 10px;">
                                <option value="+">与</option>
                                <option value=""> 或</option>
                                <option value="-">非</option>
                            </select>
                            <select  ng-model="m.t2" id="t{{$index}}" style="margin-right: 0px;width: 120px;">
                                <option value="{{l}}" ng-repeat="l in addDiv.columns">{{l}}</option>
                            </select>
                            <label style="width: 10px;margin-right: 0px;">：</label>
                            <input type="text" ng-model="m.t3" style="margin-right: 10px;width: 120px;" maxlength="33"/>
                            <!--<label><i ng-if="$index==0" class="fa fa-plus-square" style="margin-left: 10px;" ng-click="addDiv.next()" ></i></label>-->
                            <label><i  title="删除" ng-if="$index>=0"  class="fa fa-trash-o" style="margin-left: 6px;" ng-click="addDiv.delete($index)"></i></label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-xs-12">
                            <button class="btn" ng-click="addDiv.save()" >保存</button>
                            <button class="btn" ng-click="addDiv.cancel()" >取消</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!--<div class="row" style="margin-top: 16px;">-->

            <!--</div>-->
        </div>
        <div class="pr mt20">
            <div class="list_button">
                <select ng-model="searchPage.type" style="width: 90px;margin-right: 10px;">
                    <option value="0">搜索视图</option>
                    <option value="1">对比视图</option>
                </select>
                <label ng-show="searchPage.type==1">分组：</label>
                <select ng-model="addDiv.groupBy" ng-show="searchPage.type==1">
                    <option value="{{l}}" ng-if="l!='host'" ng-repeat="l in addDiv.columns">{{l}}</option>
                </select>
                <button class="btn"  ng-disabled="searchPage.type==0?searchPage.rules.length==0:(searchPage.rules.length==0 || addDiv.groupBy==null)" ng-click="searchPage.action.search()">查询</button>
                <!--<button class="btn"  ng-disabled="loginUserMenuMap[currentView] || searchPage.type==0?searchPage.rules.length==0:(searchPage.rules.length==0 || addDiv.groupBy==null)" ng-click="searchPage.action.add()">保存规则</button>-->
                <button class="btn"  ng-disabled="loginUserMenuMap[currentView]" ng-show="!searchPageHidden" ng-click="searchPage.action.add()">保存规则</button>
                <button class="btn" ng-show="t || ruleId"  ng-click="searchPage.action.back()">返回</button>
            </div>
        </div>
        <DIV ng-show="searchPage.detailShow &&searchPage.type==1">
            <div class="pr" style="border: 1px solid #ccc;margin-top: 16px;">
                <div class="row" style="margin: 0px;">
                    <table class="table" style="padding: 0px;margin: 0px;">
                        <thead>
                            <tr>
                                <th>host</th>
                                <th>{{addDiv.groupBy}}</th>
                                <th ng-repeat="l in groupTable.head">{{l}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="groupTable.body.length==0"><td colspan="2">对不起，查询不到任何相关数据</td></tr>
                            <tr ng-repeat="l in groupTable.body">
                                <td>{{l.host}}</td>
                                <td>{{l[addDiv.groupBy]}}</td>
                                <td ng-repeat="r in groupTable.head">{{l[r]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </DIV>
        <DIV ng-show="searchPage.type==0">
        <!--<div ng-show="$index>0?l.query:true"  class="pr" style="border: 1px solid #ccc;padding: 0px;overflow: auto;margin-top: 16px;" ng-repeat="l in searchPage.rules">-->
        <div ng-show="searchPage.detailShow&&searchPage.type==0"  class="pr" style="border: 1px solid #ccc;padding: 0px;overflow: auto;margin-top: 16px;" ng-repeat="l in searchPage.rules">
            <div  ng-show="l.query&&l.checked">
                <!--规则{{$index+1}}-->
                <a title="详情" ng-model="searchPage.LogdetailIndex" class="fa fa-list-alt" style="float:right;margin-right:10px;" href="javascript:" ng-click="searchPage.action.search3($index)"></a>
                <label class="fa fa-lightbulb-o" title="Syslog单位时间内日志数量统计，默认一根柱子统计1个小时内接收消息总数。" style="float:right;margin-right:-10px;margin-top:26px;"></label>
            </div>
            <div id="logChart{{$index}}" ng-show="l.checked" style="width: 96%; height: 200px"></div>
        </div>
        <!-- 数据列表 -->
        <div class="pr" style="margin-top: 16px;" ng-show="searchPage.LogdetailShow">
            <div class="row" style="margin: 0px;">
                <div  class="col-xs-1" style="border: 1px solid #ccc;padding: 0px;overflow: auto;">
                    <!--<table class="table">-->
                    <table style="width:100%;margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th>显示字段</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in searchPage.data.columns">
                                <td >
                                    <span class='checkbox'><label><input type='checkbox' checklist-model="listPage.head" checklist-value="t"/><i></i></label>{{t}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div  class="col-xs-11" style="border: 1px solid #ccc;padding: 0px;padding-right: 2px;overflow: auto;">
                    <table class="table" style="width:100%;margin-bottom: 0px;table-layout: fixed;white-space: nowrap;">
                        <thead>
                            <tr>
                                <th ng-show="listPage.head.length==0">&nbsp;</th>
                                <th ng-repeat="t in listPage.head">{{t}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in listPage.body">
                                <td ng-repeat="h in listPage.head" title="{{t[h]}}">{{t[h]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <ul class="pagination" style="float:right" ng-show="searchPage.data.total>0">
                        <li ng-class="{true:'disabled'}[!(searchPage.data.pages[0]!=1)]"><a class="pn" href="javascript:" ng-click="searchPage.data.page=1;searchPage.data.offset=0;listPage.action.search();" >首页</a></li>
                        <li>
                            <a ng-show="searchPage.data.pages[0]!=1"
                               ng-click="
                        searchPage.data.page=searchPage.data.pages[0]-5;
                        searchPage.data.offset=(searchPage.data.pages[0]-2)*searchPage.data.limit;
                        listPage.action.search();" class="pn" href="javascript:" >...</a>
                        </li>
                        <li ng-repeat="page in searchPage.data.pages" ng-class="searchPage.data.offset/searchPage.data.limit+1==page?'active':''">
                            <a href="javascript:" ng-click="searchPage.data.offset=(page-1)*searchPage.data.limit;listPage.action.search()">{{page}}</a>
                        </li>
                        <li>
                            <a ng-show="searchPage.data.pages[searchPage.data.pages.length-1]!=searchPage.data.pageTotal"
                               ng-click="
                       searchPage.data.page=searchPage.data.pages[searchPage.data.pages.length-1]+1;
                       searchPage.data.offset=(searchPage.data.page-1)*searchPage.data.limit;
                       listPage.action.search();" class="pn" href="javascript:">...</a></li>
                        <li ng-class="{true:'disabled'}[!(searchPage.data.pages[searchPage.data.pages.length-1]!=searchPage.data.pageTotal)]"><a class="pn" href="javascript:" ng-click="searchPage.data.page=searchPage.data.pageTotal>5?searchPage.data.pageTotal:1;searchPage.data.offset=searchPage.data.total%searchPage.data.limit==0?searchPage.data.total-searchPage.data.limit:searchPage.data.total-searchPage.data.total%searchPage.data.limit;listPage.action.search();" >末页</a></li>
                    </ul>

            </div>
        </div>
        </DIV>
    </div>

    <div dialog info="roleDailog" data="roleDailog.model">
        <form name="form" novalidate>
            <div class="dialog-con" style="overflow: auto">
                <div class="row">
                    <div class="col-xs-6">
                        <label>规则名称</label>
                        <div class="row">
                            <input type="text" id="name" ng-model="roleDailog.model.name"  name="name"
                                   ng-maxlength="100" required  ng-pattern="/^[^<>]*$/"/>
                            <span class="required">*</span>
                        </div>
                        <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                            <span ng-show="form.name.$error.required">此项不能为空.</span>
                            <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                            <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">不能输入‘<’或‘>’.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="roleDailog.save();form.$setPristine();">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="form.$setPristine();">取消</button>
            </div>
        </form>
    </div>
</div>

