<link rel="stylesheet" type="text/css" href="css/resource/resource.css">
<div class="content" ng-controller="logRuleCtrl">
    <bread-crumb>
        <a>监控</a>
        <a>日志监控</a>
        <a class="current">分析规则</a>
        <a class="search-link ">高级搜索</a>
    </bread-crumb>
    <div class="page-content">
        <div class="search-head">
            <form name="sform" novalidate>
            <div class="row">
                <label> 规则名称：</label>
                <input type="text" ng-model="searchPage.data.name" ng-maxlength="255"  />
                <button class="btn" ng-click="searchPage.action.search()" ng-disabled="sform.$invalid">查询</button>
            </div>
            </form>
        </div>
        <!-- 数据列表 -->
        <div class="pr">
            <div class="list_button">
                <button type="button" class="btn" ng-click="listPage.action.add2()" ng-disabled="loginUserMenuMap[currentView]">新增</button>
                <button type="button" class="btn" ng-click="listPage.action.removeAll()" ng-disabled="loginUserMenuMap[currentView]">删除</button>
            </div>
            <table jq-table="listPage.settings" class="table"></table>
        </div>
    </div>

    <div dialog info="roleDailog" data="roleDailog.model">
        <form name="form" novalidate>
            <div class="dialog-con" style="overflow: auto">
                <div class="row">
                    <div class="col-xs-6">
                        <label>规则名称</label>
                        <div class="row">
                            <input type="text" id="name" ng-model="roleDailog.model.name"  name="name"
                                   ng-maxlength="100" required  ng-pattern="/^[^<>]*$/"/>
                            <span class="required">*</span>
                        </div>
                        <div class="warn" ng-show="form.name.$dirty && form.name.$invalid">
                            <span ng-show="form.name.$error.required">此项不能为空.</span>
                            <span ng-show="!form.name.$error.required && form.name.$error.maxlength">超出长度限制.</span>
                            <span ng-show="!form.name.$error.required && !form.name.$error.maxlength && form.name.$error.pattern">不能输入‘<’或‘>’.</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>查询表达式
                            <span class="required">(例: +message:错误 +severity_label:Error)</span></label>
                        <div class="row">
                            <input type="text" ng-model="roleDailog.model.query" name="query" ng-maxlength="255"
                                   required/>
                            <span class="required">*</span>
                        </div>
                        <div class="warn" ng-show="form.query.$dirty && form.query.$invalid">
                            <span ng-show="form.query.$error.required">此项不能为空.</span>
                            <span ng-show="!form.query.$error.required && form.query.$error.maxlength">超出长度限制.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>开始时间</label>
                        <div class="row">
                            <select id="beginh" ng-model="searchPage.data.beginh" style="width: 60px;">
                                <option ng-repeat="i in [] | loop:0:23:1" value="{{(i+'').length==1?'0'+i:i}}"> {{(i+'').length==1?'0'+i:i}} </option>
                            </select>
                            <label class="n1">：</label>
                            <select id="beginm" ng-model="searchPage.data.beginm" style="width: 60px;">
                                <option ng-repeat="i in [] | loop:0:59:1" value="{{(i+'').length==1?'0'+i:i}}">{{(i+'').length==1?'0'+i:i}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label>结束时间</label>
                        <div class="row">
                            <select id="endh" ng-model="searchPage.data.endh" style="width: 60px;">
                                <option ng-repeat="i in [] | loop:0:23:1" value="{{(i+'').length==1?'0'+i:i}}">{{(i+'').length==1?'0'+i:i}} </option>
                            </select>
                            <label class="n1">：</label>
                            <select id="endm"  ng-model="searchPage.data.endm" style="width: 60px;">
                                <option ng-repeat="i in [] | loop:0:59:1" value="{{(i+'').length==1?'0'+i:i}}">{{(i+'').length==1?'0'+i:i}}  </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>资源类型<span class="required">*</span></label>
                        <ul id="{{roleDailog.mocTree.treeId}}" user-ztree="roleDailog.mocTree" class="ztree"></ul>
                    </div>
                    <div class="col-xs-6">
                        <label>资源实例<span class="required">*</span></label>
                        <ul id="{{roleDailog.moTree.treeId}}" user-ztree="roleDailog.moTree" class="ztree"></ul>
                        <input type="hidden" ng-model="roleDailog.model.mocpId" required/>
                        <input type="hidden" ng-model="roleDailog.model.mocId" required/>
                        <input type="hidden" ng-model="roleDailog.model.moId" required/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="form.$setPristine();">取消</button>
                <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="roleDailog.save();form.$setPristine();">确定</button>
            </div>
        </form>
    </div>
</div>

