<link rel="stylesheet" type="text/css" href="css/history/history.css">
<link rel="stylesheet" type="text/css" href="css/overview/overview.css"/>
<div class="content">
    <bread-crumb>
        <a>监控</a>
        <a>日志监控</a>
        <a class="current">日志展现</a>
        <span class="settingBtn-div">
            <a id="setting" title="设置" class="setting-off" ng-click="toggleSetting()"><i class="fa fa-cog"></i></a>
            <a id="saveSettingBtn" title="保存" class="" ng-click="savePanels()"><i class="fa fa-save"></i></a>
            <a id="showDialogBtn" title="添加" class="" ng-click="showAddDialog()"><i class="fa fa-plus-square"></i></a>
        </span>
    </bread-crumb>

    <iframe src="http://172.16.3.25:3000/lua/hosts_stats.lua" width="100%" height="600" frameborder=0 scrolling=no>
    </iframe>
    <layout-tb>
        <panel-bottom>
            <!--html内容-->
            <div class=""page-content id="flowchartBottomDiv">
                <div ng-repeat="chart in flowchart.chartList track by $index">
                    <div class="col-xs-6 widget-container-span">
                        <widget-box>
                            <widget-header></widget-header>
                            <widget-body>
                                <div class="flowchartDiv"></div>
                            </widget-body>
                        </widget-box>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn" ng-click="flowchart.showChart()">查询</button>
                </div>
            </div>
        </panel-bottom>
    </layout-tb>
</div>