<div class="modal fade" id="{{alertData.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog alert-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body tip_c">
          <div class="msg-icon"></div>
          <div class="msg-text">{{alertData.info}}</div>
      </div>
      <div class="modal-footer footer-bg">
         <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>