<widget-box>
    <widget-header>
        <h5>基本信息</h5>
    </widget-header>
    <widget-body>
        <div class="panel-wrapper">
            <ul>
                <li ng-repeat="m in panelBase[1]" ng-show="m.key">
                    <div class="td-label" title="{{m.name}}">{{( m.name!=null
                        && m.name.length)>0?m.name+' :':''}}
                    </div>
                    <div class="td-value"
                         title="{{(m.value && (m.value+'').indexOf('<i'))>-1?'':m.value}}"
                         compile="m.value?m.value:''"></div>
                </li>
            </ul>
        </div>
    </widget-body>
</widget-box>