<widget-box>
    <widget-header>
        <h5>概况</h5>
    </widget-header>
    <widget-body>
        <table class="simple-table tc">
            <tr>
                <td  width="25%" title="{{(panelBase[0][0].value && (panelBase[0][0].value+'').indexOf('<i'))>-1?'':panelBase[0][0].value}}" compile="panelBase[0][0].value?panelBase[0][0].value:''"></td>
                <td  width="25%" title="{{(panelBase[0][1].value && (panelBase[0][1].value+'').indexOf('<i'))>-1?'':panelBase[0][1].value}}" compile="panelBase[0][1].value?panelBase[0][1].value:''"></td>
                <td  width="50%">
                    <div class="alarm-bar">
                        <div class="default" ng-if="alarmCountObj.totalCount == 0"></div>
                        <div class="level2" style="width:{{alarmCountObj.percent}}%;" ng-if="alarmCountObj.2>0">{{alarmCountObj.2}}</div>
                        <div class="level3" style="width:{{alarmCountObj.percent}}%;" ng-if="alarmCountObj.3>0">{{alarmCountObj.3}}</div>
                        <div class="level4" style="width:{{alarmCountObj.percent}}%;" ng-if="alarmCountObj.4>0">{{alarmCountObj.4}}</div>
                        <div class="level5" style="width:{{alarmCountObj.percent}}%;" ng-if="alarmCountObj.5>0">{{alarmCountObj.5}}</div>
                        <div class="level6" style="width:{{alarmCountObj.percent}}%;" ng-if="alarmCountObj.6>0">{{alarmCountObj.6}}</div>
                    </div>
                </td>
            </tr>
            <tr><td>通断状态</td><td>监控状态</td><td>告警( <a href="../../index.html#/alarmReal?moId={{param.moId}}">{{alarmCountObj.totalCount}}</a> )</td></tr>
        </table>
    </widget-body>
</widget-box>